In [6]:
import sqlite3
import pandas as pd

In [17]:
def get_df(sql):
        conn = sqlite3.connect('db.sqlite3')
        resp = pd.read_sql_query(sql, conn)
        conn.close()

        return resp

In [18]:
get_df("""SELECT UtilityName, StateName, count(*) from vizpoc group by UtilityName, StateName;""")

                        UtilityName StateName  count(*)
0                CenterPoint Energy     Texas     16970
1  Rusk County Electric Cooperative     Texas       769

In [19]:
get_df("""SELECT UtilityName,  count(*) from vizpoc group by UtilityName;""")

                        UtilityName  count(*)
0                CenterPoint Energy     16970
1  Rusk County Electric Cooperative       769

In [31]:
x = get_df("""SELECT CountyName,UtilityName, count(*) from vizpoc group by CountyName,UtilityName;""")

In [38]:
x.set_index(['CountyName', 'UtilityName'])

                                             count(*)
CountyName UtilityName
Fort Bend  CenterPoint Energy                   16970
           Rusk County Electric Cooperative       769