In [2]:
import sqlite3
import pandas as pd
import datetime

In [3]:
def get_df(sql):
    conn = sqlite3.connect('db.sqlite3')
    resp = pd.read_sql_query(sql, conn)
    conn.close()
    return resp

In [14]:
def df_row_to_db(row, conn):
    try:
        cur = conn.cursor()
        #date_obj = datetime.date(*map(int, row[1].split('-')))
        date_obj= row[1]
        query = "insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values ({}, '{}', {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {})".format(
                row[0], date_obj, row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13])
        print('inserting: {}'.format(query))
        cur.execute(query)
        cur.execute('commit')
        print('inserted')
    except:
        pass
    finally:
        cur.close()

In [15]:
try:
    df = pd.read_csv('/home/ha.jain/work/myprojects/MetricsVisualization/WebApp/EOD-HD.csv', header=None)
    conn = sqlite3.connect('db.sqlite3')
    df.apply(df_row_to_db, conn=conn, axis=1)
except:
    pass
finally:
    conn.close()

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1, '2017-12-28', 190.91, 190.98, 189.64, 189.78, 3175631, 0.0, 1, 185.3411724, 185.4091305, 184.10821819999998, 184.2441344, 3175631)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (2, '2017-12-27', 190.6, 191.49, 190.01, 190.19, 5912613, 0.0, 1, 185.04021509999998, 185.90425380000002, 184.4674253, 184.6421747, 5912613)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (3, '2017-12-26', 188.53, 190.42, 188.34, 190.36, 2969182, 0.0, 1, 183.0305968, 184.8654656, 182.8461391, 184.8072158, 2969182)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (4, '2017-12-22', 188.2, 188.46, 187.27, 188.13, 3256519, 0.0, 1, 182.71022280000003, 182.96263869999999, 181.80735090000002, 182.6422647, 3256519)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (5, '2017-12-21', 187.7, 188.84, 187.44, 188.08, 5859058, 0.0, 1, 182.2248078, 183.3315541, 181.97239199999999, 182.59372319999997, 5859058)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (6, '2017-12-20', 187.14, 187.9024, 186.035, 187.31, 5383672, 0.0, 1, 181.681143, 182.4213038, 180.6083757, 181.8461841, 5383672)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (7, '2017-12-19', 185.235, 186.72, 184.6, 185.98, 4496706, 0.0, 1, 179.8317116, 181.2733943, 179.2152345, 180.55498, 4496706)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (8, '2017-12-18', 183.96, 185.47, 183.5, 184.73, 5011827, 0.0, 1, 178.5939033, 180.05985669999998, 178.1473214, 179.3414424, 5011827)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (9, '2017-12-15', 183.005, 183.21, 182.13, 182.58, 8201699, 0.0, 1, 177.6667605, 177.8657807, 176.8172842, 177.25415769999998, 8201699)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (10, '2017-12-14', 183.88, 184.0, 182.06, 182.13, 3542677, 0.0, 1, 178.5162369, 178.6327365, 176.7493261, 176.8172842, 3542677)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (11, '2017-12-13', 182.01, 183.67, 182.0, 183.03, 5176749, 0.0, 1, 176.7007846, 178.3123625, 176.6910763, 177.69103130000002, 5176749)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (12, '2017-12-12', 182.75, 183.21, 181.66, 181.8, 5274935, 0.0, 1, 177.4191989, 177.8657807, 176.3609941, 176.49691030000002, 5274935)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (13, '2017-12-11', 182.9, 182.96, 181.1201, 182.25, 6038891, 0.0, 1, 177.56482340000002, 177.6230732, 175.8368429, 176.93378380000001, 6038891)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (14, '2017-12-08', 182.5, 183.9, 182.16, 183.41, 5091538, 0.0, 1, 177.1764913, 178.5356535, 176.8464091, 178.05994669999998, 5091538)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (15, '2017-12-07', 180.05, 182.58, 179.77, 182.0, 5484611, 0.0, 1, 174.7979576, 177.25415769999998, 174.5261252, 176.6910763, 5484611)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (16, '2017-12-06', 180.25, 182.15, 178.68, 180.8, 6891093, 0.0, 1, 174.9921236, 176.83670080000002, 173.46792040000003, 175.5260802, 6891093)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (17, '2017-12-05', 184.79, 184.91, 182.2589, 182.85, 6347228, 0.0, 1, 179.39969219999998, 179.5161919, 176.94242419999998, 177.51628190000002, 6347228)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (18, '2017-12-04', 183.19, 186.31, 183.19, 184.9, 6192507, 0.0, 1, 177.8463641, 180.87535400000002, 177.8463641, 179.5064836, 6192507)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (19, '2017-12-01', 180.32, 180.6, 176.7, 180.42, 4682482, 0.0, 1, 175.06008169999998, 175.3319142, 171.54567680000002, 175.15716469999998, 4682482)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (20, '2017-11-30', 178.07, 180.67, 177.41, 179.82, 9179321, 0.0, 1, 172.875714, 175.39987230000003, 172.23496619999997, 174.5746667, 9179321)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (21, '2017-11-29', 176.57, 178.43, 175.68, 177.25, 4901810, 0.89, 1, 171.4194689, 173.2252129, 170.5554301, 172.0796334, 4901810)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (22, '2017-11-28', 174.89, 176.77, 172.9911, 176.57, 6048963, 0.0, 1, 168.9401992, 170.75624109999998, 167.10590019999998, 170.56304519999998, 6048963)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (23, '2017-11-27', 172.87, 174.91, 172.38, 174.16, 4539428, 0.0, 1, 166.9889201, 168.9595188, 166.51559, 168.23503390000002, 4539428)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (24, '2017-11-24', 172.11, 173.1, 171.7425, 172.33, 1853587, 0.0, 1, 166.2547754, 167.2110954, 165.8997779, 166.467291, 1853587)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (25, '2017-11-22', 172.89, 172.94, 172.04, 172.06, 4132897, 0.0, 1, 167.0082397, 167.05653859999998, 166.18715690000002, 166.20647649999998, 4132897)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (26, '2017-11-21', 170.53, 172.86, 170.15, 172.86, 6228970, 0.0, 1, 164.7285274, 166.97926030000002, 164.3614551, 166.97926030000002, 6228970)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (27, '2017-11-20', 168.14, 170.69, 167.8, 170.45, 4697484, 0.0, 1, 162.4198358, 164.88308419999998, 162.09140269999997, 164.6512491, 4697484)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (28, '2017-11-17', 167.0, 168.43, 166.06, 167.74, 4530027, 0.0, 1, 161.3186189, 162.69997, 160.4105979, 162.0334439, 4530027)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (29, '2017-11-16', 166.68, 167.76, 166.06, 167.5, 4585477, 0.0, 1, 161.0095054, 162.0527635, 160.4105979, 161.80160880000003, 4585477)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (30, '2017-11-15', 167.44, 167.44, 165.35, 165.47, 5534520, 0.0, 1, 161.74365, 161.74365, 159.7247523, 159.8406699, 5534520)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (31, '2017-11-14', 163.62, 168.14, 163.15, 168.06, 10281508, 0.0, 1, 158.0536073, 162.4198358, 157.5995969, 162.3425574, 10281508)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (32, '2017-11-13', 164.64, 166.64, 164.25, 165.35, 7175307, 0.0, 1, 159.03890669999998, 160.9708662, 158.66217460000001, 159.7247523, 7175307)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (33, '2017-11-10', 163.34, 164.58, 162.93, 164.11, 3554220, 0.0, 1, 157.78313300000002, 158.98094790000002, 157.3870813, 158.5269374, 3554220)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (34, '2017-11-09', 164.1, 164.135, 162.28, 163.27, 3381255, 0.0, 1, 158.51727759999997, 158.5510869, 156.7591945, 157.71551440000002, 3381255)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (35, '2017-11-08', 163.34, 164.68, 163.27, 164.05, 2661622, 0.0, 1, 157.78313300000002, 159.0775459, 157.71551440000002, 158.46897859999999, 2661622)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (36, '2017-11-07', 164.09, 164.4, 162.83, 163.66, 3198129, 0.0, 1, 158.50761780000002, 158.8070715, 157.2904833, 158.09224650000002, 3198129)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (37, '2017-11-06', 164.8, 164.88, 163.01, 164.22, 3275219, 0.0, 1, 159.1934634, 159.2707418, 157.4643597, 158.6331952, 3275219)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (38, '2017-11-03', 163.01, 164.99, 162.68, 164.39, 3080591, 0.0, 1, 157.4643597, 159.3769996, 157.1455864, 158.7974117, 3080591)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (39, '2017-11-02', 165.01, 165.01, 160.53, 162.71, 6517095, 0.0, 1, 159.3963192, 159.3963192, 155.06872990000002, 157.1745658, 6517095)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (40, '2017-11-01', 166.42, 166.74, 165.12, 165.38, 3568321, 0.0, 1, 160.7583506, 161.0674642, 159.502577, 159.75373169999997, 3568321)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (41, '2017-10-31', 165.4, 166.34, 165.1, 165.78, 2922416, 0.0, 1, 159.7730513, 160.6810723, 159.4832574, 160.1401236, 2922416)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (42, '2017-10-30', 166.99, 166.99, 164.88, 165.31, 3906231, 0.0, 1, 161.3089591, 161.3089591, 159.2707418, 159.6861131, 3906231)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (43, '2017-10-27', 166.8, 167.75, 166.46, 167.34, 3720385, 0.0, 1, 161.125423, 162.0431037, 160.7969898, 161.647052, 3720385)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (44, '2017-10-26', 166.39, 167.94, 166.1068, 167.65, 3750129, 0.0, 1, 160.72937130000003, 162.2266399, 160.4558058, 161.9465057, 3750129)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (45, '2017-10-25', 166.11, 166.95, 165.3803, 166.09, 2945980, 0.0, 1, 160.4588969, 161.2703199, 159.75402150000002, 160.4395773, 2945980)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (46, '2017-10-24', 164.67, 166.46, 164.65, 166.03, 3686538, 0.0, 1, 159.0678861, 160.7969898, 159.0485665, 160.3816185, 3686538)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (47, '2017-10-23', 164.04, 166.265, 163.75, 164.74, 3995025, 0.0, 1, 158.4593188, 160.6086238, 158.17918469999998, 159.13550469999998, 3995025)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (48, '2017-10-20', 163.97, 164.15, 162.74, 163.43, 4166481, 0.0, 1, 158.3917003, 158.56557659999999, 157.20354519999998, 157.87007119999998, 4166481)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (49, '2017-10-19', 163.5, 164.11, 162.77, 163.24, 2675062, 0.0, 1, 157.93768980000002, 158.5269374, 157.2325245, 157.68653500000002, 2675062)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (50, '2017-10-18', 163.42, 164.24, 163.35, 163.45, 2758595, 0.0, 1, 157.8604114, 158.6525148, 157.7927928, 157.8893908, 2758595)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (51, '2017-10-17', 164.22, 164.92, 161.5111, 163.35, 4189096, 0.0, 1, 158.6331952, 159.309381, 156.01645259999998, 157.7927928, 4189096)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (52, '2017-10-16', 164.47, 164.67, 163.26, 164.22, 2586716, 0.0, 1, 158.87469009999998, 159.0678861, 157.70585459999998, 158.6331952, 2586716)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (53, '2017-10-13', 164.92, 166.0699, 164.35, 164.47, 3258984, 0.0, 1, 159.309381, 160.4201611, 158.75877260000001, 158.87469009999998, 3258984)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (54, '2017-10-12', 165.41, 165.41, 164.47, 164.59, 3397775, 0.0, 1, 159.7827111, 159.7827111, 158.87469009999998, 158.99060769999997, 3397775)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (55, '2017-10-11', 165.19, 165.865, 164.45, 165.25, 2319274, 0.0, 1, 159.5701956, 160.22223190000003, 158.85537050000002, 159.6281543, 2319274)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (56, '2017-10-10', 165.7, 165.8, 164.64, 165.16, 2755398, 0.0, 1, 160.06284519999997, 160.15944319999997, 159.03890669999998, 159.54121619999998, 2755398)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (57, '2017-10-09', 166.14, 166.63, 165.42, 165.71, 2131587, 0.0, 1, 160.4878763, 160.9612064, 159.7923709, 160.072505, 2131587)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (58, '2017-10-06', 166.18, 166.63, 165.74, 165.85, 2916121, 0.0, 1, 160.52651550000002, 160.9612064, 160.1014844, 160.20774219999998, 2916121)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (59, '2017-10-05', 165.07, 166.25, 164.26, 166.12, 3504865, 0.0, 1, 159.45427800000002, 160.5941341, 158.6718344, 160.4685567, 3504865)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (60, '2017-10-04', 165.49, 166.08, 164.91, 165.29, 2746513, 0.0, 1, 159.8599895, 160.42991750000002, 159.2997212, 159.6667935, 2746513)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (61, '2017-10-03', 164.06, 165.28, 164.0, 165.17, 3046281, 0.0, 1, 158.4786384, 159.65713369999997, 158.4206796, 159.550876, 3046281)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (62, '2017-10-02', 164.2, 164.25, 163.22, 164.02, 2721377, 0.0, 1, 158.6138756, 158.66217460000001, 157.6672154, 158.4399992, 2721377)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (63, '2017-09-29', 162.5, 163.61, 162.15, 163.56, 3465252, 0.0, 1, 156.97171, 158.0439475, 156.63361709999998, 157.9956486, 3465252)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (64, '2017-09-28', 160.72, 162.45, 160.66, 162.36, 4613200, 0.0, 1, 155.25226609999999, 156.92341100000002, 155.19430730000002, 156.83647280000002, 4613200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (65, '2017-09-27', 161.38, 161.69, 160.14, 160.92, 3966113, 0.0, 1, 155.8898127, 156.1892664, 154.69199780000002, 155.44546200000002, 3966113)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (66, '2017-09-26', 161.55, 162.0, 160.79, 161.26, 3222646, 0.0, 1, 156.0540292, 156.4887201, 155.3198846, 155.77389509999998, 3222646)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (67, '2017-09-25', 160.05, 161.43, 159.75, 161.1, 4896374, 0.0, 1, 154.6050596, 155.93811169999998, 154.3152657, 155.6193384, 4896374)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (68, '2017-09-22', 159.14, 160.09, 159.01, 159.97, 3576079, 0.0, 1, 153.72601799999998, 154.6436988, 153.60044069999998, 154.5277812, 3576079)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (69, '2017-09-21', 158.87, 159.556, 158.72, 159.19, 3082093, 0.0, 1, 153.4652035, 154.1278656, 153.3203065, 153.774317, 3082093)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (70, '2017-09-20', 157.57, 159.39, 157.36, 158.68, 4598009, 0.0, 1, 152.2094298, 153.967513, 152.0065741, 153.2816674, 4598009)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (71, '2017-09-19', 157.8, 158.32, 157.16, 157.66, 3712727, 0.0, 1, 152.43160519999998, 152.9339146, 151.8133781, 152.296368, 3712727)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (72, '2017-09-18', 159.0, 159.0, 157.69, 157.81, 4010587, 0.0, 1, 153.5907809, 153.5907809, 152.32534740000003, 152.441265, 4010587)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (73, '2017-09-15', 159.98, 159.99, 158.29, 158.4, 9124244, 0.0, 1, 154.537441, 154.5471008, 152.90493519999998, 153.011193, 9124244)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (74, '2017-09-14', 160.35, 160.85, 159.33, 159.38, 5287433, 0.0, 1, 154.89485349999998, 155.37784340000002, 153.9095542, 153.9578532, 5287433)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (75, '2017-09-13', 160.39, 161.38, 159.55, 160.02, 4713676, 0.0, 1, 154.9334927, 155.8898127, 154.1220697, 154.57608019999998, 4713676)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (76, '2017-09-12', 159.06, 160.93, 158.71, 159.91, 5793753, 0.0, 1, 153.6487397, 155.4551218, 153.3106467, 154.46982250000002, 5793753)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (77, '2017-09-11', 158.42, 158.74, 156.22, 158.37, 8847928, 0.0, 1, 153.03051259999998, 153.3396261, 150.9053572, 152.9822136, 8847928)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (78, '2017-09-08', 159.09, 160.69, 157.52, 159.66, 10088630, 0.0, 1, 153.6777191, 155.2232867, 152.16113080000002, 154.22832749999998, 10088630)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (79, '2017-09-07', 158.17, 159.28, 156.79, 157.93, 8264524, 0.0, 1, 152.7890177, 153.8612552, 151.45596559999998, 152.55718249999998, 8264524)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (80, '2017-09-06', 154.86, 157.03, 154.145, 156.56, 8126012, 0.0, 1, 149.5916247, 151.68780080000002, 148.90094919999999, 151.2337903, 8126012)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (81, '2017-09-05', 151.71, 153.92, 151.7, 152.93, 7512387, 0.0, 1, 146.5487885, 148.6836037, 146.5391287, 147.7272838, 7512387)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (82, '2017-09-01', 150.26, 150.94, 149.76, 150.78, 3383036, 0.0, 1, 145.1481178, 145.8049841, 144.66512790000002, 145.65042730000002, 3383036)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (83, '2017-08-31', 150.61, 150.925, 149.85, 149.87, 6083340, 0.0, 1, 145.4862107, 145.7904944, 144.75206609999998, 144.7713857, 6083340)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (84, '2017-08-30', 150.0, 150.25, 149.28, 150.0, 3640966, 0.0, 1, 144.8969631, 145.138458, 144.2014577, 144.8969631, 3640966)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (85, '2017-08-29', 150.07, 150.9, 149.03, 149.84, 5368178, 0.89, 1, 144.96458169999997, 145.7663449, 143.95996269999998, 144.7424063, 5368178)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (86, '2017-08-28', 151.94, 152.39, 150.43, 151.39, 6843168, 0.0, 1, 145.90434030000003, 146.3364645, 144.45432350000002, 145.3761885, 6843168)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (87, '2017-08-25', 148.51, 150.53, 148.4, 149.65, 3047971, 0.0, 1, 142.6105935, 144.5503511, 142.5049632, 143.7053082, 3047971)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (88, '2017-08-24', 149.73, 150.6, 147.98, 148.25, 3735364, 0.0, 1, 143.7821303, 144.6175704, 142.10164719999997, 142.3609218, 3735364)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (89, '2017-08-23', 148.58, 149.48, 147.4271, 149.1, 5235444, 0.0, 1, 142.6778129, 143.5420613, 141.57071059999998, 143.1771564, 5235444)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (90, '2017-08-22', 149.29, 150.58, 149.29, 149.91, 3267404, 0.0, 1, 143.35960880000002, 144.5983649, 143.35960880000002, 143.95498, 3267404)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (91, '2017-08-21', 147.1, 149.88, 146.89, 149.2, 4222423, 0.0, 1, 141.2566043, 143.9261717, 141.0549464, 143.27318400000001, 4222423)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (92, '2017-08-18', 149.61, 149.61, 146.96, 147.49, 6989147, 0.0, 1, 143.6668972, 143.6668972, 141.12216569999998, 141.631112, 6989147)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (93, '2017-08-17', 151.81, 152.15, 149.61, 149.67, 4460870, 0.0, 1, 145.7795044, 146.1059983, 143.6668972, 143.7245137, 4460870)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (94, '2017-08-16', 151.45, 152.95, 151.16, 152.25, 6043303, 0.0, 1, 145.4338051, 146.87421909999998, 145.155325, 146.2020259, 6043303)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (95, '2017-08-15', 154.275, 154.8, 148.26, 150.17, 13528650, 0.0, 1, 148.14658490000002, 148.65072980000002, 142.37052450000002, 144.20465180000002, 13528650)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (96, '2017-08-14', 156.04, 156.05, 153.56, 154.26, 6662484, 0.0, 1, 149.8414721, 149.85107480000002, 147.4599875, 148.1321807, 6662484)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (97, '2017-08-11', 154.11, 155.72, 153.98, 154.88, 3650541, 0.0, 1, 147.98813930000003, 149.53418369999997, 147.8633034, 148.7275519, 3650541)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (98, '2017-08-10', 155.19, 155.98, 153.88, 153.88, 4432313, 0.0, 1, 149.0252374, 149.7838555, 147.76727580000002, 147.76727580000002, 4432313)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (99, '2017-08-09', 153.35, 155.57, 153.32, 155.26, 3844857, 0.0, 1, 147.2583295, 149.3901423, 147.22952130000002, 149.0924568, 3844857)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (100, '2017-08-08', 153.32, 154.2, 153.08, 153.35, 3218945, 0.0, 1, 147.22952130000002, 148.0745642, 146.999055, 147.2583295, 3218945)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (101, '2017-08-07', 152.83, 154.47, 152.47, 153.35, 3833620, 0.0, 1, 146.75898600000002, 148.3338387, 146.4132866, 147.2583295, 3833620)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (102, '2017-08-04', 151.01, 152.75, 150.8, 152.75, 3258581, 0.0, 1, 145.01128359999998, 146.6821639, 144.8096257, 146.6821639, 3258581)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (103, '2017-08-03', 150.7, 152.03, 150.5, 150.79, 5146465, 0.0, 1, 144.713598, 145.99076519999997, 144.52154280000002, 144.80002290000002, 5146465)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (104, '2017-08-02', 149.94, 150.86, 149.92, 150.5, 3754192, 0.0, 1, 143.98378830000001, 144.8672422, 143.9645827, 144.52154280000002, 3754192)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (105, '2017-08-01', 150.24, 150.39, 148.95, 149.85, 4110605, 0.0, 1, 144.2718711, 144.4159125, 143.03311499999998, 143.89736340000002, 4110605)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (106, '2017-07-31', 148.0, 149.98, 147.54, 149.6, 5253318, 0.0, 1, 142.12085280000002, 144.0221993, 141.6791258, 143.6572944, 5253318)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (107, '2017-07-28', 147.9, 148.27, 147.32, 148.08, 3421081, 0.0, 1, 142.02482519999998, 142.3801273, 141.46786509999998, 142.19767480000002, 3421081)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (108, '2017-07-27', 146.18, 147.86, 145.89, 147.73, 5399029, 0.0, 1, 140.3731504, 141.9864141, 140.09467030000002, 141.8615782, 5399029)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (109, '2017-07-26', 146.86, 147.245, 145.96, 146.69, 2835975, 0.0, 1, 141.0261381, 141.39584440000002, 140.1618897, 140.86289119999998, 2835975)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (110, '2017-07-25', 145.74, 147.4, 145.28, 146.97, 5002381, 0.0, 1, 139.9506289, 141.5446871, 139.508902, 141.1317684, 5002381)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (111, '2017-07-24', 146.61, 146.69, 144.25, 144.58, 7294422, 0.0, 1, 140.7860691, 140.86289119999998, 138.5198176, 138.83670869999997, 7294422)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (112, '2017-07-21', 147.03, 147.46, 146.13, 146.65, 9120167, 0.0, 1, 141.18938500000002, 141.60230369999996, 140.32513659999998, 140.8244801, 9120167)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (113, '2017-07-20', 152.56, 152.57, 145.61, 147.03, 18258694, 0.0, 1, 146.4997115, 146.5093142, 139.825793, 141.18938500000002, 18258694)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (114, '2017-07-19', 152.55, 154.0, 152.55, 153.3, 2808385, 0.0, 1, 146.49010869999998, 147.882509, 146.49010869999998, 147.2103157, 2808385)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (115, '2017-07-18', 153.75, 153.86, 151.98, 152.17, 3783567, 0.0, 1, 147.6424399, 147.74807030000002, 145.9427514, 146.1252038, 3783567)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (116, '2017-07-17', 152.9, 154.5, 152.72, 153.89, 4166468, 0.0, 1, 146.8262053, 148.362647, 146.6533556, 147.77687859999997, 4166468)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (117, '2017-07-14', 153.22, 153.67, 151.82, 152.88, 3588205, 0.0, 1, 147.1334936, 147.5656179, 145.7891072, 146.8069998, 3588205)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (118, '2017-07-13', 152.82, 154.13, 152.6, 153.29, 3287961, 0.0, 1, 146.74938319999998, 148.0073448, 146.53812250000001, 147.20071299999998, 3287961)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (119, '2017-07-12', 151.46, 153.14, 151.09, 152.59, 4275878, 0.0, 1, 145.44340780000002, 147.05667160000002, 145.08810569999997, 146.5285197, 4275878)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (120, '2017-07-11', 151.45, 151.81, 150.5, 150.6, 5641983, 0.0, 1, 145.4338051, 145.7795044, 144.52154280000002, 144.6175704, 5641983)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (121, '2017-07-10', 152.22, 152.26, 151.0, 151.18, 5081101, 0.0, 1, 146.1732176, 146.21162869999998, 145.00168090000003, 145.1745305, 5081101)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (122, '2017-07-07', 152.04, 152.87, 151.9, 152.23, 3775383, 0.0, 1, 146.0003679, 146.797397, 145.8659293, 146.18282040000003, 3775383)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (123, '2017-07-06', 151.77, 152.48, 151.22, 152.05, 3408538, 0.0, 1, 145.7410934, 146.4228894, 145.2129416, 146.0099707, 3408538)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (124, '2017-07-05', 154.01, 154.295, 151.46, 152.69, 4432537, 0.0, 1, 147.8921117, 148.16579040000002, 145.44340780000002, 146.6245474, 4432537)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (125, '2017-07-03', 154.39, 154.79, 153.71, 154.01, 1658535, 0.0, 1, 148.2570166, 148.641127, 147.6040289, 147.8921117, 1658535)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (126, '2017-06-30', 152.51, 154.0, 152.27, 153.4, 3640801, 0.0, 1, 146.45169769999998, 147.882509, 146.2212314, 147.3063433, 3640801)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (127, '2017-06-29', 152.77, 153.0, 151.52, 152.16, 2855395, 0.0, 1, 146.7013694, 146.9222329, 145.5010244, 146.1156011, 2855395)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (128, '2017-06-28', 152.75, 153.45, 152.36, 153.23, 5084618, 0.0, 1, 146.6821639, 147.3543571, 146.30765630000002, 147.14309640000002, 5084618)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (129, '2017-06-27', 151.06, 153.25, 150.75, 152.24, 4567125, 0.0, 1, 145.05929740000002, 147.16230190000002, 144.7616118, 146.19242309999998, 4567125)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (130, '2017-06-26', 151.67, 151.97, 151.13, 151.42, 4128535, 0.0, 1, 145.6450658, 145.9331486, 145.1265167, 145.40499680000002, 4128535)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (131, '2017-06-23', 155.16, 155.23, 150.91, 151.31, 11422231, 0.0, 1, 148.9964292, 149.0636485, 144.915256, 145.2993664, 11422231)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (132, '2017-06-22', 156.44, 157.07, 155.47, 155.48, 3347363, 0.0, 1, 150.2255825, 150.8305564, 149.2941147, 149.3037175, 3347363)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (133, '2017-06-21', 157.91, 158.53, 156.43, 156.59, 4071298, 0.0, 1, 151.6371882, 152.2325594, 150.2159797, 150.3696239, 4071298)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (134, '2017-06-20', 158.73, 159.2242, 157.6, 157.67, 4201226, 0.0, 1, 152.42461459999998, 152.899183, 151.33950269999997, 151.406722, 4201226)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (135, '2017-06-19', 156.91, 159.03, 156.39, 158.81, 5195484, 0.0, 1, 150.6769122, 152.71269740000002, 150.1775687, 152.5014367, 5195484)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (136, '2017-06-16', 156.25, 156.69, 155.41, 156.64, 9105408, 0.0, 1, 150.04313, 150.46565149999998, 149.23649819999997, 150.4176377, 9105408)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (137, '2017-06-15', 156.13, 157.27, 154.92, 156.77, 3972260, 0.0, 1, 149.9278969, 151.0226116, 148.7659629, 150.5424736, 3972260)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (138, '2017-06-14', 154.5, 157.28, 153.96, 156.76, 5999411, 0.0, 1, 148.362647, 151.03221430000002, 147.8440979, 150.5328708, 5999411)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (139, '2017-06-13', 152.31, 154.04, 152.06, 153.99, 3753767, 0.0, 1, 146.2596425, 147.92092, 146.0195735, 147.8729062, 3753767)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (140, '2017-06-12', 152.8, 153.3, 151.73, 152.18, 4473919, 0.0, 1, 146.73017769999998, 147.2103157, 145.70268240000001, 146.1348066, 4473919)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (141, '2017-06-09', 154.0, 154.0, 152.78, 152.96, 4705349, 0.0, 1, 147.882509, 147.882509, 146.7109722, 146.88382190000002, 4705349)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (142, '2017-06-08', 155.16, 155.2335, 153.3801, 153.5, 4041556, 0.0, 1, 148.9964292, 149.06700940000002, 147.28723380000002, 147.4023709, 4041556)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (143, '2017-06-07', 154.69, 155.3, 154.35, 154.96, 3158964, 0.0, 1, 148.5450994, 149.1308678, 148.2186056, 148.8043739, 3158964)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (144, '2017-06-06', 154.44, 154.66, 153.65, 154.2, 3260265, 0.0, 1, 148.3050304, 148.5162911, 147.54641230000001, 148.0745642, 3260265)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (145, '2017-06-05', 155.53, 155.62, 154.23, 154.79, 2651789, 0.0, 1, 149.3517313, 149.4381561, 148.1033724, 148.641127, 2651789)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (146, '2017-06-02', 154.79, 155.86, 154.42, 155.35, 3485310, 0.0, 1, 148.641127, 149.6686224, 148.2858249, 149.17888159999998, 3485310)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (147, '2017-06-01', 153.52, 155.16, 152.74, 155.15, 3384233, 0.0, 1, 147.4215765, 148.9964292, 146.6725612, 148.98682639999998, 3384233)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (148, '2017-05-31', 154.36, 154.38, 153.28, 153.51, 7158383, 0.0, 1, 148.2282083, 148.2474138, 147.1911102, 147.4119737, 7158383)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (149, '2017-05-30', 154.0, 154.56, 153.52, 153.88, 3504291, 0.89, 1, 147.882509, 148.4202635, 147.4215765, 147.76727580000002, 3504291)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (150, '2017-05-26', 156.1, 156.42, 154.64, 154.9, 4284660, 0.0, 1, 149.0370986, 149.3426199, 147.6431578, 147.8913938, 4284660)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (151, '2017-05-25', 156.2, 156.69, 155.35, 156.46, 3110736, 0.0, 1, 149.132574, 149.6004035, 148.3210331, 149.3808101, 3110736)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (152, '2017-05-24', 154.7, 155.43, 153.29, 155.0, 4592587, 0.0, 1, 147.70044309999997, 148.3974135, 146.3542399, 147.98686919999997, 4592587)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (153, '2017-05-23', 155.91, 156.43, 154.68, 154.83, 4640854, 0.0, 1, 148.8556954, 149.3521675, 147.68134799999999, 147.8245611, 4640854)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (154, '2017-05-22', 156.49, 157.0, 155.8, 155.96, 3800660, 0.0, 1, 149.40945269999997, 149.8963772, 148.7506724, 148.9034331, 3800660)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (155, '2017-05-19', 156.04, 156.74, 155.32, 156.3, 4781806, 0.0, 1, 148.9798134, 149.64814119999997, 148.2923905, 149.2280494, 4781806)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (156, '2017-05-18', 155.48, 156.665, 155.24, 155.7, 4858557, 0.0, 1, 148.4451512, 149.5765347, 148.2160102, 148.655197, 4858557)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (157, '2017-05-17', 157.08, 157.3, 155.89, 156.09, 5936974, 0.0, 1, 149.9727576, 150.1828034, 148.83660030000001, 149.02755109999998, 5936974)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (158, '2017-05-16', 160.11, 160.86, 158.05, 158.26, 10120878, 0.0, 1, 152.8656622, 153.5817277, 150.8988689, 151.0993673, 10120878)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (159, '2017-05-15', 157.28, 157.84, 156.66, 157.33, 6045540, 0.0, 1, 150.1637084, 150.6983706, 149.57176090000002, 150.2114461, 6045540)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (160, '2017-05-12', 156.39, 157.2, 155.75, 156.92, 2926365, 0.0, 1, 149.3139773, 150.087328, 148.7029347, 149.8199969, 2926365)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (161, '2017-05-11', 157.35, 157.7, 155.33, 156.2, 3929068, 0.0, 1, 150.23054109999998, 150.564705, 148.3019381, 149.132574, 3929068)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (162, '2017-05-10', 157.52, 158.15, 157.3, 158.13, 2617601, 0.0, 1, 150.3928493, 150.99434430000002, 150.1828034, 150.9752493, 2617601)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (163, '2017-05-09', 157.04, 157.74, 156.29, 157.68, 3004377, 0.0, 1, 149.93456740000002, 150.60289519999998, 149.2185019, 150.54561, 3004377)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (164, '2017-05-08', 155.85, 157.16, 155.49, 156.89, 3184576, 0.0, 1, 148.7984101, 150.0491379, 148.4546987, 149.7913543, 3184576)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (165, '2017-05-05', 155.34, 155.75, 154.09, 155.73, 2500636, 0.0, 1, 148.3114856, 148.7029347, 147.1180431, 148.6838397, 2500636)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (166, '2017-05-04', 155.46, 155.64, 154.26, 154.86, 3793067, 0.0, 1, 148.4260561, 148.5979118, 147.2803513, 147.85320369999997, 3793067)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (167, '2017-05-03', 155.16, 155.39, 154.59, 155.0, 2445464, 0.0, 1, 148.13962990000002, 148.3592233, 147.59542009999998, 147.98686919999997, 2445464)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (168, '2017-05-02', 154.49, 155.16, 153.76, 154.95, 3295105, 0.0, 1, 147.4999447, 148.13962990000002, 146.8029743, 147.9391315, 3295105)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (169, '2017-05-01', 156.22, 156.27, 154.21, 154.21, 3152949, 0.0, 1, 149.1516691, 149.19940680000002, 147.2326136, 147.2326136, 3152949)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (170, '2017-04-28', 156.01, 156.25, 154.102, 156.1, 4983041, 0.0, 1, 148.9511708, 149.18031169999998, 147.1295002, 149.0370986, 4983041)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (171, '2017-04-27', 154.69, 156.27, 153.89, 156.12, 5881432, 0.0, 1, 147.6908955, 149.19940680000002, 146.92709230000003, 149.0561937, 5881432)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (172, '2017-04-26', 153.11, 154.8076, 152.4, 154.22, 5120177, 0.0, 1, 146.1823842, 147.8031746, 145.50450890000002, 147.2421611, 5120177)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (173, '2017-04-25', 152.79, 154.65, 152.79, 153.03, 5496453, 0.0, 1, 145.8768629, 147.6527054, 145.8768629, 146.10600390000002, 5496453)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (174, '2017-04-24', 151.08, 152.0601, 150.85, 151.89, 5077174, 0.0, 1, 144.2442336, 145.17998799999998, 144.02464019999996, 145.0175843, 5077174)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (175, '2017-04-21', 148.49, 150.14600000000002, 148.4, 150.0, 5019927, 0.0, 1, 141.7714207, 143.35249340000001, 141.6854929, 143.2130993, 5019927)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (176, '2017-04-20', 147.66, 149.05, 147.44, 148.72, 3700195, 0.0, 1, 140.9789749, 142.306083, 140.768929, 141.9910142, 3700195)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (177, '2017-04-19', 147.93, 148.4, 147.02, 147.22, 3460975, 0.0, 1, 141.2367585, 141.6854929, 140.3679324, 140.5588832, 3460975)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (178, '2017-04-18', 147.06, 148.18, 146.77, 147.76, 2969413, 0.0, 1, 140.4061225, 141.475447, 140.1292439, 141.0744503, 2969413)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (179, '2017-04-17', 145.9, 147.31, 145.76, 147.31, 3467650, 0.0, 1, 139.2986079, 140.644811, 139.1649423, 140.644811, 3467650)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (180, '2017-04-13', 146.42, 147.01, 145.87, 145.91, 2346886, 0.0, 1, 139.79508, 140.3583848, 139.26996530000002, 139.3081554, 2346886)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (181, '2017-04-12', 147.42, 147.57, 146.36700000000002, 146.54, 4445599, 0.0, 1, 140.74983400000002, 140.8930471, 139.74447800000002, 139.9096505, 4445599)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (182, '2017-04-11', 147.91, 148.65, 147.1, 148.2, 2844794, 0.0, 1, 141.21766340000002, 141.9241814, 140.44431269999998, 141.4945421, 2844794)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (183, '2017-04-10', 146.96, 148.995, 146.75, 148.21, 5044458, 0.0, 1, 140.31064709999998, 142.25357150000002, 140.11014880000002, 141.5040896, 5044458)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (184, '2017-04-07', 147.1, 147.8, 146.9, 147.13, 2869120, 0.0, 1, 140.44431269999998, 141.1126405, 140.2533619, 140.4729553, 2869120)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (185, '2017-04-06', 147.04, 147.96, 147.0, 147.24, 2699679, 0.0, 1, 140.3870274, 141.2654011, 140.3488373, 140.5779782, 2699679)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (186, '2017-04-05', 146.63, 148.44, 146.58, 146.64, 3390363, 0.0, 1, 139.9955783, 141.723683, 139.9478406, 140.0051258, 3390363)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (187, '2017-04-04', 146.5, 146.9, 146.05, 146.34, 3124200, 0.0, 1, 139.87146030000002, 140.2533619, 139.441821, 139.7186997, 3124200)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (188, '2017-04-03', 146.94, 147.2005, 146.09, 146.62, 3775283, 0.0, 1, 140.291552, 140.5402655, 139.4800112, 139.9860308, 3775283)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (189, '2017-03-31', 146.87, 147.18, 146.65, 146.83, 3248666, 0.0, 1, 140.22471930000003, 140.520693, 140.01467340000002, 140.1865291, 3248666)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (190, '2017-03-30', 146.72, 147.38, 146.43, 146.95, 2450781, 0.0, 1, 140.08150619999998, 140.71164380000002, 139.80462749999998, 140.30109960000001, 2450781)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (191, '2017-03-29', 146.37, 147.42, 145.96, 147.04, 3729973, 0.0, 1, 139.7473423, 140.74983400000002, 139.35589309999997, 140.3870274, 3729973)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (192, '2017-03-28', 147.29, 147.35, 145.94, 147.2, 4635519, 0.0, 1, 140.6257159, 140.68300119999998, 139.33679809999998, 140.5397881, 4635519)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (193, '2017-03-27', 147.07, 147.68, 146.26, 146.87, 2943006, 0.0, 1, 140.4156701, 140.99806999999998, 139.64231930000003, 140.22471930000003, 2943006)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (194, '2017-03-24', 147.85, 150.15, 147.01, 147.71, 4735350, 0.0, 1, 141.1603782, 143.3563124, 140.3583848, 141.0267126, 4735350)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (195, '2017-03-23', 147.28, 148.41, 147.03, 147.99, 3219352, 0.0, 1, 140.61616840000002, 141.6950404, 140.37747990000003, 141.2940437, 3219352)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (196, '2017-03-22', 146.73, 147.93, 146.06, 147.36, 3169038, 0.0, 1, 140.09105369999997, 141.2367585, 139.4513685, 140.6925487, 3169038)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (197, '2017-03-21', 148.33, 148.7, 146.26, 146.61, 4530019, 0.0, 1, 141.6186601, 141.97191909999998, 139.64231930000003, 139.9764832, 4530019)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (198, '2017-03-20', 149.38, 149.59, 147.7, 147.8, 5906058, 0.0, 1, 142.6211518, 142.8216501, 141.01716509999997, 141.1126405, 5906058)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (199, '2017-03-17', 149.4, 149.99, 148.13, 149.6, 9001961, 0.0, 1, 142.6402469, 143.2035517, 141.4277093, 142.8311977, 9001961)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (200, '2017-03-16', 148.4, 149.19, 148.01, 148.73, 3544464, 0.0, 1, 141.6854929, 142.4397485, 141.3131388, 142.0005617, 3544464)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (201, '2017-03-15', 147.35, 148.38, 146.76, 147.95, 3670513, 0.0, 1, 140.68300119999998, 141.6663978, 140.11969630000002, 141.2558536, 3670513)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (202, '2017-03-14', 147.27, 147.59, 146.46, 147.16, 3272706, 0.0, 1, 140.6066209, 140.91214209999998, 139.8332701, 140.5015979, 3272706)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (203, '2017-03-13', 147.33, 147.67, 146.5, 147.43, 2933276, 0.0, 1, 140.6639061, 140.98852250000002, 139.87146030000002, 140.7593815, 2933276)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (204, '2017-03-10', 147.24, 147.46, 146.45, 146.85, 3122443, 0.0, 1, 140.5779782, 140.7880241, 139.8237226, 140.2056242, 3122443)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (205, '2017-03-09', 147.08, 147.16, 146.53, 146.62, 3594694, 0.0, 1, 140.4252176, 140.5015979, 139.9001029, 139.9860308, 3594694)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (206, '2017-03-08', 146.22, 147.12, 145.92, 146.92, 3614479, 0.0, 1, 139.6041292, 140.46340780000003, 139.317703, 140.272457, 3614479)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (207, '2017-03-07', 146.33, 146.95, 145.83, 146.02, 3995889, 0.89, 1, 139.70915209999998, 140.30109960000001, 139.2317751, 139.4131784, 3995889)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (208, '2017-03-06', 147.13, 147.51, 146.58, 147.13, 3998026, 0.0, 1, 139.6219518, 139.9825604, 139.10001830000002, 139.6219518, 3998026)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (209, '2017-03-03', 148.12, 148.26, 146.82, 147.81, 3413398, 0.0, 1, 140.561432, 140.6942878, 139.32777109999998, 140.2672513, 3413398)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (210, '2017-03-02', 147.08, 148.23, 146.3886, 147.95, 4053352, 0.0, 1, 139.5745033, 140.6658187, 138.9183854, 140.4001071, 4053352)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (211, '2017-03-01', 146.72, 147.6999, 145.891, 146.68, 6213540, 0.0, 1, 139.2328741, 140.1627698, 138.446178, 139.19491530000002, 6213540)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (212, '2017-02-28', 144.98, 145.63, 144.465, 144.91, 4211949, 0.0, 1, 137.58166630000002, 138.19849680000002, 137.09294680000002, 137.51523840000002, 4211949)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (213, '2017-02-27', 145.87, 146.01, 144.8, 145.3, 4388414, 0.0, 1, 138.4262496, 138.5591054, 137.4108517, 137.88533669999998, 4388414)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (214, '2017-02-24', 144.65, 146.0799, 144.65, 145.95, 3516680, 0.0, 1, 137.2685062, 138.6254384, 137.2685062, 138.50216719999997, 3516680)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (215, '2017-02-23', 146.11, 146.33, 144.51, 144.71, 4184046, 0.0, 1, 138.6540024, 138.8627758, 137.1356504, 137.3254444, 4184046)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (216, '2017-02-22', 145.05, 145.47, 143.97, 145.25, 5037762, 0.0, 1, 137.64809419999997, 138.0466616, 136.62320669999997, 137.8378882, 5037762)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (217, '2017-02-21', 145.6, 145.65, 143.25, 145.02, 9274668, 0.0, 1, 138.17002769999996, 138.2174762, 135.9399483, 137.61962509999998, 9274668)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (218, '2017-02-17', 141.36, 143.12, 141.0, 143.0, 5105647, 0.0, 1, 134.14639499999998, 135.8165822, 133.8047658, 135.70270580000002, 5105647)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (219, '2017-02-16', 142.39, 142.985, 140.9, 141.54, 4295811, 0.0, 1, 135.1238341, 135.68847119999998, 133.7098688, 134.31720959999998, 4295811)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (220, '2017-02-15', 141.27, 142.66, 140.95, 142.19, 4343541, 0.0, 1, 134.0609877, 135.380056, 133.75731729999998, 134.93404009999998, 4343541)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (221, '2017-02-14', 139.95, 141.365, 139.34, 141.36, 4775167, 0.0, 1, 132.8083474, 134.1511399, 132.2294757, 134.14639499999998, 4775167)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (222, '2017-02-13', 140.48, 140.65, 139.05, 139.87, 2753068, 0.0, 1, 133.31130149999998, 133.4726264, 131.9542744, 132.7324298, 2753068)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (223, '2017-02-10', 138.6, 140.57, 138.245, 139.85, 3296963, 0.0, 1, 131.5272379, 133.3967088, 131.19035359999998, 132.7134504, 3296963)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (224, '2017-02-09', 137.78, 139.15, 137.41, 138.71, 2931873, 0.0, 1, 130.7490825, 132.0491714, 130.39796370000002, 131.6316246, 2931873)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (225, '2017-02-08', 136.89, 137.91, 136.82, 137.88, 2882742, 0.0, 1, 129.9044993, 130.8724486, 129.83807140000002, 130.8439795, 2882742)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (226, '2017-02-07', 137.16, 137.7, 136.33, 136.65, 3239029, 0.0, 1, 130.1607212, 130.6731649, 129.3730761, 129.6767465, 3239029)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (227, '2017-02-06', 137.43, 137.9, 136.45, 136.49, 3863165, 0.0, 1, 130.4169431, 130.86295890000002, 129.4869525, 129.52491129999999, 3863165)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (228, '2017-02-03', 137.26, 138.47, 136.97, 137.98, 2653721, 0.0, 1, 130.25561820000001, 131.4038718, 129.9804169, 130.9388765, 2653721)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (229, '2017-02-02', 137.47, 137.55, 136.56, 136.95, 2197649, 0.0, 1, 130.4549019, 130.5308194, 129.5913392, 129.9614375, 2197649)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (230, '2017-02-01', 137.66, 137.96, 136.53, 137.44, 2968601, 0.0, 1, 130.6352061, 130.9198971, 129.5628701, 130.4264328, 2968601)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (231, '2017-01-31', 137.63, 138.615, 136.85, 137.58, 3226774, 0.0, 1, 130.606737, 131.5414725, 129.8665405, 130.5592885, 3226774)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (232, '2017-01-30', 137.99, 138.49, 136.86, 138.47, 2704899, 0.0, 1, 130.9483662, 131.4228512, 129.8760302, 131.4038718, 2704899)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (233, '2017-01-27', 138.8, 138.83, 137.7, 138.33, 3149024, 0.0, 1, 131.71703190000002, 131.745501, 130.6731649, 131.271016, 3149024)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (234, '2017-01-26', 138.01, 139.18, 137.71, 138.46, 2931491, 0.0, 1, 130.9673456, 132.0776405, 130.68265459999998, 131.3943821, 2931491)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (235, '2017-01-25', 138.45, 139.37, 137.43, 137.48, 3631714, 0.0, 1, 131.3848924, 132.2579448, 130.4169431, 130.4643916, 3631714)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (236, '2017-01-24', 137.88, 138.38, 137.3, 138.06, 4055080, 0.0, 1, 130.8439795, 131.3184645, 130.293577, 131.0147941, 4055080)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (237, '2017-01-23', 135.31, 138.27, 135.0, 138.07, 7055951, 0.0, 1, 128.4051267, 131.21407779999998, 128.11094599999998, 131.0242838, 7055951)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (238, '2017-01-20', 135.26, 136.0, 134.6, 135.6, 4853702, 0.0, 1, 128.3576782, 129.059916, 127.73135800000001, 128.680328, 4853702)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (239, '2017-01-19', 136.0, 136.78, 134.93, 135.39, 5078666, 0.0, 1, 129.059916, 129.8001126, 128.04451809999998, 128.4810443, 5078666)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (240, '2017-01-18', 135.9, 136.295, 134.92, 136.16, 3869678, 0.0, 1, 128.96501899999998, 129.3398621, 128.0350284, 129.2117512, 3869678)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (241, '2017-01-17', 135.09, 136.48, 134.76, 135.93, 3976936, 0.0, 1, 128.1963533, 129.5154216, 127.88319320000001, 128.9934881, 3976936)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (242, '2017-01-13', 134.92, 135.75, 134.76, 135.04, 3117703, 0.0, 1, 128.0350284, 128.8226735, 127.88319320000001, 128.1489048, 3117703)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (243, '2017-01-12', 135.51, 135.53, 133.94, 135.07, 3600181, 0.0, 1, 128.5949207, 128.6139001, 127.1050379, 128.1773739, 3600181)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (244, '2017-01-11', 136.1, 136.385, 134.74, 135.7, 4643728, 0.0, 1, 129.154813, 129.42526940000002, 127.8642138, 128.775225, 4643728)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (245, '2017-01-10', 134.0, 136.38, 133.77, 136.1, 5928339, 0.0, 1, 127.16197609999999, 129.4205246, 126.94371299999999, 129.154813, 5928339)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (246, '2017-01-09', 133.22, 134.76, 133.14, 134.31, 4310227, 0.0, 1, 126.4217795, 127.88319320000001, 126.34586189999999, 127.45615670000001, 4310227)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (247, '2017-01-06', 133.97, 134.33, 133.05, 133.53, 3827482, 0.0, 1, 127.13350700000001, 127.4751361, 126.26045459999999, 126.7159602, 3827482)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (248, '2017-01-05', 134.98, 135.46, 133.7801, 133.9, 3821073, 0.0, 1, 128.0919666, 128.54747220000002, 126.9532976, 127.0670791, 3821073)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (249, '2017-01-04', 134.34, 135.94, 134.21, 135.5, 4055284, 0.0, 1, 127.48462579999999, 129.0029778, 127.3612597, 128.585431, 4055284)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (250, '2017-01-03', 135.1, 135.51, 133.589, 134.31, 5300410, 0.0, 1, 128.205843, 128.5949207, 126.7719494, 127.45615670000001, 5300410)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (251, '2016-12-30', 135.64, 135.82, 133.83, 134.08, 4149140, 0.0, 1, 128.71828680000002, 128.8891014, 127.00065120000001, 127.23789369999999, 4149140)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (252, '2016-12-29', 135.02, 135.8499, 134.63, 135.1, 2777885, 0.0, 1, 128.1299254, 128.91747560000002, 127.7598271, 128.205843, 2777885)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (253, '2016-12-28', 135.57, 135.86, 134.66, 135.07, 3369386, 0.0, 1, 128.6518589, 128.9270602, 127.7882962, 128.1773739, 3369386)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (254, '2016-12-27', 134.76, 135.72, 134.71, 135.26, 2254748, 0.0, 1, 127.88319320000001, 128.7942044, 127.83574469999999, 128.3576782, 2254748)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (255, '2016-12-23', 135.65, 135.99, 134.79, 135.05, 2337685, 0.0, 1, 128.72777649999998, 129.0504263, 127.91166229999999, 128.1583945, 2337685)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (256, '2016-12-22', 136.25, 137.0, 135.18, 135.43, 4094496, 0.0, 1, 129.2971585, 130.00888600000002, 128.28176059999998, 128.5190031, 4094496)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (257, '2016-12-21', 136.93, 137.24, 136.56, 136.83, 2705503, 0.0, 1, 129.9424581, 130.2366388, 129.5913392, 129.8475611, 2705503)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (258, '2016-12-20', 135.65, 137.24, 135.43, 137.11, 4301529, 0.0, 1, 128.72777649999998, 130.2366388, 128.5190031, 130.11327269999998, 4301529)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (259, '2016-12-19', 135.06, 136.5, 134.79, 135.44, 3463103, 0.0, 1, 128.1678842, 129.534401, 127.91166229999999, 128.5284928, 3463103)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (260, '2016-12-16', 136.11, 136.61, 135.05, 135.11, 9429194, 0.0, 1, 129.1643027, 129.63878770000002, 128.1583945, 128.2153327, 9429194)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (261, '2016-12-15', 136.51, 137.325, 135.77, 135.84, 5839829, 0.0, 1, 129.54389070000002, 130.3173012, 128.8416529, 128.9080808, 5839829)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (262, '2016-12-14', 136.05, 136.88, 135.75, 135.98, 7033396, 0.0, 1, 129.1073645, 129.89500959999998, 128.8226735, 129.04093659999998, 7033396)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (263, '2016-12-13', 134.55, 136.89, 134.55, 136.54, 6886268, 0.0, 1, 127.6839095, 129.9044993, 127.6839095, 129.5723598, 6886268)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (264, '2016-12-12', 133.13, 134.66, 133.13, 134.58, 6276056, 0.0, 1, 126.33637220000001, 127.7882962, 126.33637220000001, 127.71237859999998, 6276056)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (265, '2016-12-09', 132.51, 133.4, 131.1, 133.39, 5174577, 0.0, 1, 125.7480108, 126.59259409999999, 124.4099631, 126.5831044, 5174577)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (266, '2016-12-08', 132.21, 133.13, 131.58, 132.53, 4975219, 0.0, 1, 125.46331979999998, 126.33637220000001, 124.8654687, 125.7669902, 4975219)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (267, '2016-12-07', 128.75, 133.06, 128.75, 132.46, 6987286, 0.0, 1, 122.1798837, 126.26994429999999, 122.1798837, 125.70056229999999, 6987286)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (268, '2016-12-06', 130.13, 130.14, 128.6775, 128.74, 4292631, 0.0, 1, 123.48946229999999, 123.498952, 122.1110834, 122.17039399999999, 4292631)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (269, '2016-12-05', 130.32, 130.46, 129.56, 129.68, 4065425, 0.0, 1, 123.6697666, 123.80262240000002, 122.94854939999999, 123.06242579999999, 4065425)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (270, '2016-12-02', 129.04, 130.615, 128.91, 129.87, 3738323, 0.0, 1, 122.45508500000001, 123.9497127, 122.3317189, 123.2427301, 3738323)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (271, '2016-12-01', 129.34, 130.35, 129.0, 129.47, 5398644, 0.0, 1, 122.739776, 123.69823570000001, 122.41712620000001, 122.86314209999999, 5398644)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (272, '2016-11-30', 129.34, 130.32, 128.81, 129.4, 6972912, 0.0, 1, 122.739776, 123.6697666, 122.23682190000001, 122.7967142, 6972912)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (273, '2016-11-29', 130.35, 130.78, 129.25, 129.62, 4127022, 0.69, 1, 123.69823570000001, 124.10629270000001, 122.65436869999999, 123.0054876, 4127022)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (274, '2016-11-28', 131.25, 131.65, 130.17, 130.64, 4858978, 0.0, 1, 123.89279599999999, 124.270374, 122.8733353, 123.3169895, 4858978)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (275, '2016-11-25', 131.86, 132.135, 131.07, 131.57, 2545977, 0.0, 1, 124.46860249999999, 124.72818740000001, 123.72288590000002, 124.1948584, 2545977)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (276, '2016-11-23', 131.36, 131.99, 130.86, 131.21, 3610150, 0.0, 1, 123.99663000000001, 124.59131540000001, 123.5246574, 123.8550382, 3610150)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (277, '2016-11-22', 128.38, 131.3, 128.38, 130.98, 5533566, 0.0, 1, 121.18367350000001, 123.9399932, 121.18367350000001, 123.63793079999999, 5533566)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (278, '2016-11-21', 128.28, 128.9, 127.41, 128.22, 4072116, 0.0, 1, 121.089279, 121.674525, 120.2680468, 121.03264229999999, 4072116)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (279, '2016-11-18', 128.93, 129.36, 127.72, 128.33, 4428888, 0.0, 1, 121.7028433, 122.10873970000002, 120.56066969999999, 121.1364763, 4428888)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (280, '2016-11-17', 125.87, 129.14, 125.7, 128.93, 6801084, 0.0, 1, 118.8143713, 121.90107179999998, 118.6539006, 121.7028433, 6801084)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (281, '2016-11-16', 123.6, 125.7, 123.28, 125.33, 9778412, 0.0, 1, 116.67161589999999, 118.6539006, 116.3695534, 118.3046409, 9778412)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (282, '2016-11-15', 127.07, 127.67, 122.92, 124.4, 13445388, 0.0, 1, 119.9471054, 120.5134725, 116.0297332, 117.426772, 13445388)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (283, '2016-11-14', 130.5, 130.64, 126.94, 127.67, 11438461, 0.0, 1, 123.1848372, 123.3169895, 119.8243926, 120.5134725, 11438461)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (284, '2016-11-11', 129.06, 130.13, 128.72, 129.85, 5496122, 0.0, 1, 121.8255562, 122.83557749999999, 121.50461489999999, 122.57127279999999, 5496122)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (285, '2016-11-10', 126.72, 130.1, 126.51, 129.03, 8736976, 0.0, 1, 119.6167246, 122.8072591, 119.4184962, 121.7972378, 8736976)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (286, '2016-11-09', 120.95, 126.26, 120.32, 126.02, 8052506, 0.0, 1, 114.17016129999999, 119.18250990000001, 113.57547590000001, 118.9559631, 8052506)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (287, '2016-11-08', 123.95, 125.42, 123.6, 124.25, 6105468, 0.0, 1, 117.00199669999999, 118.389596, 116.67161589999999, 117.28518020000001, 6105468)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (288, '2016-11-07', 122.5, 123.98, 122.31, 123.75, 5510441, 0.0, 1, 115.6332763, 117.03031499999999, 115.4539267, 116.81320759999998, 5510441)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (289, '2016-11-04', 120.54, 121.9, 120.06, 120.91, 4607562, 0.0, 1, 113.7831438, 115.0669092, 113.33005020000002, 114.1324035, 4607562)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (290, '2016-11-03', 120.34, 120.93, 120.08, 120.18, 5113483, 0.0, 1, 113.59435479999999, 114.1512824, 113.34892909999999, 113.4433236, 5113483)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (291, '2016-11-02', 119.93, 121.29, 119.82, 120.29, 4845459, 0.0, 1, 113.20733729999999, 114.4911027, 113.1035034, 113.54715759999999, 4845459)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (292, '2016-11-01', 121.69, 122.25, 119.2, 119.89, 7492541, 0.0, 1, 114.8686807, 115.39728999999998, 112.5182574, 113.1695795, 7492541)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (293, '2016-10-31', 123.35, 123.5, 121.62, 122.01, 5671525, 0.0, 1, 116.43562959999998, 116.57722140000001, 114.80260459999998, 115.1707432, 5671525)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (294, '2016-10-28', 122.7, 124.09, 122.2065, 123.58, 4497717, 0.0, 1, 115.82206529999999, 117.134149, 115.35622839999999, 116.65273700000002, 4497717)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (295, '2016-10-27', 122.71, 123.46, 121.85, 122.26, 4261602, 0.0, 1, 115.8315047, 116.53946359999999, 115.01971189999999, 115.4067294, 4261602)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (296, '2016-10-26', 122.83, 123.75, 122.4, 122.71, 5454160, 0.0, 1, 115.9447781, 116.81320759999998, 115.5388817, 115.8315047, 5454160)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (297, '2016-10-25', 126.27, 126.27, 123.29, 123.34, 8731346, 0.0, 1, 119.1919493, 119.1919493, 116.3789929, 116.42619009999999, 8731346)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (298, '2016-10-24', 127.23, 128.14, 127.23, 127.78, 3824719, 0.0, 1, 120.09813659999999, 120.9571267, 120.09813659999999, 120.6173064, 3824719)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (299, '2016-10-21', 125.31, 126.8, 125.25, 126.6, 3234032, 0.0, 1, 118.285762, 119.6922402, 118.2291253, 119.50345120000001, 3234032)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (300, '2016-10-20', 125.95, 127.08, 125.57, 126.25, 3543223, 0.0, 1, 118.8898869, 119.9565449, 118.5311877, 119.17307040000001, 3543223)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (301, '2016-10-19', 125.76, 126.09, 124.51, 125.89, 4095509, 0.0, 1, 118.71053729999998, 119.0220392, 117.53060590000001, 118.83325020000001, 4095509)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (302, '2016-10-18', 126.15, 126.25, 125.15, 125.74, 3563302, 0.0, 1, 119.07867590000001, 119.17307040000001, 118.1347308, 118.69165840000001, 3563302)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (303, '2016-10-17', 126.18, 126.8, 124.88, 125.14, 3753022, 0.0, 1, 119.1069943, 119.6922402, 117.8798656, 118.12529140000001, 3753022)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (304, '2016-10-14', 126.9, 127.56, 126.42, 126.42, 4462055, 0.0, 1, 119.78663470000001, 120.4096385, 119.33354109999999, 119.33354109999999, 4462055)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (305, '2016-10-13', 126.25, 126.66, 125.17299999999999, 126.29, 3655714, 0.0, 1, 119.17307040000001, 119.5600879, 118.1564415, 119.21082820000001, 3655714)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (306, '2016-10-12', 125.85, 127.16, 125.71, 126.69, 3545888, 0.0, 1, 118.79549240000001, 120.0320605, 118.66334009999999, 119.5884063, 3545888)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (307, '2016-10-11', 126.85, 127.08, 125.46, 125.85, 5113677, 0.0, 1, 119.7394375, 119.9565449, 118.42735379999999, 118.79549240000001, 5113677)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (308, '2016-10-10', 128.45, 128.94, 127.25, 127.25, 4349741, 0.0, 1, 121.2497497, 121.7122828, 120.11701550000001, 120.11701550000001, 4349741)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (309, '2016-10-07', 129.83, 130.41, 127.88, 128.31, 5500226, 0.0, 1, 122.5523939, 123.0998821, 120.711701, 121.11759740000002, 5500226)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (310, '2016-10-06', 126.87, 130.45, 126.43, 130.19, 7470705, 0.0, 1, 119.75831640000001, 123.1376399, 119.3429805, 122.8922142, 7470705)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (311, '2016-10-05', 128.32, 129.03, 127.52, 127.58, 4115427, 0.0, 1, 121.1270368, 121.7972378, 120.3718807, 120.42851740000002, 4115427)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (312, '2016-10-04', 128.53, 129.92, 127.95, 128.2, 4848592, 0.0, 1, 121.3252653, 122.637349, 120.7777771, 121.0137634, 4848592)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (313, '2016-10-03', 128.2, 128.82, 127.97, 128.5, 3652705, 0.0, 1, 121.0137634, 121.5990094, 120.796656, 121.29694690000001, 3652705)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (314, '2016-09-30', 127.87, 129.24, 127.63, 128.68, 5694499, 0.0, 1, 120.7022615, 121.99546629999999, 120.47571470000001, 121.466857, 5694499)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (315, '2016-09-29', 128.5, 130.74, 127.91, 127.93, 5987412, 0.0, 1, 121.29694690000001, 123.41138400000001, 120.7400193, 120.7588982, 5987412)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (316, '2016-09-28', 127.21, 128.53, 127.06, 128.27, 5746299, 0.0, 1, 120.0792577, 121.3252653, 119.937666, 121.0798396, 5746299)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (317, '2016-09-27', 125.8, 126.99, 125.36, 126.82, 4433646, 0.0, 1, 118.74829509999999, 119.87158980000001, 118.33295929999998, 119.71111909999999, 4433646)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (318, '2016-09-26', 127.1, 127.23, 125.35, 125.45, 5337799, 0.0, 1, 119.97542379999999, 120.09813659999999, 118.32351979999999, 118.41791429999999, 5337799)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (319, '2016-09-23', 128.63, 129.2, 127.79, 127.79, 4464250, 0.0, 1, 121.4196598, 121.9577085, 120.6267459, 120.6267459, 4464250)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (320, '2016-09-22', 128.82, 129.65, 128.72, 128.75, 4099565, 0.0, 1, 121.5990094, 122.3824838, 121.50461489999999, 121.53293319999999, 4099565)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (321, '2016-09-21', 127.52, 128.59, 126.55, 128.11, 5367370, 0.0, 1, 120.3718807, 121.381902, 119.456254, 120.92880829999999, 5367370)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (322, '2016-09-20', 126.86, 127.33, 126.33, 126.83, 3626428, 0.0, 1, 119.74887690000001, 120.1925311, 119.24858600000002, 119.72055859999999, 3626428)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (323, '2016-09-19', 126.68, 127.37, 126.17, 126.29, 4475328, 0.0, 1, 119.5789668, 120.23028899999998, 119.0975548, 119.21082820000001, 4475328)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (324, '2016-09-16', 127.02, 127.02, 125.7, 126.11, 6940062, 0.0, 1, 119.8999082, 119.8999082, 118.6539006, 119.04091809999998, 6940062)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (325, '2016-09-15', 125.97, 127.635, 125.71, 126.96, 5110447, 0.0, 1, 118.90876580000001, 120.48043440000001, 118.66334009999999, 119.84327150000001, 5110447)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (326, '2016-09-14', 125.61, 126.945, 125.565, 126.26, 4313902, 0.0, 1, 118.5689456, 119.82911229999999, 118.526468, 119.18250990000001, 4313902)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (327, '2016-09-13', 127.74, 128.0, 125.43, 125.72, 6376284, 0.0, 1, 120.57954860000001, 120.82497439999999, 118.3990354, 118.67277949999999, 6376284)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (328, '2016-09-12', 126.5, 128.855, 126.0, 128.59, 7882616, 0.0, 1, 119.40905670000001, 121.63204740000002, 118.9370841, 121.381902, 7882616)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (329, '2016-09-09', 130.64, 130.89, 127.73, 127.74, 6315009, 0.0, 1, 123.3169895, 123.5529757, 120.57010919999999, 120.57954860000001, 6315009)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (330, '2016-09-08', 131.55, 132.94, 131.12, 131.26, 5019625, 0.0, 1, 124.1759795, 125.4880632, 123.7700831, 123.90223540000001, 5019625)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (331, '2016-09-07', 133.3, 133.87, 132.16, 132.79, 4676049, 0.0, 1, 125.8278835, 126.36593219999999, 124.75178600000001, 125.3464715, 4676049)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (332, '2016-09-06', 134.96, 135.72, 133.8814, 134.1, 4215934, 0.0, 1, 127.3948324, 128.11223059999998, 126.3766932, 126.58303959999999, 4215934)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (333, '2016-09-02', 134.77, 135.88, 134.55, 135.15, 3402572, 0.0, 1, 127.2154828, 128.2632619, 127.0078149, 127.57418190000001, 3402572)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (334, '2016-09-01', 134.48, 135.06, 133.66, 134.23, 3851836, 0.0, 1, 126.94173870000002, 127.4892269, 126.1677037, 126.7057524, 3851836)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (335, '2016-08-31', 133.89, 134.68, 133.6, 134.12, 4650586, 0.0, 1, 126.38481110000001, 127.1305277, 126.11106699999999, 126.60191850000001, 4650586)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (336, '2016-08-30', 134.8, 135.05, 133.63, 134.1, 3440422, 0.69, 1, 127.2438011, 127.4797874, 126.13938540000001, 126.58303959999999, 3440422)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (337, '2016-08-29', 134.86, 135.3, 134.58, 135.24, 3227491, 0.0, 1, 126.6487775, 127.0619872, 126.38582579999999, 127.0056404, 3227491)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (338, '2016-08-26', 135.43, 136.18, 133.92, 134.36, 4193411, 0.0, 1, 127.1840719, 127.88840659999998, 125.76601129999999, 126.179221, 4193411)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (339, '2016-08-25', 134.73, 136.16, 134.37, 135.43, 3168609, 0.0, 1, 126.5266928, 127.86962439999999, 126.1886121, 127.1840719, 3168609)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (340, '2016-08-24', 135.77, 136.25, 134.81, 135.06, 4110279, 0.0, 1, 127.5033703, 127.95414450000001, 126.60182179999998, 126.8366001, 4110279)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (341, '2016-08-23', 135.93, 136.55, 135.93, 136.22, 2959986, 0.0, 1, 127.6536284, 128.2358784, 127.6536284, 127.92597109999998, 2959986)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (342, '2016-08-22', 135.6, 135.85, 135.02, 135.34, 2752526, 0.0, 1, 127.3437211, 127.5784993, 126.7990355, 127.0995517, 2752526)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (343, '2016-08-19', 134.42, 135.76, 134.32, 135.46, 3959011, 0.0, 1, 126.23556780000001, 127.49397920000001, 126.1416565, 127.21224529999999, 3959011)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (344, '2016-08-18', 136.03, 136.15, 134.44, 134.8, 4430783, 0.0, 1, 127.7475397, 127.8602332, 126.25435, 126.59243070000001, 4430783)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (345, '2016-08-17', 135.5, 136.47, 134.75, 136.15, 5222110, 0.0, 1, 127.2498098, 128.1607494, 126.545475, 127.8602332, 5222110)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (346, '2016-08-16', 137.65, 138.65, 135.66, 136.23, 7286139, 0.0, 1, 129.2689027, 130.2080157, 127.4000679, 127.9353623, 7286139)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (347, '2016-08-15', 137.11, 137.97, 136.93, 137.06, 6327437, 0.0, 1, 128.7617817, 129.5694189, 128.59274140000002, 128.714826, 6327437)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (348, '2016-08-12', 136.0, 137.39, 135.6321, 136.57, 4089419, 0.0, 1, 127.71936629999999, 129.02473329999998, 127.3738666, 128.25466070000002, 4089419)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (349, '2016-08-11', 136.31, 137.5, 135.17, 137.04, 4183308, 0.0, 1, 128.01049129999998, 129.1280358, 126.93990249999999, 128.6960438, 4183308)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (350, '2016-08-10', 136.3, 136.89, 135.06, 135.6, 3438042, 0.0, 1, 128.0011002, 128.5551768, 126.8366001, 127.3437211, 3438042)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (351, '2016-08-09', 136.27, 137.09, 135.34, 136.11, 3180435, 0.0, 1, 127.9729268, 128.7429994, 127.0995517, 127.8226687, 3180435)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (352, '2016-08-08', 136.91, 137.401, 136.16, 136.21, 3182761, 0.0, 1, 128.5739591, 129.0350636, 127.86962439999999, 127.91658000000001, 3182761)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (353, '2016-08-05', 137.0, 137.74, 136.6, 136.91, 3022121, 0.0, 1, 128.6584793, 129.3534229, 128.2828341, 128.5739591, 3022121)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (354, '2016-08-04', 135.79, 137.2, 135.46, 136.05, 3802914, 0.0, 1, 127.52215249999999, 128.84630190000001, 127.21224529999999, 127.76632190000001, 3802914)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (355, '2016-08-03', 137.13, 137.22, 135.7, 137.06, 3642635, 0.0, 1, 128.7805639, 128.8650841, 127.4376324, 128.714826, 3642635)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (356, '2016-08-02', 138.91, 139.0, 136.82, 137.22, 3898130, 0.0, 1, 130.4521851, 130.5367052, 128.4894389, 128.8650841, 3898130)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (357, '2016-08-01', 138.06, 138.94, 137.85, 138.77, 3157471, 0.0, 1, 129.65393899999998, 130.4803585, 129.45672530000002, 130.32070919999998, 3157471)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (358, '2016-07-29', 137.46, 138.72, 137.44, 138.24, 3662531, 0.0, 1, 129.0904712, 130.2737536, 129.071689, 129.8229794, 3662531)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (359, '2016-07-28', 136.19, 138.12, 136.105, 137.96, 3229964, 0.0, 1, 127.8977977, 129.7102858, 127.81797309999999, 129.5600277, 3229964)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (360, '2016-07-27', 137.01, 137.69, 135.96, 136.31, 3029605, 0.0, 1, 128.66787040000003, 129.30646720000001, 127.68180179999999, 128.01049129999998, 3029605)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (361, '2016-07-26', 136.5, 137.51, 136.06, 136.75, 2575621, 0.0, 1, 128.1889228, 129.1374269, 127.7757131, 128.423701, 2575621)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (362, '2016-07-25', 136.55, 136.85, 136.15, 136.5, 3352353, 0.0, 1, 128.2358784, 128.5176123, 127.8602332, 128.1889228, 3352353)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (363, '2016-07-22', 136.41, 136.64, 135.96, 136.52, 2627239, 0.0, 1, 128.1044026, 128.3203986, 127.68180179999999, 128.207705, 2627239)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (364, '2016-07-21', 136.76, 137.14, 135.47, 136.07, 4975126, 0.0, 1, 128.43309209999998, 128.7899551, 127.22163640000001, 127.7851042, 4975126)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (365, '2016-07-20', 137.4, 137.45, 136.77, 137.41, 3092000, 0.0, 1, 129.03412450000002, 129.0810801, 128.4424833, 129.0435156, 3092000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (366, '2016-07-19', 136.07, 137.05, 135.56, 136.98, 3831522, 0.0, 1, 127.7851042, 128.70543490000003, 127.3061566, 128.63969699999998, 3831522)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (367, '2016-07-18', 135.46, 136.48, 134.81, 136.34, 3727629, 0.0, 1, 127.21224529999999, 128.1701405, 126.60182179999998, 128.0386647, 3727629)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (368, '2016-07-15', 135.12, 135.59, 134.65, 134.78, 5322755, 0.0, 1, 126.89294679999999, 127.33432990000001, 126.45156370000001, 126.57364840000001, 5322755)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (369, '2016-07-14', 134.4, 134.79, 133.83, 134.54, 3122618, 0.0, 1, 126.2167855, 126.58303959999999, 125.68149109999999, 126.34826129999999, 3122618)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (370, '2016-07-13', 134.84, 135.2, 133.1, 133.56, 4231757, 0.0, 1, 126.62999520000001, 126.9680759, 124.99593859999999, 125.42793059999998, 4231757)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (371, '2016-07-12', 135.24, 135.99, 134.3, 134.84, 3615660, 0.0, 1, 127.0056404, 127.7099751, 126.12287420000001, 126.62999520000001, 3615660)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (372, '2016-07-11', 134.83, 135.88, 134.45, 135.15, 4576968, 0.0, 1, 126.6206041, 127.60667269999999, 126.26374109999999, 126.9211202, 4576968)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (373, '2016-07-08', 132.33, 134.36, 132.25, 134.34, 4806226, 0.0, 1, 124.2728216, 126.179221, 124.1976926, 126.16043870000001, 4806226)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (374, '2016-07-07', 131.25, 132.18, 130.56, 131.16, 3973585, 0.0, 1, 123.25857959999999, 124.13195470000001, 122.61059159999999, 123.1740594, 3973585)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (375, '2016-07-06', 129.2, 131.61, 129.03, 131.57, 4931970, 0.0, 1, 121.333398, 123.59666029999998, 121.17374879999998, 123.5590957, 4931970)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (376, '2016-07-05', 129.6, 130.48, 128.503, 129.35, 4096531, 0.0, 1, 121.7090432, 122.53546259999999, 120.67883619999999, 121.4742649, 4096531)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (377, '2016-07-01', 128.29, 130.23, 128.12, 129.62, 5645179, 0.0, 1, 120.4788051, 122.30068429999999, 120.31915590000001, 121.7278254, 5645179)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (378, '2016-06-30', 127.27, 127.86, 126.1, 127.69, 6641997, 0.0, 1, 119.52090990000002, 120.07498659999999, 118.4221477, 119.91533729999999, 6641997)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (379, '2016-06-29', 127.9, 128.47, 126.9, 127.37, 5782130, 0.0, 1, 120.11255109999999, 120.6478455, 119.1734381, 119.61482120000001, 5782130)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (380, '2016-06-28', 125.89, 127.53, 125.6, 127.53, 5384856, 0.0, 1, 118.224934, 119.76507930000001, 117.9525912, 119.76507930000001, 5384856)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (381, '2016-06-27', 125.34, 125.75, 123.62, 124.67, 5674722, 0.0, 1, 117.70842179999998, 118.0934582, 116.09314750000001, 117.07921609999998, 5674722)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (382, '2016-06-24', 126.1, 127.8, 125.5, 126.4, 8978115, 0.0, 1, 118.4221477, 120.0186398, 117.85867990000001, 118.70388159999999, 8978115)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (383, '2016-06-23', 128.98, 129.1, 127.45, 128.29, 4783581, 0.0, 1, 121.12679309999999, 121.23948670000001, 119.68995020000001, 120.4788051, 4783581)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (384, '2016-06-22', 127.69, 128.97, 127.4, 127.6, 3723663, 0.0, 1, 119.91533729999999, 121.117402, 119.6429946, 119.8308172, 3723663)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (385, '2016-06-21', 127.96, 128.3114, 127.285, 127.74, 3450869, 0.0, 1, 120.1688979, 120.49890220000002, 119.5349966, 119.96229299999999, 3450869)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (386, '2016-06-20', 128.13, 128.85, 127.42, 127.62, 3880279, 0.0, 1, 120.3285471, 121.0047084, 119.6617768, 119.84959939999999, 3880279)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (387, '2016-06-17', 127.52, 127.78, 126.73, 127.14, 7541933, 0.0, 1, 119.7556881, 119.99985749999999, 119.0137889, 119.3988252, 7541933)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (388, '2016-06-16', 126.05, 127.54, 125.66, 127.36, 4432194, 0.0, 1, 118.375192, 119.77447040000001, 118.00893799999999, 119.60543009999999, 4432194)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (389, '2016-06-15', 125.74, 127.75, 125.49, 126.53, 5139288, 0.0, 1, 118.08406699999999, 119.9716841, 117.8492888, 118.82596629999999, 5139288)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (390, '2016-06-14', 127.31, 127.44, 124.71, 125.24, 7302914, 0.0, 1, 119.5584744, 119.6805591, 117.11678059999998, 117.6145105, 7302914)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (391, '2016-06-13', 128.94, 129.45, 127.785, 127.83, 4829268, 0.0, 1, 121.08922859999998, 121.56817620000001, 120.0045531, 120.0468132, 4829268)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (392, '2016-06-10', 128.45, 129.227, 128.21, 128.83, 3926010, 0.0, 1, 120.6290632, 121.358754, 120.4036761, 120.98592620000001, 3926010)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (393, '2016-06-09', 129.27, 129.84, 129.04, 129.3, 3450620, 0.0, 1, 121.39913590000002, 121.9344303, 121.1831399, 121.42730929999999, 3450620)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (394, '2016-06-08', 130.01, 130.295, 129.25, 129.59, 3742365, 0.0, 1, 122.09407949999999, 122.3617267, 121.38035359999998, 121.699652, 3742365)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (395, '2016-06-07', 129.38, 130.8, 129.32, 129.92, 4433982, 0.0, 1, 121.5024383, 122.8359787, 121.44609150000001, 122.00955929999999, 4433982)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (396, '2016-06-06', 130.82, 130.87, 128.47, 129.19, 8051444, 0.0, 1, 122.85476100000001, 122.9017166, 120.6478455, 121.32400679999999, 8051444)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (397, '2016-06-03', 132.53, 132.73, 130.92, 131.74, 4155852, 0.0, 1, 124.4606442, 124.64846680000001, 122.9486723, 123.7187449, 4155852)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (398, '2016-06-02', 131.85, 132.7, 131.33, 132.41, 3858481, 0.0, 1, 123.82204740000002, 124.62029340000001, 123.3337086, 124.3479506, 3858481)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (399, '2016-06-01', 131.58, 132.12, 131.15, 131.83, 4744164, 0.0, 1, 123.5684869, 124.07560790000001, 123.1646683, 123.80326509999999, 4744164)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (400, '2016-05-31', 133.57, 133.8, 131.72, 132.12, 6366822, 0.69, 1, 125.4373217, 125.65331770000002, 123.69996270000001, 124.07560790000001, 6366822)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (401, '2016-05-27', 134.07, 134.9, 133.38, 133.94, 4025265, 0.0, 1, 125.2527426, 126.02815679999999, 124.6081212, 125.1312922, 4025265)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (402, '2016-05-26', 133.13, 134.36, 132.86, 134.05, 3996745, 0.0, 1, 124.37456270000001, 125.52367050000001, 124.1223196, 125.234058, 3996745)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (403, '2016-05-25', 133.46, 134.52, 133.05, 133.2, 5017700, 0.0, 1, 124.68285990000001, 125.6731479, 124.299824, 124.4399591, 5017700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (404, '2016-05-24', 132.18, 133.8701, 132.05, 133.36, 5180636, 0.0, 1, 123.4870405, 125.0659893, 123.36559009999998, 124.5894365, 5180636)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (405, '2016-05-23', 131.84, 132.48, 131.3, 131.42, 3853395, 0.0, 1, 123.16940100000001, 123.76731070000001, 122.66491470000001, 122.77702269999999, 3853395)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (406, '2016-05-20', 131.89, 133.06, 131.748, 131.85, 5089385, 0.0, 1, 123.21611270000001, 124.30916640000001, 123.0834515, 123.1787433, 5089385)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (407, '2016-05-19', 131.45, 132.13, 130.78, 131.73, 4577199, 0.0, 1, 122.8050497, 123.44032879999999, 122.17911299999999, 123.0666352, 4577199)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (408, '2016-05-18', 131.03, 132.7701, 130.02, 131.77, 8258938, 0.0, 1, 122.4126715, 124.03833190000002, 121.4690952, 123.10400459999998, 8258938)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (409, '2016-05-17', 133.15, 134.49, 131.1, 132.0, 15982387, 0.0, 1, 124.39324740000002, 125.64512090000001, 122.4780679, 123.3188784, 15982387)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (410, '2016-05-16', 133.84, 136.55, 133.08, 135.34, 8394783, 0.0, 1, 125.03786880000001, 127.56964280000001, 124.327851, 126.4392197, 8394783)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (411, '2016-05-13', 133.81, 135.33, 133.03, 133.13, 5294654, 0.0, 1, 125.0098418, 126.4298774, 124.28113929999999, 124.37456270000001, 5294654)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (412, '2016-05-12', 135.0, 135.0, 133.1, 134.19, 5355600, 0.0, 1, 126.12158020000001, 126.12158020000001, 124.3465357, 125.3648507, 5355600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (413, '2016-05-11', 136.8, 137.05, 134.04, 134.3, 6057757, 0.0, 1, 127.8032013, 128.0367597, 125.2247156, 125.46761640000001, 6057757)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (414, '2016-05-10', 136.32, 137.82, 136.3, 137.51, 3662143, 0.0, 1, 127.35476899999999, 128.75611990000002, 127.33608429999998, 128.4665073, 3662143)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (415, '2016-05-09', 135.59, 136.47, 135.24, 136.24, 3552222, 0.0, 1, 126.67277820000001, 127.4949041, 126.3457963, 127.2800303, 3552222)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (416, '2016-05-06', 134.48, 135.81, 134.311, 135.7, 3356838, 0.0, 1, 125.63577849999999, 126.8783097, 125.477893, 126.7755439, 3356838)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (417, '2016-05-05', 134.87, 135.37, 133.75, 134.67, 3474203, 0.0, 1, 126.0001298, 126.46724669999999, 124.9537878, 125.81328300000001, 3474203)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (418, '2016-05-04', 133.59, 135.4, 133.13, 135.16, 3191814, 0.0, 1, 124.80431029999998, 126.49527379999999, 124.37456270000001, 126.27105759999999, 3191814)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (419, '2016-05-03', 135.45, 135.8399, 134.04, 134.54, 3408711, 0.0, 1, 126.5419854, 126.9062433, 125.2247156, 125.69183259999998, 3408711)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (420, '2016-05-02', 134.37, 136.25, 134.31, 136.05, 4284363, 0.0, 1, 125.53301280000001, 127.28937260000001, 125.4769588, 127.1025258, 4284363)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (421, '2016-04-29', 132.71, 134.3, 131.75, 133.89, 4609893, 0.0, 1, 123.9821845, 125.46761640000001, 123.0853199, 125.08458049999999, 4609893)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (422, '2016-04-28', 134.81, 135.44, 132.49, 132.73, 5552259, 0.0, 1, 125.9440757, 126.53264309999999, 123.776653, 124.00086920000001, 5552259)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (423, '2016-04-27', 135.37, 136.28, 134.765, 135.75, 3487450, 0.0, 1, 126.46724669999999, 127.3173996, 125.9020352, 126.82225559999999, 3487450)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (424, '2016-04-26', 135.09, 136.24, 134.88, 135.34, 3506166, 0.0, 1, 126.2056612, 127.2800303, 126.0094721, 126.4392197, 3506166)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (425, '2016-04-25', 135.18, 135.7299, 134.28, 135.65, 2835404, 0.0, 1, 126.2897423, 126.80347749999999, 125.4489318, 126.7288322, 2835404)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (426, '2016-04-22', 134.85, 135.68, 133.41, 135.66, 4180910, 0.0, 1, 125.98144509999999, 126.75685929999999, 124.63614820000001, 126.73817460000001, 4180910)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (427, '2016-04-21', 135.23, 135.49, 134.39, 134.6, 3541840, 0.0, 1, 126.336454, 126.57935479999999, 125.5516975, 125.74788659999999, 3541840)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (428, '2016-04-20', 135.75, 136.08, 134.48, 135.19, 4760120, 0.0, 1, 126.82225559999999, 127.13055279999999, 125.63577849999999, 126.29908459999999, 4760120)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (429, '2016-04-19', 136.8, 137.0, 134.85, 135.44, 4649461, 0.0, 1, 127.8032013, 127.990048, 125.98144509999999, 126.53264309999999, 4649461)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (430, '2016-04-18', 134.81, 136.8, 134.74, 136.8, 3964855, 0.0, 1, 125.9440757, 127.8032013, 125.8786794, 127.8032013, 3964855)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (431, '2016-04-15', 134.41, 135.275, 133.97, 135.01, 3508913, 0.0, 1, 125.5703822, 126.3784945, 125.1593192, 126.13092250000001, 3508913)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (432, '2016-04-14', 133.5, 134.7125, 132.88, 134.37, 4183298, 0.0, 1, 124.7202293, 125.8529879, 124.1410043, 125.53301280000001, 4183298)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (433, '2016-04-13', 134.86, 134.86, 133.22, 133.84, 4324746, 0.0, 1, 125.9907874, 125.9907874, 124.4586438, 125.03786880000001, 4324746)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (434, '2016-04-12', 133.3, 134.72, 133.11, 134.38, 4230757, 0.0, 1, 124.5333825, 125.85999469999999, 124.3558781, 125.5423551, 4230757)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (435, '2016-04-11', 133.58, 135.08, 132.96, 133.01, 3472649, 0.0, 1, 124.794968, 126.1963189, 124.21574299999999, 124.2624547, 3472649)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (436, '2016-04-08', 134.62, 134.62, 133.06, 133.62, 2924397, 0.0, 1, 125.7665713, 125.7665713, 124.30916640000001, 124.8323374, 2924397)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (437, '2016-04-07', 134.73, 135.24, 133.12, 133.87, 3953532, 0.0, 1, 125.86933700000002, 126.3457963, 124.36522040000001, 125.06589579999999, 3953532)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (438, '2016-04-06', 134.25, 135.7401, 133.82, 135.44, 3365550, 0.0, 1, 125.42090470000001, 126.8130067, 125.0191841, 126.53264309999999, 3365550)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (439, '2016-04-05', 134.2, 135.7, 133.9, 134.58, 4068495, 0.0, 1, 125.37419299999999, 126.7755439, 125.09392290000001, 125.7292019, 4068495)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (440, '2016-04-04', 136.07, 136.23, 134.35, 134.85, 3547690, 0.0, 1, 127.1212105, 127.2706879, 125.5143281, 125.98144509999999, 3547690)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (441, '2016-04-01', 133.1, 135.2, 133.1, 134.85, 4259048, 0.0, 1, 124.3465357, 126.30842700000001, 124.3465357, 125.98144509999999, 4259048)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (442, '2016-03-31', 133.56, 134.29, 133.0, 133.43, 3685380, 0.0, 1, 124.77628329999999, 125.4582741, 124.25311229999998, 124.65483290000002, 3685380)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (443, '2016-03-30', 133.11, 133.929, 132.84, 133.42, 3138346, 0.0, 1, 124.3558781, 125.12101559999999, 124.10363490000002, 124.6454906, 3138346)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (444, '2016-03-29', 131.0, 132.9, 130.71, 132.47, 3405373, 0.0, 1, 122.38464450000001, 124.15968889999999, 122.1137166, 123.7579683, 3405373)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (445, '2016-03-28', 130.6, 131.81, 130.49, 131.08, 2621143, 0.0, 1, 122.01095090000001, 123.141374, 121.90818519999999, 122.45938319999999, 2621143)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (446, '2016-03-24', 129.54, 130.76, 129.46, 130.46, 3449253, 0.0, 1, 121.02066289999999, 122.1604283, 120.94592420000001, 121.8801582, 3449253)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (447, '2016-03-23', 130.59, 131.18, 129.95, 130.22, 3625169, 0.0, 1, 122.00160859999998, 122.55280659999998, 121.40369879999999, 121.655942, 3625169)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (448, '2016-03-22', 130.61, 131.22, 129.92, 130.59, 3946427, 0.0, 1, 122.0202932, 122.5901759, 121.37567179999999, 122.00160859999998, 3946427)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (449, '2016-03-21', 131.53, 132.13, 130.27, 131.01, 3816756, 0.0, 1, 122.8797885, 123.44032879999999, 121.7026537, 122.39398680000001, 3816756)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (450, '2016-03-18', 131.14, 132.09, 130.83, 131.35, 8069083, 0.0, 1, 122.5154372, 123.4029595, 122.2258247, 122.7116263, 8069083)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (451, '2016-03-17', 130.1, 131.19, 129.32, 130.88, 4131148, 0.0, 1, 121.54383390000001, 122.56214890000001, 120.81513149999999, 122.2725364, 4131148)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (452, '2016-03-16', 129.63, 131.11, 128.81, 130.45, 3609559, 0.0, 1, 121.104744, 122.4874102, 120.3386722, 121.8708158, 3609559)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (453, '2016-03-15', 128.78, 130.48, 128.62, 129.71, 4034561, 0.0, 1, 120.31064520000001, 121.89884280000001, 120.16116770000001, 121.17948270000001, 4034561)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (454, '2016-03-14', 128.43, 129.66, 128.1, 128.84, 3652610, 0.0, 1, 119.98366329999999, 121.13277099999999, 119.67536609999999, 120.36669920000001, 3652610)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (455, '2016-03-11', 126.97, 128.76, 126.73, 128.46, 4626535, 0.0, 1, 118.6196817, 120.2919605, 118.3954656, 120.0116903, 4626535)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (456, '2016-03-10', 126.2, 127.0, 124.31, 125.89, 4503659, 0.0, 1, 117.9003216, 118.6477088, 116.1346195, 117.61070910000001, 4503659)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (457, '2016-03-09', 127.03, 127.52, 125.33, 126.03, 4046928, 0.0, 1, 118.6757358, 119.1335104, 117.0875381, 117.7415019, 4046928)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (458, '2016-03-08', 125.22, 128.2, 125.0, 126.72, 5124201, 0.69, 1, 116.98477240000001, 119.7687895, 116.7792409, 118.3861233, 5124201)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (459, '2016-03-07', 125.01, 126.54, 125.01, 126.17, 4161145, 0.0, 1, 116.1561045, 117.57774140000001, 116.1561045, 117.2339469, 4161145)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (460, '2016-03-04', 127.37, 127.49799999999999, 125.16, 125.56, 6448169, 0.0, 1, 118.34895630000001, 118.46789059999999, 116.29548059999999, 116.6671504, 6448169)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (461, '2016-03-03', 125.2, 127.26, 124.78, 126.8, 5009517, 0.0, 1, 116.3326476, 118.2467471, 115.9423943, 117.8193268, 5009517)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (462, '2016-03-02', 125.48, 125.87, 124.46, 125.59, 3966300, 0.0, 1, 116.5928165, 116.9551945, 115.64505849999999, 116.6950257, 3966300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (463, '2016-03-01', 124.78, 125.97, 123.98, 125.7, 4908382, 0.0, 1, 115.9423943, 117.04811200000002, 115.1990547, 116.79723490000002, 4908382)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (464, '2016-02-29', 126.26, 126.99, 124.05, 124.12, 5571608, 0.0, 1, 117.3175726, 117.99587, 115.2640969, 115.3291392, 5571608)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (465, '2016-02-26', 127.59, 127.75, 125.93, 126.26, 4608066, 0.0, 1, 118.55337469999999, 118.7020426, 117.01094499999999, 117.3175726, 4608066)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (466, '2016-02-25', 125.76, 126.86, 124.891, 126.86, 4737288, 0.0, 1, 116.85298529999999, 117.8750773, 116.04553270000001, 117.8750773, 4737288)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (467, '2016-02-24', 124.05, 125.78, 122.92, 125.61, 7930854, 0.0, 1, 115.2640969, 116.8715688, 114.2141298, 116.7136092, 7930854)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (468, '2016-02-23', 127.0, 127.19, 123.35, 124.53, 11164852, 0.0, 1, 118.0051617, 118.18170490000001, 114.61367479999998, 115.7101007, 11164852)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (469, '2016-02-22', 123.0, 124.47, 122.13, 122.85, 7792456, 0.0, 1, 114.28846370000001, 115.65435020000001, 113.48008190000002, 114.1490875, 7792456)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (470, '2016-02-19', 119.82, 121.7, 118.75, 121.69, 5432097, 0.0, 1, 111.3336888, 113.0805369, 110.3394721, 113.07124509999998, 5432097)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (471, '2016-02-18', 120.93, 121.11, 119.56, 119.97, 4460722, 0.0, 1, 112.36507250000001, 112.53232390000001, 111.0921034, 111.47306499999999, 4460722)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (472, '2016-02-17', 120.45, 121.68, 119.87, 121.21, 5970653, 0.0, 1, 111.9190687, 113.0619534, 111.3801475, 112.62524140000001, 5970653)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (473, '2016-02-16', 118.12, 120.0, 117.7, 119.43, 6965751, 0.0, 1, 109.75409209999998, 111.5009402, 109.36383889999999, 110.9713107, 6965751)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (474, '2016-02-12', 114.88, 116.43, 113.52, 116.32, 5361609, 0.0, 1, 106.74356680000001, 108.1837872, 105.4798894, 108.08157800000001, 5361609)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (475, '2016-02-11', 113.08, 114.19, 112.22, 113.27, 6446972, 0.0, 1, 105.0710527, 106.1024364, 104.2719626, 105.24759579999998, 6446972)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (476, '2016-02-10', 114.5, 116.16, 114.0526, 114.33, 5304867, 0.0, 1, 106.3904804, 107.9329101, 105.97476780000001, 106.23252079999999, 5304867)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (477, '2016-02-09', 110.94, 115.29, 110.68, 113.86, 7572489, 0.0, 1, 103.08261920000001, 107.12452830000001, 102.8410339, 105.7958088, 7572489)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (478, '2016-02-08', 114.93, 115.965, 109.62, 111.85, 11285277, 0.0, 1, 106.79002549999998, 107.75172109999998, 101.85610890000001, 103.928168, 11285277)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (479, '2016-02-05', 120.89, 121.0, 115.69, 116.43, 8116252, 0.0, 1, 112.3279055, 112.4301147, 107.49619809999999, 108.1837872, 8116252)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (480, '2016-02-04', 123.65, 123.9, 119.45, 121.11, 9171741, 0.0, 1, 114.89242709999999, 115.12472079999999, 110.98989420000001, 112.53232390000001, 9171741)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (481, '2016-02-03', 126.02, 126.16, 121.54, 123.79, 7485657, 0.0, 1, 117.09457069999999, 117.22465509999999, 112.9318689, 115.02251159999999, 7485657)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (482, '2016-02-02', 125.41, 126.43, 124.71, 125.27, 5832204, 0.0, 1, 116.5277743, 117.47553229999998, 115.8773521, 116.39768980000001, 5832204)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (483, '2016-02-01', 124.92, 127.09, 123.99, 126.51, 4673058, 0.0, 1, 116.0724788, 118.0887874, 115.2083465, 117.5498662, 4673058)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (484, '2016-01-29', 123.17, 125.76, 122.75, 125.76, 7616144, 0.0, 1, 114.44642340000001, 116.85298529999999, 114.05617009999999, 116.85298529999999, 7616144)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (485, '2016-01-28', 121.97, 122.69, 120.31, 122.28, 4871577, 0.0, 1, 113.331414, 114.0004196, 111.78898429999998, 113.6194581, 4871577)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (486, '2016-01-27', 122.46, 124.32, 120.86, 121.57, 5430471, 0.0, 1, 113.7867095, 115.51497409999999, 112.3000303, 112.9597442, 5430471)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (487, '2016-01-26', 121.73, 122.45, 120.64, 122.2, 4475461, 0.0, 1, 113.10841210000001, 113.77741770000002, 112.0956119, 113.5451241, 4475461)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (488, '2016-01-25', 123.38, 123.85, 121.56, 121.71, 4854161, 0.0, 1, 114.64155, 115.07826200000001, 112.9504524, 113.08982859999999, 4854161)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (489, '2016-01-22', 121.64, 124.67, 121.58, 122.76, 6554351, 0.0, 1, 113.02478640000001, 115.8401851, 112.96903590000002, 114.06546180000001, 6554351)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (490, '2016-01-21', 117.38, 121.94, 117.14, 120.22, 8992850, 0.0, 1, 109.066503, 113.3035387, 108.8435011, 111.70535859999998, 8992850)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (491, '2016-01-20', 117.89, 118.66, 113.5865, 116.46, 11331237, 0.0, 1, 109.54038200000001, 110.25584640000001, 105.54167949999999, 108.2116625, 11331237)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (492, '2016-01-19', 120.54, 121.89, 118.8, 119.76, 6350697, 0.0, 1, 112.00269440000001, 113.25708, 110.3859308, 111.27793829999999, 6350697)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (493, '2016-01-15', 117.12, 121.15, 116.1, 119.23, 10514991, 0.0, 1, 108.82491759999999, 112.5694909, 107.87715959999998, 110.78547579999999, 10514991)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (494, '2016-01-14', 121.29, 121.515, 118.2, 119.62, 13389107, 0.0, 1, 112.6995753, 112.9086396, 109.82842609999999, 111.14785390000002, 13389107)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (495, '2016-01-13', 127.47, 127.47, 120.97, 121.4, 8932228, 0.0, 1, 118.4418737, 118.4418737, 112.40223950000001, 112.8017845, 8932228)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (496, '2016-01-12', 126.78, 128.8, 125.83, 127.49, 5695498, 0.0, 1, 117.8007433, 119.67767579999999, 116.91802759999999, 118.4604572, 5695498)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (497, '2016-01-11', 124.87, 126.08, 124.09, 125.78, 6811475, 0.0, 1, 116.02601999999999, 117.15032120000001, 115.3012639, 116.8715688, 6811475)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (498, '2016-01-08', 126.44, 126.53, 123.5, 123.9, 7104079, 0.0, 1, 117.484824, 117.5684497, 114.753051, 115.12472079999999, 7104079)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (499, '2016-01-07', 126.93, 127.88, 124.7, 125.4, 12549244, 0.0, 1, 117.94011950000001, 118.8228353, 115.8680604, 116.51848249999999, 12549244)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (500, '2016-01-06', 129.0, 129.9, 128.56, 129.08, 8198731, 0.0, 1, 119.8635107, 120.6997678, 119.4546739, 119.9378447, 8198731)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (501, '2016-01-05', 131.15, 131.94, 130.05, 130.43, 5316011, 0.0, 1, 121.86123590000001, 122.5952838, 120.8391439, 121.1922303, 5316011)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (502, '2016-01-04', 130.11, 131.07, 129.45, 131.07, 8050776, 0.0, 1, 120.89489440000001, 121.7869019, 120.2816392, 121.7869019, 8050776)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (503, '2015-12-31', 133.08, 133.5684, 132.24, 132.25, 3178724, 0.0, 1, 123.65454270000001, 124.10835149999998, 122.8740361, 122.88332790000001, 3178724)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (504, '2015-12-30', 133.58, 134.06, 133.28, 133.35, 2484811, 0.0, 1, 124.11912990000002, 124.5651337, 123.84037759999998, 123.90541979999999, 2484811)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (505, '2015-12-29', 133.37, 134.3299, 133.276, 133.7, 3037324, 0.0, 1, 123.92400330000001, 124.8159179, 123.83666090000001, 124.23063090000001, 3037324)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (506, '2015-12-28', 132.25, 132.9, 131.89, 132.68, 2607306, 0.0, 1, 122.88332790000001, 123.4872913, 122.548825, 123.2828729, 2607306)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (507, '2015-12-24', 132.8, 133.48, 132.66, 132.9, 1517075, 0.0, 1, 123.39437379999998, 124.0262125, 123.26428940000001, 123.4872913, 1517075)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (508, '2015-12-23', 132.49, 133.34, 131.88, 133.11, 3244448, 0.0, 1, 123.1063297, 123.8961281, 122.53953329999999, 123.6824179, 3244448)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (509, '2015-12-22', 131.37, 132.2815, 130.46, 131.88, 3401932, 0.0, 1, 122.0656543, 122.91259679999999, 121.22010549999999, 122.53953329999999, 3401932)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (510, '2015-12-21', 131.0, 131.61, 130.18, 131.31, 3414798, 0.0, 1, 121.72185970000001, 122.28865619999999, 120.95993659999999, 122.00990379999999, 3414798)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (511, '2015-12-18', 130.73, 131.31, 130.015, 130.29, 9807483, 0.0, 1, 121.47098259999999, 122.00990379999999, 120.80662279999999, 121.06214579999998, 9807483)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (512, '2015-12-17', 133.06, 133.54, 130.995, 131.35, 4345798, 0.0, 1, 123.63595919999999, 124.08196299999999, 121.71721389999999, 122.04707079999999, 4345798)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (513, '2015-12-16', 132.17, 133.28, 130.36, 132.9, 4711646, 0.0, 1, 122.8089939, 123.84037759999998, 121.12718799999999, 123.4872913, 4711646)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (514, '2015-12-15', 132.62, 133.49, 131.19, 131.29, 4921773, 0.0, 1, 123.22712240000001, 124.03550420000002, 121.89840290000001, 121.9913203, 4921773)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (515, '2015-12-14', 131.09, 132.1255, 130.71, 132.01, 5959371, 0.0, 1, 121.80548540000001, 122.7676456, 121.4523991, 122.660326, 5959371)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (516, '2015-12-11', 131.09, 132.19, 130.31, 130.44, 5300644, 0.0, 1, 121.80548540000001, 122.8275774, 121.0807293, 121.201522, 5300644)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (517, '2015-12-10', 131.96, 133.59, 131.8, 132.54, 4186201, 0.0, 1, 122.6138672, 124.12842169999999, 122.4651993, 123.1527885, 4186201)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (518, '2015-12-09', 133.21, 134.78, 131.51, 131.9, 5055629, 0.0, 1, 123.7753354, 125.2341393, 122.1957387, 122.55811680000001, 5055629)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (519, '2015-12-08', 132.71, 134.56, 132.41, 133.84, 4731274, 0.0, 1, 123.3107481, 125.029721, 123.03199579999999, 124.3607153, 4731274)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (520, '2015-12-07', 134.0, 134.79, 133.1896, 133.93, 5443657, 0.0, 1, 124.50938319999999, 125.2434311, 123.75638020000001, 124.444341, 5443657)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (521, '2015-12-04', 131.55, 134.8299, 131.35, 134.53, 5387092, 0.0, 1, 122.2329057, 125.2805051, 122.04707079999999, 125.00184569999999, 5387092)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (522, '2015-12-03', 133.52, 134.12, 130.8, 130.93, 6687458, 0.0, 1, 124.0633795, 124.62088419999999, 121.53602479999999, 121.6568175, 6687458)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (523, '2015-12-02', 134.56, 134.65, 133.57, 133.81, 5021711, 0.0, 1, 125.029721, 125.1133467, 124.1098382, 124.33284009999998, 5021711)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (524, '2015-12-01', 133.52, 134.63, 133.26, 134.43, 5267407, 0.59, 1, 124.0633795, 125.0947632, 123.82179409999999, 124.9089283, 5267407)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (525, '2015-11-30', 135.2, 135.32, 133.01, 133.88, 8036605, 0.0, 1, 125.07544879999999, 125.1864625, 123.0494486, 123.854298, 8036605)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (526, '2015-11-27', 134.81, 135.47, 134.53, 134.74, 3337790, 0.0, 1, 124.7146543, 125.32522970000001, 124.4556223, 124.6498963, 3337790)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (527, '2015-11-25', 133.69, 135.24, 133.55, 134.65, 5300123, 0.0, 1, 123.6785263, 125.11245339999999, 123.54901029999999, 124.56663600000002, 5300123)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (528, '2015-11-24', 131.93, 133.93, 131.74, 133.6, 6672455, 0.0, 1, 122.0503252, 123.9005537, 121.87455349999999, 123.595266, 6672455)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (529, '2015-11-23', 130.21, 132.64, 130.21, 132.5, 6328626, 0.0, 1, 120.45912859999999, 122.70715630000001, 120.45912859999999, 122.5776403, 6328626)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (530, '2015-11-20', 127.36, 130.21, 127.09, 130.21, 8190591, 0.0, 1, 117.822553, 120.45912859999999, 117.5727721, 120.45912859999999, 8190591)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (531, '2015-11-19', 126.53, 127.62, 125.95, 126.86, 4660904, 0.0, 1, 117.0547081, 118.06308270000001, 116.5181419, 117.3599959, 4660904)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (532, '2015-11-18', 126.44, 126.73, 124.66, 126.54, 6501305, 0.0, 1, 116.9714479, 117.239731, 115.32474450000001, 117.0639593, 6501305)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (533, '2015-11-17', 124.86, 126.34, 123.1, 126.18, 10516554, 0.0, 1, 115.5097673, 116.8789364, 113.8815662, 116.7309182, 10516554)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (534, '2015-11-16', 120.05, 121.03, 118.61, 120.84, 7782603, 0.0, 1, 111.05996770000002, 111.9665797, 109.72780320000001, 111.79080800000001, 7782603)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (535, '2015-11-13', 123.1, 123.25, 119.9, 120.0, 8728203, 0.0, 1, 113.8815662, 114.02033329999999, 110.9212006, 111.01371200000001, 8728203)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (536, '2015-11-12', 124.18, 124.97, 123.06, 123.81, 4283672, 0.0, 1, 114.8806896, 115.61152990000001, 113.84456159999999, 114.5383973, 4283672)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (537, '2015-11-11', 125.43, 125.43, 124.52, 124.71, 3247636, 0.0, 1, 116.0370825, 116.0370825, 115.19522849999998, 115.37100020000001, 3247636)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (538, '2015-11-10', 124.49, 125.41, 124.04, 125.26, 3872769, 0.0, 1, 115.167475, 116.01858020000002, 114.7511736, 115.87981299999998, 3872769)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (539, '2015-11-09', 125.8, 126.12, 123.71, 124.5, 4988713, 0.0, 1, 116.3793747, 116.6754113, 114.44588590000002, 115.1767262, 4988713)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (540, '2015-11-06', 125.27, 126.1092, 124.82, 125.98, 3751518, 0.0, 1, 115.88906419999999, 116.66542009999999, 115.4727627, 116.5458953, 3751518)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (541, '2015-11-05', 125.46, 126.008, 124.95, 125.72, 3059445, 0.0, 1, 116.06483590000002, 116.57179850000001, 115.59302759999999, 116.3053656, 3059445)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (542, '2015-11-04', 125.48, 125.87, 124.62, 125.38, 4101588, 0.0, 1, 116.0833382, 116.44413270000001, 115.28773989999999, 115.9908267, 4101588)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (543, '2015-11-03', 124.23, 126.04, 123.81, 125.66, 4313696, 0.0, 1, 114.9269453, 116.60140220000001, 114.5383973, 116.2498587, 4313696)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (544, '2015-11-02', 124.24, 124.64, 123.38, 124.41, 3715526, 0.0, 1, 114.93619650000001, 115.3062422, 114.14059820000001, 115.0934659, 3715526)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (545, '2015-10-30', 123.27, 124.75, 123.27, 123.64, 4991516, 0.0, 1, 114.03883559999998, 115.4080047, 114.03883559999998, 114.38112790000001, 4991516)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (546, '2015-10-29', 123.42, 124.07, 122.75, 123.63, 4635293, 0.0, 1, 114.17760279999999, 114.778927, 113.5577762, 114.3718768, 4635293)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (547, '2015-10-28', 124.38, 124.59, 122.22, 123.82, 6821538, 0.0, 1, 115.0657125, 115.2599865, 113.06746570000001, 114.54764850000001, 6821538)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (548, '2015-10-27', 124.51, 125.09, 123.82, 124.47, 3674805, 0.0, 1, 115.1859773, 115.7225436, 114.54764850000001, 115.1489728, 3674805)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (549, '2015-10-26', 124.55, 125.66, 124.02, 125.01, 4550203, 0.0, 1, 115.22298190000001, 116.2498587, 114.73267129999999, 115.6485345, 4550203)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (550, '2015-10-23', 125.01, 125.75, 122.97, 124.61, 5281580, 0.0, 1, 115.6485345, 116.333119, 113.7613014, 115.2784888, 5281580)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (551, '2015-10-22', 123.9, 124.48, 122.88, 124.36, 5855133, 0.0, 1, 114.62165759999999, 115.15822390000001, 113.67804109999999, 115.0472102, 5855133)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (552, '2015-10-21', 123.29, 124.02, 122.75, 123.3, 3492096, 0.0, 1, 114.0573379, 114.73267129999999, 113.5577762, 114.06658909999999, 3492096)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (553, '2015-10-20', 122.89, 123.17, 122.35, 122.85, 3318402, 0.0, 1, 113.6872922, 113.9463242, 113.18773049999999, 113.6502876, 3318402)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (554, '2015-10-19', 122.61, 123.2, 122.2, 123.1, 3097713, 0.0, 1, 113.4282602, 113.97407759999999, 113.0489634, 113.8815662, 3097713)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (555, '2015-10-16', 121.63, 122.82, 121.63, 122.74, 4068819, 0.0, 1, 112.5216482, 113.62253419999999, 112.5216482, 113.54852509999999, 4068819)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (556, '2015-10-15', 120.62, 122.03, 120.4, 121.81, 3448925, 0.0, 1, 111.5872828, 112.8916939, 111.3837577, 112.68816880000001, 3448925)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (557, '2015-10-14', 121.33, 121.88, 119.56, 120.27, 5200401, 0.0, 1, 112.244114, 112.7529268, 110.6066617, 111.26349280000001, 5200401)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (558, '2015-10-13', 121.77, 122.29, 121.14, 121.61, 2971353, 0.0, 1, 112.6511642, 113.1322237, 112.0683422, 112.503146, 2971353)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (559, '2015-10-12', 121.49, 122.45, 121.0, 121.9, 2861908, 0.0, 1, 112.39213219999999, 113.2802419, 111.93882620000001, 112.77142909999999, 2861908)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (560, '2015-10-09', 121.27, 121.5, 120.47, 121.33, 3893492, 0.0, 1, 112.1886071, 112.4013834, 111.44851570000002, 112.244114, 3893492)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (561, '2015-10-08', 119.31, 121.23, 119.15, 121.06, 4958197, 0.0, 1, 110.37538310000001, 112.1516025, 110.2273649, 111.9943331, 4958197)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (562, '2015-10-07', 119.2, 119.84, 118.49, 119.65, 4810700, 0.0, 1, 110.2736206, 110.8656937, 109.6167894, 110.689922, 4810700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (563, '2015-10-06', 119.1, 119.2, 117.97, 118.68, 5275170, 0.0, 1, 110.1811091, 110.2736206, 109.13573000000001, 109.7925612, 5275170)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (564, '2015-10-05', 118.75, 119.29, 117.91, 119.2, 4528683, 0.0, 1, 109.8573192, 110.35688090000001, 109.0802232, 110.2736206, 4528683)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (565, '2015-10-02', 115.56, 117.9, 114.71, 117.81, 4359768, 0.0, 1, 106.90620459999998, 109.070972, 106.1198575, 108.9877117, 4359768)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (566, '2015-10-01', 116.23, 117.13, 114.74, 117.03, 5215027, 0.0, 1, 107.52603119999999, 108.35863400000001, 106.14761090000002, 108.2661226, 5215027)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (567, '2015-09-30', 114.37, 115.63, 114.0, 115.49, 5372051, 0.0, 1, 105.80531869999999, 106.9709626, 105.46302639999999, 106.8414466, 5372051)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (568, '2015-09-29', 114.21, 114.93, 111.8, 112.91, 7908590, 0.0, 1, 105.6573004, 106.32338270000001, 103.427775, 104.4546518, 7908590)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (569, '2015-09-28', 116.53, 117.38, 113.85, 114.1, 5918746, 0.0, 1, 107.8035655, 108.58991259999999, 105.3242592, 105.5555378, 5918746)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (570, '2015-09-25', 117.23, 118.165, 116.04, 116.74, 5478067, 0.0, 1, 108.45114550000001, 109.3161273, 107.35025949999999, 107.9978395, 5478067)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (571, '2015-09-24', 115.34, 116.65, 114.8401, 116.34, 5172256, 0.0, 1, 106.70267949999999, 107.91457920000002, 106.2402149, 107.6277938, 5172256)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (572, '2015-09-23', 115.85, 116.55, 115.66, 116.17, 4084866, 0.0, 1, 107.17448780000001, 107.82206780000001, 106.99871609999998, 107.47052430000001, 4084866)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (573, '2015-09-22', 115.4, 116.39, 114.89, 115.8, 4631593, 0.0, 1, 106.7581864, 107.67404950000001, 106.2863781, 107.1282321, 4631593)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (574, '2015-09-21', 115.96, 117.11, 115.27, 116.58, 5201675, 0.0, 1, 107.2762503, 108.3401318, 106.6379215, 107.84982120000001, 5201675)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (575, '2015-09-18', 116.51, 117.2, 114.98, 115.12, 11366739, 0.0, 1, 107.7850632, 108.42339199999999, 106.36963840000001, 106.4991544, 11366739)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (576, '2015-09-17', 118.33, 119.82, 117.271, 117.91, 6607052, 0.0, 1, 109.4687712, 110.84719140000001, 108.4890751, 109.0802232, 6607052)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (577, '2015-09-16', 116.08, 118.025, 115.97, 117.82, 5284786, 0.0, 1, 107.38726409999998, 109.1866113, 107.2855015, 108.9969629, 5284786)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (578, '2015-09-15', 114.78, 116.63, 113.9, 116.18, 4994007, 0.0, 1, 106.1846155, 107.89607690000001, 105.370515, 107.47977549999999, 4994007)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (579, '2015-09-14', 115.5, 115.68, 114.415, 114.73, 4248741, 0.0, 1, 106.85069779999999, 107.01721840000002, 105.84694879999999, 106.1383598, 4248741)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (580, '2015-09-11', 113.97, 115.46, 113.7, 115.44, 4472836, 0.0, 1, 105.435273, 106.8136932, 105.18549209999999, 106.7951909, 4472836)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (581, '2015-09-10', 114.0, 115.41, 113.69, 114.49, 5258920, 0.0, 1, 105.46302639999999, 106.7674375, 105.17624099999999, 105.9163324, 5258920)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (582, '2015-09-09', 117.11, 117.47, 113.7, 113.97, 5316362, 0.0, 1, 108.3401318, 108.67317290000001, 105.18549209999999, 105.435273, 5316362)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (583, '2015-09-08', 115.69, 116.64, 114.73, 116.43, 5775692, 0.0, 1, 107.0264695, 107.905328, 106.1383598, 107.7110541, 5775692)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (584, '2015-09-04', 114.68, 115.69, 113.49, 114.42, 5752377, 0.0, 1, 106.0921041, 107.0264695, 104.99121809999998, 105.85157439999999, 5752377)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (585, '2015-09-03', 117.03, 118.08, 116.18, 116.6, 5302908, 0.0, 1, 108.2661226, 109.2374926, 107.47977549999999, 107.86832350000002, 5302908)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (586, '2015-09-02', 114.89, 116.48, 114.32, 116.48, 6487416, 0.0, 1, 106.2863781, 107.7573098, 105.75906289999999, 107.7573098, 6487416)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (587, '2015-09-01', 114.12, 114.75, 112.56, 113.07, 7391417, 0.59, 1, 105.57404009999999, 106.1568621, 104.1308618, 104.60267009999998, 7391417)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (588, '2015-08-31', 116.92, 117.49, 115.93, 116.46, 5443665, 0.0, 1, 107.6028875, 108.1274654, 106.6917785, 107.1795439, 5443665)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (589, '2015-08-28', 117.43, 118.46, 116.92, 117.52, 5015991, 0.0, 1, 108.0722466, 109.02016809999999, 107.6028875, 108.1550747, 5015991)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (590, '2015-08-27', 117.57, 118.09, 115.33, 117.66, 7578884, 0.0, 1, 108.20109029999999, 108.67965259999998, 106.13959129999999, 108.28391840000002, 7578884)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (591, '2015-08-26', 114.06, 116.03, 112.08, 115.93, 9312821, 0.0, 1, 104.9707949, 106.7838097, 103.148577, 106.6917785, 9312821)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (592, '2015-08-25', 117.0, 117.0, 110.89, 110.97, 10218906, 0.0, 1, 107.67651240000001, 107.67651240000001, 102.0534057, 102.1270306, 10218906)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (593, '2015-08-24', 110.05, 115.88, 92.1685, 112.54, 13981497, 0.0, 1, 101.2803435, 106.6457629, 84.82378322, 103.57192059999998, 13981497)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (594, '2015-08-21', 119.54, 120.36, 116.15, 116.16, 10189723, 0.0, 1, 110.0141051, 110.76876100000001, 106.89424720000001, 106.9034503, 10189723)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (595, '2015-08-20', 121.98, 122.53, 120.54, 120.54, 5555537, 0.0, 1, 112.2596666, 112.7658382, 110.9344172, 110.9344172, 5555537)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (596, '2015-08-19', 122.67, 123.79, 122.13, 122.76, 6489892, 0.0, 1, 112.89468190000001, 113.92543140000001, 112.39771340000001, 112.97751000000001, 6489892)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (597, '2015-08-18', 121.83, 123.8, 121.15, 122.8, 11021504, 0.0, 1, 112.1216197, 113.9346345, 111.4958075, 113.0143225, 11021504)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (598, '2015-08-17', 119.1, 120.75, 118.73, 119.7, 7255634, 0.0, 1, 109.60916780000001, 111.12768270000001, 109.2686523, 110.161355, 7255634)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (599, '2015-08-14', 119.3, 119.89, 118.46, 119.75, 5135524, 0.0, 1, 109.79323020000001, 110.3362143, 109.02016809999999, 110.2073706, 5135524)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (600, '2015-08-13', 118.0, 120.14, 117.79, 119.02, 6255354, 0.0, 1, 108.59682450000001, 110.5662923, 108.403559, 109.5355428, 6255354)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (601, '2015-08-12', 117.13, 117.88, 115.7, 117.69, 4620961, 0.0, 1, 107.796153, 108.4863871, 106.48010670000001, 108.3115278, 4620961)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (602, '2015-08-11', 117.02, 118.14, 116.76, 117.69, 4080013, 0.0, 1, 107.69491869999999, 108.7256682, 107.4556375, 108.3115278, 4080013)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (603, '2015-08-10', 117.53, 118.34, 117.36, 117.6, 3408880, 0.0, 1, 108.1642778, 108.90973059999999, 108.0078248, 108.22869969999999, 3408880)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (604, '2015-08-07', 116.7, 117.16, 115.78, 116.93, 3986101, 0.0, 1, 107.40041880000001, 107.8237624, 106.5537317, 107.6120906, 3986101)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (605, '2015-08-06', 118.39, 118.5, 116.07, 116.56, 4768819, 0.0, 1, 108.95574620000001, 109.0569805, 106.8206222, 107.27157509999999, 4768819)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (606, '2015-08-05', 118.38, 118.53, 117.1001, 118.0, 4289242, 0.0, 1, 108.94654309999999, 109.0845899, 107.7686357, 108.59682450000001, 4289242)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (607, '2015-08-04', 116.63, 117.82, 116.25, 117.53, 3008159, 0.0, 1, 107.33599699999999, 108.4311683, 106.9862784, 108.1642778, 3008159)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (608, '2015-08-03', 117.62, 117.7, 116.16, 116.89, 3645105, 0.0, 1, 108.24710590000001, 108.32073090000002, 106.9034503, 107.57527809999999, 3645105)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (609, '2015-07-31', 116.98, 118.13, 116.37, 117.03, 4301198, 0.0, 1, 107.65810619999999, 108.71646509999998, 107.0967158, 107.70412179999998, 4301198)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (610, '2015-07-30', 115.94, 116.74, 115.345, 116.46, 3291136, 0.0, 1, 106.70098159999999, 107.43723130000001, 106.153396, 107.1795439, 3291136)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (611, '2015-07-29', 115.16, 116.76, 115.11, 116.37, 5104040, 0.0, 1, 105.9831382, 107.4556375, 105.93712260000001, 107.0967158, 5104040)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (612, '2015-07-28', 113.76, 115.03, 113.18, 114.84, 4176783, 0.0, 1, 104.69470129999999, 105.8634977, 104.1609203, 105.6886384, 4176783)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (613, '2015-07-27', 113.37, 113.89, 112.71, 113.07, 4468238, 0.0, 1, 104.3357796, 104.81434190000002, 103.7283736, 104.059686, 4468238)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (614, '2015-07-24', 114.74, 115.23, 113.43, 113.59, 4427520, 0.0, 1, 105.5966072, 106.0475601, 104.3909983, 104.5382483, 4427520)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (615, '2015-07-23', 115.21, 116.11, 114.43, 114.59, 4308872, 0.0, 1, 106.02915379999999, 106.85743470000001, 105.31131040000001, 105.45856029999999, 4308872)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (616, '2015-07-22', 113.96, 115.08, 113.8, 114.9, 5483244, 0.0, 1, 104.87876370000001, 105.90951329999999, 104.73151379999999, 105.7438571, 5483244)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (617, '2015-07-21', 113.41, 113.97, 112.678, 113.86, 4660577, 0.0, 1, 104.37259209999999, 104.8879669, 103.69892370000001, 104.7867325, 4660577)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (618, '2015-07-20', 112.25, 114.1095, 112.17, 113.41, 6107521, 0.0, 1, 103.3050301, 105.0163504, 103.2314051, 104.37259209999999, 6107521)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (619, '2015-07-17', 114.49, 115.0, 114.0, 114.47, 5497516, 0.0, 1, 105.3665291, 105.8358883, 104.9155762, 105.3481229, 5497516)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (620, '2015-07-16', 115.87, 115.91, 113.83, 114.73, 5234834, 0.0, 1, 106.6365598, 106.6733723, 104.7591232, 105.587404, 5234834)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (621, '2015-07-15', 115.42, 116.15, 115.07, 115.58, 3365201, 0.0, 1, 106.2224194, 106.89424720000001, 105.9003101, 106.3696693, 3365201)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (622, '2015-07-14', 114.5, 115.53, 114.39, 115.36, 3688831, 0.0, 1, 105.37573229999998, 106.3236537, 105.2744979, 106.1672006, 3688831)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (623, '2015-07-13', 114.21, 115.02, 114.0655, 114.9, 4171921, 0.0, 1, 105.10884180000001, 105.85429450000001, 104.97585670000001, 105.7438571, 4171921)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (624, '2015-07-10', 112.67, 113.48, 112.09, 113.1, 4631403, 0.0, 1, 103.69156120000001, 104.43701390000001, 103.1577802, 104.0872954, 4631403)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (625, '2015-07-09', 112.32, 112.59, 111.2, 111.38, 3643735, 0.0, 1, 103.36945190000002, 103.6179362, 102.3387024, 102.50435859999999, 3643735)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (626, '2015-07-08', 111.72, 112.46, 110.8, 111.0, 3794058, 0.0, 1, 102.8172647, 103.49829559999999, 101.9705776, 102.15464, 3794058)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (627, '2015-07-07', 111.72, 112.6399, 110.7, 112.4, 5515757, 0.0, 1, 102.8172647, 103.6638598, 101.8785464, 103.44307690000001, 5515757)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (628, '2015-07-06', 110.27, 111.93, 110.17, 111.32, 3864664, 0.0, 1, 101.4828122, 103.0105302, 101.390781, 102.4491399, 3864664)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (629, '2015-07-02', 112.58, 112.75, 111.1, 111.49, 3845043, 0.0, 1, 103.6087331, 103.7651861, 102.24667120000001, 102.6055929, 3845043)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (630, '2015-07-01', 112.45, 112.81, 111.47, 112.07, 4216233, 0.0, 1, 103.4890925, 103.82040490000001, 102.5871867, 103.13937390000001, 4216233)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (631, '2015-06-30', 111.15, 111.76, 110.59, 111.13, 5938810, 0.0, 1, 102.2926868, 102.8540772, 101.77731209999999, 102.2742806, 5938810)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (632, '2015-06-29', 111.56, 112.32, 110.46, 110.54, 5187330, 0.0, 1, 102.67001479999999, 103.36945190000002, 101.65767149999999, 101.7312965, 5187330)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (633, '2015-06-26', 112.77, 113.34, 112.23, 112.6, 4208527, 0.0, 1, 103.78359240000002, 104.3081703, 103.28662390000001, 103.6271393, 4208527)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (634, '2015-06-25', 113.24, 113.71, 112.24, 112.24, 4467082, 0.0, 1, 104.216139, 104.6486857, 103.295827, 103.295827, 4467082)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (635, '2015-06-24', 112.94, 113.68, 112.35, 112.35, 3716056, 0.0, 1, 103.9400454, 104.6210764, 103.3970613, 103.3970613, 3716056)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (636, '2015-06-23', 113.24, 113.59, 112.93, 113.18, 3075864, 0.0, 1, 104.216139, 104.5382483, 103.9308423, 104.1609203, 3075864)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (637, '2015-06-22', 112.93, 113.62, 112.78, 113.07, 3190171, 0.0, 1, 103.9308423, 104.56585759999999, 103.7927955, 104.059686, 3190171)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (638, '2015-06-19', 111.64, 113.3, 111.44, 112.43, 9255075, 0.0, 1, 102.7436397, 104.2713578, 102.55957729999999, 103.4706863, 9255075)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (639, '2015-06-18', 111.06, 112.3, 110.76, 111.85, 7222290, 0.0, 1, 102.20985870000001, 103.3510457, 101.9337651, 102.93690529999999, 7222290)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (640, '2015-06-17', 110.73, 111.29, 109.96, 110.47, 5722179, 0.0, 1, 101.9061557, 102.4215305, 101.19751540000001, 101.66687459999999, 5722179)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (641, '2015-06-16', 109.9, 110.45, 109.75, 110.23, 3466563, 0.0, 1, 101.1422967, 101.6484684, 101.0042499, 101.4459997, 3466563)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (642, '2015-06-15', 110.23, 110.455, 109.55, 110.01, 3965178, 0.0, 1, 101.4459997, 101.6530699, 100.8201875, 101.2435311, 3965178)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (643, '2015-06-12', 110.89, 111.59, 110.415, 110.6, 4301864, 0.0, 1, 102.0534057, 102.6976241, 101.61625740000001, 101.7865152, 4301864)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (644, '2015-06-11', 111.0, 112.33, 111.0, 111.29, 3642764, 0.0, 1, 102.15464, 103.3786551, 102.15464, 102.4215305, 3642764)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (645, '2015-06-10', 109.9, 111.19, 109.39, 110.98, 3967931, 0.0, 1, 101.1422967, 102.3294993, 100.6729376, 102.1362338, 3967931)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (646, '2015-06-09', 109.79, 110.25, 109.03, 109.53, 3658994, 0.0, 1, 101.0410624, 101.46440600000001, 100.3416252, 100.8017813, 3658994)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (647, '2015-06-08', 110.14, 110.81, 109.83, 109.93, 3449728, 0.0, 1, 101.36317159999999, 101.9797807, 101.07787490000001, 101.1699061, 3449728)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (648, '2015-06-05', 111.34, 111.36, 110.27, 110.37, 4505390, 0.0, 1, 102.46754609999999, 102.4859524, 101.4828122, 101.5748434, 4505390)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (649, '2015-06-04', 112.52, 113.16, 111.1745, 111.46, 4328576, 0.0, 1, 103.55351440000001, 104.1425141, 102.3152345, 102.5779836, 4328576)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (650, '2015-06-03', 111.72, 113.48, 111.45, 113.16, 6337980, 0.0, 1, 102.8172647, 104.43701390000001, 102.5687804, 104.1425141, 6337980)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (651, '2015-06-02', 110.75, 112.18, 110.64, 111.59, 6088050, 0.59, 1, 101.924562, 103.24060820000001, 101.82332770000001, 102.6976241, 6088050)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (652, '2015-06-01', 111.97, 112.34, 111.25, 111.67, 5114792, 0.0, 1, 102.5053751, 102.84409959999999, 101.84623540000001, 102.2307335, 5114792)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (653, '2015-05-29', 111.84, 112.59, 111.37, 111.42, 5310612, 0.0, 1, 102.3863637, 103.0729676, 101.956092, 102.0018656, 5310612)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (654, '2015-05-28', 111.91, 112.7, 111.86, 112.19, 2806141, 0.0, 1, 102.4504467, 103.17366949999999, 102.4046732, 102.7067788, 2806141)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (655, '2015-05-27', 111.04, 112.53, 110.81, 112.16, 4147765, 0.0, 1, 101.6539863, 103.0180392, 101.4434278, 102.6793147, 4147765)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (656, '2015-05-26', 112.0, 112.18, 110.69, 110.93, 4609621, 0.0, 1, 102.5328392, 102.6976241, 101.33357120000001, 101.55328440000001, 4609621)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (657, '2015-05-22', 111.87, 112.53, 111.46, 112.16, 3693959, 0.0, 1, 102.41382790000002, 103.0180392, 102.0384844, 102.6793147, 3693959)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (658, '2015-05-21', 111.98, 112.3299, 111.62, 112.01, 4238135, 0.0, 1, 102.51452979999999, 102.83485329999999, 102.18495990000001, 102.5419939, 4238135)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (659, '2015-05-20', 112.19, 112.89, 111.22, 112.1, 7004396, 0.0, 1, 102.7067788, 103.34760909999999, 101.8187712, 102.6243864, 7004396)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (660, '2015-05-19', 116.12, 116.48, 112.34, 112.34, 11133206, 0.0, 1, 106.30458290000001, 106.6341528, 102.84409959999999, 102.84409959999999, 11133206)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (661, '2015-05-18', 113.87, 114.6, 113.16, 114.33, 6861935, 0.0, 1, 104.2447714, 104.91306580000001, 103.5947865, 104.6658885, 6861935)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (662, '2015-05-15', 111.92, 113.4, 111.82, 113.35, 4573411, 0.0, 1, 102.4596015, 103.8144997, 102.3680543, 103.7687261, 4573411)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (663, '2015-05-14', 112.05, 112.22, 110.83, 111.94, 3815583, 0.0, 1, 102.5786128, 102.734243, 101.4617372, 102.47791090000001, 3815583)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (664, '2015-05-13', 112.92, 112.95, 111.1, 111.19, 4340651, 0.0, 1, 103.3750732, 103.4025374, 101.7089146, 101.7913071, 4340651)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (665, '2015-05-12', 111.12, 112.82, 110.83, 112.52, 4053424, 0.0, 1, 101.72722399999999, 103.28352609999999, 101.4617372, 103.0088845, 4053424)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (666, '2015-05-11', 112.24, 112.91, 111.81, 111.9, 3724256, 0.0, 1, 102.75255240000001, 103.3659185, 102.35889959999999, 102.441292, 3724256)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (667, '2015-05-08', 112.4, 113.4825, 112.11, 112.47, 6435306, 0.0, 1, 102.89902790000001, 103.8900261, 102.6335411, 102.9631109, 6435306)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (668, '2015-05-07', 108.4, 110.7199, 108.25, 110.04, 5399940, 0.0, 1, 99.23714079999999, 101.3609438, 99.09982004, 100.73851450000001, 5399940)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (669, '2015-05-06', 108.2, 108.91, 107.2401, 108.31, 3996633, 0.0, 1, 99.05404645, 99.70403141, 98.17528509, 99.15474834, 3996633)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (670, '2015-05-05', 109.2, 109.88, 107.98, 108.06, 4164209, 0.0, 1, 99.96951823, 100.592039, 98.85264266, 98.9258804, 4164209)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (671, '2015-05-04', 109.94, 110.4497, 109.32, 110.06, 3366690, 0.0, 1, 100.6469673, 101.1135833, 100.0793748, 100.756824, 3366690)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (672, '2015-05-01', 106.98, 109.79, 106.85, 109.55, 6696926, 0.0, 1, 97.93717088, 100.5096466, 97.81815955, 100.2899333, 6696926)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (673, '2015-04-30', 108.56, 109.21, 106.62, 106.98, 9041410, 0.0, 1, 99.38361629, 99.97867294, 97.60760104, 97.93717088, 9041410)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (674, '2015-04-29', 110.17, 110.31, 108.07, 108.71, 7231417, 0.0, 1, 100.85752590000001, 100.9856919, 98.93503512, 99.52093706, 7231417)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (675, '2015-04-28', 110.9, 111.77, 110.05, 110.58, 5743264, 0.0, 1, 101.52582029999999, 102.32228070000001, 100.7476692, 101.23286929999999, 5743264)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (676, '2015-04-27', 114.05, 114.11, 111.28, 111.39, 5617518, 0.0, 1, 104.4095564, 104.4644847, 101.8736995, 101.9744014, 5617518)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (677, '2015-04-24', 113.88, 114.04, 112.9, 113.7, 2879124, 0.0, 1, 104.2539262, 104.4004016, 103.3567638, 104.0891412, 2879124)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (678, '2015-04-23', 112.74, 114.51, 112.56, 113.96, 3945310, 0.0, 1, 103.21028829999999, 104.83067340000001, 103.04550340000002, 104.3271639, 3945310)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (679, '2015-04-22', 113.2, 113.31, 112.19, 112.99, 4065277, 0.0, 1, 103.6314053, 103.7321072, 102.7067788, 103.4391563, 4065277)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (680, '2015-04-21', 113.5, 113.98, 112.5, 113.17, 3899843, 0.0, 1, 103.9060469, 104.3454733, 102.99057509999999, 103.6039412, 3899843)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (681, '2015-04-20', 113.0, 113.69, 112.68, 112.86, 4397308, 0.0, 1, 103.448311, 104.0799865, 103.15536, 103.3201449, 4397308)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (682, '2015-04-17', 112.91, 113.11, 111.7701, 112.1, 6244371, 0.0, 1, 103.3659185, 103.54901290000001, 102.3223722, 102.6243864, 6244371)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (683, '2015-04-16', 113.34, 113.99, 113.02, 113.37, 4013015, 0.0, 1, 103.7595714, 104.354628, 103.4666204, 103.7870355, 4013015)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (684, '2015-04-15', 114.58, 115.21, 113.38, 113.45, 4210990, 0.0, 1, 104.8947564, 105.47150359999999, 103.79619029999999, 103.8602733, 4210990)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (685, '2015-04-14', 114.2, 114.98, 113.11, 114.05, 4072474, 0.0, 1, 104.54687709999999, 105.26094509999999, 103.54901290000001, 104.4095564, 4072474)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (686, '2015-04-13', 114.96, 115.43, 114.35, 114.44, 2981956, 0.0, 1, 105.24263570000001, 105.6729074, 104.6841979, 104.76659029999999, 2981956)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (687, '2015-04-10', 114.47, 115.65, 114.42, 115.24, 3658058, 0.0, 1, 104.7940545, 105.8743112, 104.7482809, 105.4989678, 3658058)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (688, '2015-04-09', 115.46, 116.2446, 114.14, 114.57, 4673843, 0.0, 1, 105.7003716, 106.4186507, 104.4919488, 104.8856017, 4673843)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (689, '2015-04-08', 113.97, 115.81, 113.83, 115.59, 3753476, 0.0, 1, 104.3363186, 106.0207867, 104.20815259999999, 105.81938290000001, 3753476)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (690, '2015-04-07', 114.83, 115.79, 114.23, 114.3, 3189204, 0.0, 1, 105.1236243, 106.00247720000002, 104.5743413, 104.6384243, 3189204)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (691, '2015-04-06', 113.45, 115.55, 113.41, 114.95, 3249993, 0.0, 1, 103.8602733, 105.78276399999999, 103.82365440000001, 105.23348100000001, 3249993)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (692, '2015-04-02', 112.61, 114.92, 112.52, 114.54, 4065097, 0.0, 1, 103.091277, 105.2060168, 103.0088845, 104.8581375, 4065097)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (693, '2015-04-01', 113.88, 114.0, 112.43, 113.13, 4737737, 0.0, 1, 104.2539262, 104.3637828, 102.9264921, 103.5673223, 4737737)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (694, '2015-03-31', 113.7, 115.37, 113.55, 113.61, 4127794, 0.0, 1, 104.0891412, 105.6179791, 103.9518205, 104.0067488, 4127794)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (695, '2015-03-30', 114.96, 116.05, 114.53, 114.63, 3965431, 0.0, 1, 105.24263570000001, 106.2404999, 104.8489828, 104.94053000000001, 3965431)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (696, '2015-03-27', 112.08, 114.23, 112.0, 113.86, 3878955, 0.0, 1, 102.6060769, 104.5743413, 102.5328392, 104.23561670000001, 3878955)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (697, '2015-03-26', 113.36, 113.43, 111.58, 112.37, 5409493, 0.0, 1, 103.77788079999999, 103.84196390000001, 102.1483411, 102.87156379999999, 5409493)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (698, '2015-03-25', 115.96, 116.61, 113.64, 113.68, 4724545, 0.0, 1, 106.1581075, 106.75316409999998, 104.03421290000001, 104.0708318, 4724545)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (699, '2015-03-24', 116.2, 117.83, 116.04, 116.15, 4026566, 0.0, 1, 106.37782069999999, 107.8700397, 106.2313452, 106.3320471, 4026566)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (700, '2015-03-23', 117.04, 117.75, 116.07, 116.07, 4094988, 0.0, 1, 107.146817, 107.7968019, 106.25880929999998, 106.25880929999998, 4094988)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (701, '2015-03-20', 115.55, 117.99, 115.33, 117.49, 8445980, 0.0, 1, 105.78276399999999, 108.0165152, 105.58136019999999, 107.55877930000001, 8445980)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (702, '2015-03-19', 116.21, 116.43, 115.07, 115.16, 3545475, 0.0, 1, 106.3869754, 106.58837920000002, 105.3433376, 105.42573, 3545475)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (703, '2015-03-18', 115.41, 116.42, 113.3101, 116.08, 4773432, 0.0, 1, 105.654598, 106.57922450000001, 103.7321988, 106.26796409999999, 4773432)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (704, '2015-03-17', 115.45, 116.0799, 115.14, 115.58, 3715820, 0.0, 1, 105.6912168, 106.26787250000001, 105.4074206, 105.81022820000001, 3715820)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (705, '2015-03-16', 115.33, 116.61, 115.32, 116.5, 4820315, 0.0, 1, 105.58136019999999, 106.75316409999998, 105.5722055, 106.6524622, 4820315)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (706, '2015-03-13', 115.99, 116.31, 114.0, 114.82, 4626884, 0.0, 1, 106.1855716, 106.4785226, 104.3637828, 105.1144696, 4626884)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (707, '2015-03-12', 113.85, 116.46, 113.77, 116.1, 5741991, 0.0, 1, 104.226462, 106.6158433, 104.1532243, 106.28627350000001, 5741991)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (708, '2015-03-11', 112.68, 113.8, 112.41, 113.07, 4356487, 0.0, 1, 103.15536, 104.18068840000001, 102.90818259999999, 103.512394, 4356487)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (709, '2015-03-10', 113.85, 114.34, 112.56, 112.56, 5685032, 0.59, 1, 104.226462, 104.6750432, 103.04550340000002, 103.04550340000002, 5685032)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (710, '2015-03-09', 114.38, 115.48, 114.37, 115.25, 5351215, 0.0, 1, 104.1656622, 105.1674303, 104.1565552, 104.95796969999999, 5351215)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (711, '2015-03-06', 115.96, 115.96, 114.0, 114.45, 5169186, 0.0, 1, 105.60456540000001, 105.60456540000001, 103.81959690000001, 104.2294111, 5169186)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (712, '2015-03-05', 115.23, 116.098, 115.06, 115.91, 4089528, 0.0, 1, 104.9397557, 105.7302418, 104.784937, 105.55903049999999, 4089528)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (713, '2015-03-04', 115.39, 115.47, 114.25, 114.76, 3798834, 0.0, 1, 105.08546740000001, 105.1583233, 104.0472714, 104.5117275, 3798834)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (714, '2015-03-03', 116.11, 116.12, 114.8, 116.07, 3784741, 0.0, 1, 105.74117009999999, 105.75027709999999, 104.54815550000001, 105.7047422, 3784741)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (715, '2015-03-02', 114.86, 117.06, 114.86, 116.12, 5971881, 0.0, 1, 104.6027974, 106.6063334, 104.6027974, 105.75027709999999, 5971881)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (716, '2015-02-27', 115.19, 115.67, 114.555, 114.75, 5732581, 0.0, 1, 104.9033278, 105.34046289999999, 104.3250344, 104.50262059999999, 5732581)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (717, '2015-02-26', 116.0, 116.42, 115.2, 115.38, 5649627, 0.0, 1, 105.64099329999999, 106.0234866, 104.9124348, 105.0763604, 5649627)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (718, '2015-02-25', 117.35, 117.35, 115.85, 116.31, 7328170, 0.0, 1, 106.87043590000002, 106.87043590000002, 105.5043886, 105.9233098, 7328170)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (719, '2015-02-24', 117.5, 117.92, 115.13, 116.75, 12775465, 0.0, 1, 107.00704070000002, 107.38953390000002, 104.8486859, 106.324017, 12775465)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (720, '2015-02-23', 112.99, 113.16, 111.8, 112.28, 5626895, 0.0, 1, 102.89979170000001, 103.0546104, 101.8160608, 102.253196, 5626895)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (721, '2015-02-20', 110.81, 112.25, 110.05, 112.24, 7269410, 0.0, 1, 100.9144696, 102.225875, 100.22233890000001, 102.216768, 7269410)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (722, '2015-02-19', 112.01, 112.447, 110.635, 110.94, 5910566, 0.0, 1, 102.0073074, 102.40528259999999, 100.75509740000001, 101.0328603, 5910566)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (723, '2015-02-18', 111.6, 112.17, 111.0, 111.99, 3731576, 0.0, 1, 101.6339212, 102.1530191, 101.0875022, 101.98909350000001, 3731576)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (724, '2015-02-17', 111.69, 112.225, 110.62, 112.0, 6029630, 0.0, 1, 101.715884, 102.20310759999998, 100.74143690000001, 101.9982005, 6029630)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (725, '2015-02-13', 112.01, 112.39, 111.3, 111.89, 5099683, 0.0, 1, 102.0073074, 102.3533728, 101.36071170000001, 101.89802359999999, 5099683)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (726, '2015-02-12', 110.81, 112.2, 110.21, 112.16, 4592234, 0.0, 1, 100.9144696, 102.1803401, 100.36805059999999, 102.1439122, 4592234)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (727, '2015-02-11', 110.6, 110.79799999999999, 109.81, 110.31, 4553751, 0.0, 1, 100.72322290000001, 100.9035412, 100.0037714, 100.4591205, 4553751)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (728, '2015-02-10', 108.79, 110.85, 108.66, 110.67, 5414382, 0.0, 1, 99.07485917, 100.9508975, 98.9564684, 100.7869718, 5414382)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (729, '2015-02-09', 108.88, 109.46, 108.04, 108.34, 4243688, 0.0, 1, 99.15682201, 99.68502698, 98.39183551, 98.66504497, 4243688)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (730, '2015-02-06', 109.28, 109.74, 108.46, 109.04, 4223512, 0.0, 1, 99.5211013, 99.94002248, 98.77432876, 99.30253373, 4223512)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (731, '2015-02-05', 108.98, 109.34, 108.15, 108.99, 4471801, 0.0, 1, 99.24789183, 99.57574319, 98.49201231, 99.25699881, 4471801)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (732, '2015-02-04', 107.09, 109.0, 106.75, 108.41, 6765343, 0.0, 1, 97.52667220000001, 99.26610579999999, 97.21703481, 98.72879385, 6765343)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (733, '2015-02-03', 104.89, 107.32, 104.81, 107.24, 5969829, 0.0, 1, 95.52313612, 97.73613279, 95.45028026, 97.66327693, 5969829)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (734, '2015-02-02', 104.78, 105.0, 101.57, 104.43, 5012500, 0.0, 1, 95.42295932, 95.62331292, 92.49961803, 95.10421494, 5012500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (735, '2015-01-30', 106.36, 106.86, 104.38, 104.42, 6998847, 0.0, 1, 96.8618625, 97.31721161, 95.05868003, 95.09510796, 6998847)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (736, '2015-01-29', 105.14, 107.74, 104.51, 107.62, 6529339, 0.0, 1, 95.75081067, 98.11862604, 95.1770708, 98.00934226, 6529339)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (737, '2015-01-28', 105.31, 107.43, 104.6, 104.74, 4917308, 0.0, 1, 95.90562937, 97.83630959, 95.25903364, 95.38653139, 4917308)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (738, '2015-01-27', 104.78, 105.8137, 104.4, 105.16, 4606480, 0.0, 1, 95.42295932, 96.36434806, 95.07689399, 95.76902464, 4606480)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (739, '2015-01-26', 105.36, 106.5, 105.06, 106.36, 4191784, 0.0, 1, 95.95116428, 96.98936025, 95.67795482, 96.8618625, 4191784)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (740, '2015-01-23', 106.21, 106.48, 105.31, 105.37, 4075976, 0.0, 1, 96.72525777, 96.97114629, 95.90562937, 95.96027126, 4075976)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (741, '2015-01-22', 104.38, 106.31, 103.54, 106.07, 5804132, 0.0, 1, 95.05868003, 96.81632759, 94.29369352, 96.59776002, 5804132)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (742, '2015-01-21', 103.05, 104.06, 102.5, 103.53, 5899195, 0.0, 1, 93.84745140000001, 94.7672566, 93.34656738, 94.28458654, 5899195)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (743, '2015-01-20', 104.84, 104.95, 102.35, 103.25, 5335516, 0.0, 1, 95.47760121, 95.57777801, 93.20996265, 94.02959104, 5335516)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (744, '2015-01-16', 100.86, 104.31, 100.24, 104.12, 6403841, 0.0, 1, 91.8530223, 94.99493115, 91.28838940000001, 94.82189849, 6403841)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (745, '2015-01-15', 103.32, 103.65, 100.82, 101.01, 6894339, 0.0, 1, 94.09333992, 94.39387033, 91.81659437, 91.98962703, 6894339)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (746, '2015-01-14', 102.42, 103.41, 101.88, 102.64, 5384438, 0.0, 1, 93.27371152, 94.17530276, 92.78193448, 93.47406513, 5384438)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (747, '2015-01-13', 105.41, 106.04, 103.15, 103.73, 5395001, 0.0, 1, 95.99669919, 96.57043907, 93.93852122, 94.46672619, 5395001)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (748, '2015-01-12', 105.17, 105.29, 104.06, 104.42, 4992830, 0.0, 1, 95.77813162, 95.88741541, 94.7672566, 95.09510796, 4992830)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (749, '2015-01-09', 106.88, 106.88, 104.82, 104.89, 5701822, 0.0, 1, 97.33542557, 97.33542557, 95.45938724, 95.52313612, 5701822)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (750, '2015-01-08', 105.37, 106.99, 105.02, 106.72, 6467464, 0.0, 1, 95.96027126, 97.43560238, 95.64152689, 97.18971386, 6467464)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (751, '2015-01-07', 102.29, 104.47, 101.995, 104.41, 5089936, 0.0, 1, 93.15532075, 95.14064287, 92.88666478, 95.08600097, 5089936)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (752, '2015-01-06', 102.07, 102.07, 100.34, 100.95, 4913039, 0.0, 1, 92.95496714, 92.95496714, 91.37945923, 91.93498514, 4913039)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (753, '2015-01-05', 102.78, 102.78, 100.79, 101.26, 5881379, 0.0, 1, 93.60156288, 93.60156288, 91.78927342, 92.21730159, 5881379)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (754, '2015-01-02', 105.16, 105.6548, 102.67, 103.43, 4324850, 0.0, 1, 95.76902464, 96.21963812, 93.50138607, 94.19351672, 4324850)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (755, '2014-12-31', 104.75, 106.02, 104.56, 104.97, 5821631, 0.0, 1, 95.39563837, 96.55222511, 95.22260571, 95.59599198, 5821631)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (756, '2014-12-30', 104.44, 104.74, 103.85, 104.27, 2927755, 0.0, 1, 95.11332192, 95.38653139, 94.57600997, 94.95850322, 2927755)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (757, '2014-12-29', 103.58, 104.8, 103.26100000000001, 104.53, 3492708, 0.0, 1, 94.33012145, 95.44117328, 94.03960872, 95.19528476, 3492708)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (758, '2014-12-26', 103.98, 104.3202, 103.48, 103.75, 2594855, 0.0, 1, 94.69440074, 95.00422027, 94.23905163, 94.48494015, 2594855)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (759, '2014-12-24', 104.05, 104.3792, 103.56, 103.56, 1819047, 0.0, 1, 94.75814962, 95.05795147, 94.31190749, 94.31190749, 1819047)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (760, '2014-12-23', 103.66, 104.2, 103.32, 103.76, 4067739, 0.0, 1, 94.40297731, 94.89475435, 94.09333992, 94.49404713, 4067739)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (761, '2014-12-22', 102.25, 103.57, 102.23, 103.5, 5418865, 0.0, 1, 93.11889282, 94.32101447, 93.10067886, 94.2572656, 5418865)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (762, '2014-12-19', 100.92, 102.0, 100.81, 101.93, 12500604, 0.0, 1, 91.90766419, 92.89121827, 91.80748739, 92.82746939, 12500604)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (763, '2014-12-18', 100.34, 100.69, 99.3, 100.67, 6593517, 0.0, 1, 91.37945923, 91.6982036, 90.43233308, 91.67998964, 6593517)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (764, '2014-12-17', 97.59, 99.14, 97.09, 98.94, 6096377, 0.0, 1, 88.87503913, 90.28662136, 88.41969002, 90.10448172, 6096377)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (765, '2014-12-16', 99.38, 100.23200000000001, 96.99, 97.06, 7831429, 0.0, 1, 90.50518894, 91.28110382, 88.32862019, 88.39236907, 7831429)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (766, '2014-12-15', 100.01, 101.24, 99.29, 100.05, 5488342, 0.0, 1, 91.07892881, 92.19908762, 90.4232261, 91.11535674, 5488342)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (767, '2014-12-12', 99.69, 101.25, 99.39, 99.78, 5985138, 0.0, 1, 90.78750538, 92.2081946, 90.51429592, 90.86946822, 5985138)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (768, '2014-12-11', 99.28, 101.4, 99.15, 100.27, 6863672, 0.0, 1, 90.41411911, 92.34479934, 90.29572835, 91.31571035, 6863672)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (769, '2014-12-10', 99.36, 100.23, 98.82, 98.94, 5356939, 0.0, 1, 90.48697497, 91.27928242, 89.99519793, 90.10448172, 5356939)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (770, '2014-12-09', 99.69, 99.98, 98.5856, 99.64, 5280581, 0.0, 1, 90.78750538, 91.05160787, 89.78173027, 90.74197047, 5280581)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (771, '2014-12-08', 99.71, 100.95, 99.66, 100.43, 6624334, 0.0, 1, 90.80571935, 91.93498514, 90.76018444, 91.46142207, 6624334)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (772, '2014-12-05', 98.77, 99.68, 98.66, 99.64, 4649088, 0.0, 1, 89.94966302, 90.7783984, 89.84948622, 90.74197047, 4649088)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (773, '2014-12-04', 98.15, 99.11, 97.78, 98.95, 5227444, 0.0, 1, 89.38503013, 90.25930042, 89.04807179, 90.1135887, 5227444)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (774, '2014-12-03', 98.1, 98.7399, 98.04, 98.59, 4358974, 0.0, 1, 89.33949522, 89.92225101, 89.28485332, 89.78573734, 4358974)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (775, '2014-12-02', 98.62, 99.0, 97.99, 98.16, 4677714, 0.47, 1, 89.81305829, 90.15912361, 89.23931841, 89.39413711, 4677714)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (776, '2014-12-01', 99.49, 99.61, 98.31, 98.88, 4393689, 0.0, 1, 90.17360541, 90.28236842, 89.1041024, 89.62072673, 4393689)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (777, '2014-11-28', 98.06, 99.8, 98.0, 99.4, 3305799, 0.0, 1, 88.87751278, 90.45457653, 88.82313127, 90.09203314, 3305799)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (778, '2014-11-26', 97.06, 97.71, 97.01, 97.7, 4338093, 0.0, 1, 87.97115429, 88.56028731, 87.92583637, 88.55122372, 4338093)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (779, '2014-11-25', 98.64, 98.87, 96.41, 97.01, 7991953, 0.0, 1, 89.4032007, 89.61166315, 87.38202128, 87.92583637, 7991953)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (780, '2014-11-24', 98.68, 98.9, 98.22, 98.4, 5043636, 0.0, 1, 89.43945503, 89.63885390000002, 89.02253013, 89.18567466, 5043636)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (781, '2014-11-21', 98.98, 99.1, 97.82, 98.28, 6804741, 0.0, 1, 89.71136258, 89.8201256, 88.65998674, 89.07691164, 6804741)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (782, '2014-11-20', 96.08, 97.97, 96.02, 97.57, 4958379, 0.0, 1, 87.08292298, 88.79594051, 87.02854147, 88.43339712, 4958379)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (783, '2014-11-19', 96.55, 97.31, 96.0, 96.7, 6830710, 0.0, 1, 87.50891147, 88.19774391, 87.0104143, 87.64486524, 6830710)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (784, '2014-11-18', 97.15, 97.71, 86.78, 95.98, 10387062, 0.0, 1, 88.05272656, 88.56028731, 78.65378909, 86.99228713, 10387062)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (785, '2014-11-17', 98.17, 98.945, 97.8, 98.03, 8575645, 0.0, 1, 88.97721221, 89.67964003, 88.64185957, 88.85032202, 8575645)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (786, '2014-11-14', 98.9, 99.0, 98.02, 98.24, 4082879, 0.0, 1, 89.63885390000002, 89.72948975, 88.84125844, 89.04065729999999, 4082879)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (787, '2014-11-13', 98.9, 99.36, 98.34, 99.0, 3182816, 0.0, 1, 89.63885390000002, 90.0557788, 89.13129315, 89.72948975, 3182816)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (788, '2014-11-12', 98.3, 98.7, 97.61, 98.49, 4629393, 0.0, 1, 89.09503881, 89.4575822, 88.46965146, 89.26724692, 4629393)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (789, '2014-11-11', 98.46, 98.75, 97.88, 98.14, 3819301, 0.0, 1, 89.24005617, 89.50290013, 88.71436825, 88.95002145, 3819301)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (790, '2014-11-10', 97.64, 98.17, 97.0, 98.16, 3662160, 0.0, 1, 88.49684221, 88.97721221, 87.91677278, 88.96814862, 3662160)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (791, '2014-11-07', 97.17, 97.75, 96.6925, 97.65, 3429560, 0.0, 1, 88.07085373, 88.59654165, 87.63806755, 88.5059058, 3429560)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (792, '2014-11-06', 96.35, 97.51, 96.01, 97.29, 4016028, 0.0, 1, 87.32763977, 88.37901561, 87.01947789, 88.17961674, 4016028)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (793, '2014-11-05', 96.59, 96.85, 95.15, 95.78, 5002514, 0.0, 1, 87.54516581, 87.78081901, 86.24000959, 86.81101544, 5002514)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (794, '2014-11-04', 96.06, 96.18, 95.19, 95.96, 5349563, 0.0, 1, 87.06479581, 87.17355883, 86.27626393, 86.97415996, 5349563)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (795, '2014-11-03', 96.81, 96.83, 95.975, 96.09, 7614158, 0.0, 1, 87.74456467, 87.76269184, 86.98775534, 87.09198657, 7614158)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (796, '2014-10-31', 98.78, 99.257, 97.33, 97.52, 6336392, 0.0, 1, 89.53009088, 89.96242388, 88.21587108, 88.38807919, 6336392)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (797, '2014-10-30', 96.12, 97.8, 96.03, 97.52, 4114578, 0.0, 1, 87.11917732, 88.64185957, 87.03760506, 88.38807919, 4114578)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (798, '2014-10-29', 96.62, 97.2537, 95.8006, 96.42, 4275440, 0.0, 1, 87.57235656, 88.14671593, 86.82968642, 87.39108486, 4275440)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (799, '2014-10-28', 95.91, 96.6, 95.5, 96.59, 5261206, 0.0, 1, 86.92884204, 87.55422939, 86.55723506, 87.54516581, 5261206)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (800, '2014-10-27', 94.96, 95.68, 94.71, 95.47, 4465121, 0.0, 1, 86.06780148, 86.72037959, 85.84121186, 86.53004431, 4465121)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (801, '2014-10-24', 94.6, 95.189, 94.13, 94.99, 4825237, 0.0, 1, 85.74151243, 86.27535757, 85.31552394, 86.09499223, 4825237)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (802, '2014-10-23', 94.5, 95.52, 94.44, 94.8, 5926297, 0.0, 1, 85.65087658, 86.57536223, 85.59649507, 85.92278412, 5926297)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (803, '2014-10-22', 94.3, 94.99, 93.24, 93.34, 5912508, 0.0, 1, 85.46960488, 86.09499223, 84.50886489, 84.59950074, 5912508)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (804, '2014-10-21', 92.53, 94.37, 92.12, 94.2, 6610844, 0.0, 1, 83.86535037, 85.53304998, 83.49374339, 85.37896903, 6610844)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (805, '2014-10-20', 89.87, 92.07, 89.77, 91.85, 5614477, 0.0, 1, 81.45443681, 83.44842547, 81.36380096, 83.2490266, 5614477)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (806, '2014-10-17', 89.3, 91.12, 89.05, 90.24, 7013765, 0.0, 1, 80.93781247, 82.58738491, 80.71122285, 81.78978944, 7013765)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (807, '2014-10-16', 86.35, 89.72, 86.35, 88.88, 7147594, 0.0, 1, 78.26405495, 81.31848303, 78.26405495, 80.55714191, 7147594)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (808, '2014-10-15', 88.09, 89.17, 86.62, 87.85, 12993637, 0.0, 1, 79.84111871, 80.81998587, 78.50877174, 79.62359267, 12993637)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (809, '2014-10-14', 90.37, 90.53, 88.52, 90.1, 9711348, 0.0, 1, 81.90761605, 82.0526334, 80.23085285, 81.66289926, 9711348)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (810, '2014-10-13', 92.88, 92.94, 90.4313, 90.6, 7378868, 0.0, 1, 84.18257584, 84.23695735, 81.96317582, 82.1160785, 7378868)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (811, '2014-10-10', 93.23, 93.86, 92.54, 92.55, 6349941, 0.0, 1, 84.49980131, 85.07080715, 83.87441395, 83.88347754, 6349941)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (812, '2014-10-09', 93.91, 94.79, 93.02, 93.07, 6674794, 0.0, 1, 85.11612507, 85.91372054, 84.30946602, 84.35478395, 6674794)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (813, '2014-10-08', 92.57, 94.16, 92.24, 94.09, 6619266, 0.0, 1, 83.90160471, 85.34271469, 83.60250641, 85.2792696, 6619266)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (814, '2014-10-07', 93.04, 93.56, 92.44, 92.47, 5030738, 0.0, 1, 84.32759319, 84.7988996, 83.78377809999999, 83.81096886, 5030738)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (815, '2014-10-06', 93.72, 94.25, 93.06, 93.26, 4952151, 0.0, 1, 84.94391696, 85.42428696, 84.34572036, 84.52699206, 4952151)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (816, '2014-10-03', 92.52, 93.68, 92.335, 93.54, 6200290, 0.0, 1, 83.85628678, 84.90766262, 83.68861046, 84.78077244, 6200290)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (817, '2014-10-02', 91.31, 92.46, 91.07, 92.24, 5991202, 0.0, 1, 82.75959302, 83.80190527, 82.54206698, 83.60250641, 5991202)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (818, '2014-10-01', 92.14, 92.34, 90.92, 91.02, 5970715, 0.0, 1, 83.51187056, 83.69314226, 82.40611321, 82.49674906, 5970715)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (819, '2014-09-30', 93.03, 93.21, 91.4, 91.74, 6774201, 0.0, 1, 84.31852961, 84.48167414, 82.84116528, 83.14932717, 6774201)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (820, '2014-09-29', 92.37, 93.17, 91.95, 92.88, 3894623, 0.0, 1, 83.72033301, 84.4454198, 83.33966245, 84.18257584, 3894623)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (821, '2014-09-26', 92.29, 93.0, 91.8, 92.84, 4572090, 0.0, 1, 83.64782433, 84.29133885, 83.20370868, 84.1463215, 4572090)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (822, '2014-09-25', 92.8, 93.0, 91.55, 91.9, 4934711, 0.0, 1, 84.11006716, 84.29133885, 82.97711906, 83.29434452, 4934711)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (823, '2014-09-24', 91.68, 93.11, 91.3501, 93.02, 6379689, 0.0, 1, 83.09494566, 84.39103829, 82.79593799, 84.30946602, 6379689)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (824, '2014-09-23', 91.79, 92.22, 91.45, 91.49, 5821024, 0.0, 1, 83.19464509, 83.58437924, 82.88648321, 82.92273755, 5821024)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (825, '2014-09-22', 91.98, 92.42, 91.68, 91.89, 5206670, 0.0, 1, 83.3668532, 83.76565094, 83.09494566, 83.28528094, 5206670)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (826, '2014-09-19', 92.85, 93.75, 92.2, 92.34, 12498800, 0.0, 1, 84.15538508, 84.97110772, 83.56625207, 83.69314226, 12498800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (827, '2014-09-18', 91.83, 92.44, 91.2, 92.09, 6025100, 0.0, 1, 83.23089943, 83.78377809999999, 82.65989359, 83.46655264, 6025100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (828, '2014-09-17', 90.63, 91.54, 89.94, 91.22, 7068800, 0.0, 1, 82.14326925, 82.96805547, 81.5178819, 82.67802076, 7068800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (829, '2014-09-16', 89.27, 90.74, 88.53, 90.27, 5045100, 0.0, 1, 80.91062172, 82.24296868, 80.23991644, 81.8169802, 5045100)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (830, '2014-09-15', 89.18, 89.54, 88.6, 89.38, 3935000, 0.0, 1, 80.82904945, 81.15533851, 80.30336153, 81.01032115, 3935000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (831, '2014-09-12', 89.38, 89.5, 88.46, 88.84, 4593700, 0.0, 1, 81.01032115, 81.11908417, 80.17647135, 80.52088757, 4593700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (832, '2014-09-11', 89.07, 89.42, 88.62, 89.22, 4537800, 0.0, 1, 80.72935002, 81.04657549, 80.3214887, 80.86530379, 4537800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (833, '2014-09-10', 88.66, 89.4, 88.33, 89.25, 6245400, 0.0, 1, 80.35774304, 81.02844832, 80.05864474, 80.89249455, 6245400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (834, '2014-09-09', 90.21, 90.33, 88.775, 88.93, 8103000, 0.0, 1, 81.76259869, 81.87136171, 80.46197427, 80.60245983, 8103000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (835, '2014-09-08', 91.38, 91.78, 90.57, 90.82, 4885900, 0.0, 1, 82.82303811, 83.18558151, 82.08888774, 82.31547736, 4885900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (836, '2014-09-05', 89.66, 91.64, 89.2809, 91.61, 7746400, 0.0, 1, 81.26410152, 83.05869132, 80.92050102, 83.03150056, 7746400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (837, '2014-09-04', 89.0, 90.75, 89.0, 89.93, 8452200, 0.0, 1, 80.66590493, 82.25203227, 80.66590493, 81.50881831, 8452200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (838, '2014-09-03', 91.11, 91.31, 88.98, 89.0, 15410400, 0.0, 1, 82.57832132, 82.75959302, 80.64777776, 80.66590493, 15410400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (839, '2014-09-02', 93.04, 93.31, 89.85, 91.15, 20753200, 0.47, 1, 84.32759319, 84.57230998, 81.43630964, 82.61457566, 20753200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (840, '2014-08-29', 92.74, 93.52, 92.61, 93.5, 7672200, 0.0, 1, 83.62448971, 84.32782270000001, 83.50726754, 84.30978852, 7672200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (841, '2014-08-28', 91.4, 92.73, 91.27, 92.51, 7575700, 0.0, 1, 82.41619969, 83.61547262, 82.29897752, 83.41709664, 7575700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (842, '2014-08-27', 91.68, 91.96, 91.311, 91.87, 4320200, 0.0, 1, 82.6686782, 82.92115671, 82.33594759, 82.84000290000002, 4320200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (843, '2014-08-26', 90.98, 91.83, 90.9, 91.63, 5396400, 0.0, 1, 82.03748192, 82.80393455, 81.96534521, 82.62359275, 5396400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (844, '2014-08-25', 91.25, 91.82, 90.95, 91.2, 7328700, 0.0, 1, 82.28094334, 82.79491746, 82.01043065, 82.2358579, 7328700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (845, '2014-08-22', 90.74, 91.33, 90.65, 91.03, 6939200, 0.0, 1, 81.82107177, 82.35308006, 81.73991796, 82.08256737, 6939200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (846, '2014-08-21', 90.68, 91.80799999999999, 90.67, 91.15, 8315900, 0.0, 1, 81.76696923, 82.78409695, 81.75795214, 82.19077245, 8315900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (847, '2014-08-20', 88.17, 91.07, 88.08, 90.75, 13394200, 0.0, 1, 79.50367972, 82.11863573, 79.42252592, 81.83008886, 13394200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (848, '2014-08-19', 86.9, 88.99, 86.57, 88.23, 18244600, 0.0, 1, 78.35850933, 80.24308108, 78.06094537, 79.55778226, 18244600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (849, '2014-08-18', 84.21, 84.62, 83.29299999999999, 83.59, 9475300, 0.0, 1, 75.93291221, 76.30261289, 75.10604508, 75.37385265, 9475300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (850, '2014-08-15', 84.035, 84.09, 82.845, 83.69, 5383500, 0.0, 1, 75.77511314, 75.82470713, 74.70207947, 75.46402355, 5383500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (851, '2014-08-14', 83.09, 83.965, 82.74, 83.86, 4923000, 0.0, 1, 74.92299816, 75.71199351, 74.60740003, 75.61731407, 4923000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (852, '2014-08-13', 82.98, 83.385, 82.74, 83.12, 4498700, 0.0, 1, 74.82381018, 75.18900231, 74.60740003, 74.95004943, 4498700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (853, '2014-08-12', 82.75, 83.09, 82.68, 82.92, 3657100, 0.0, 1, 74.61641712, 74.92299816, 74.55329749, 74.76970764, 3657100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (854, '2014-08-11', 82.61, 83.07, 82.5, 82.88, 3952000, 0.0, 1, 74.49017786, 74.90496398, 74.39098987, 74.73363928, 3952000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (855, '2014-08-08', 81.07, 82.46, 80.88, 82.43, 7226500, 0.0, 1, 73.10154605, 74.35492151, 72.93022134, 74.32787025, 7226500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (856, '2014-08-07', 80.75, 81.07, 80.29, 80.47, 4045900, 0.0, 1, 72.81299918, 73.10154605, 72.39821305, 72.56052067, 4045900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (857, '2014-08-06', 79.94, 81.02, 79.85, 80.52, 4228200, 0.0, 1, 72.08261491, 73.0564606, 72.00146111, 72.60560612, 4228200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (858, '2014-08-05', 79.78, 80.86, 79.78, 80.03, 5895500, 0.0, 1, 71.93834148, 72.91218717, 71.93834148, 72.16376872, 5895500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (859, '2014-08-04', 79.7, 80.25, 79.66, 80.03, 7025000, 0.0, 1, 71.86620476, 72.36214469, 71.8301364, 72.16376872, 7025000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (860, '2014-08-01', 80.56, 81.0799, 79.74, 79.75, 8708000, 0.0, 1, 72.64167447, 73.11047297, 71.90227312, 71.91129021, 8708000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (861, '2014-07-31', 81.09, 81.58, 80.85, 80.85, 5748900, 0.0, 1, 73.11958023, 73.56141762, 72.90317008, 72.90317008, 5748900)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (862, '2014-07-30', 81.5, 81.85, 81.07, 81.76, 5807300, 0.0, 1, 73.4892809, 73.80487904, 73.10154605, 73.72372524, 5807300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (863, '2014-07-29', 81.21, 81.81, 80.89, 80.98, 4536500, 0.0, 1, 73.2277853, 73.76881068, 72.93923843, 73.02039224, 4536500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (864, '2014-07-28', 81.2, 81.34, 80.66, 81.07, 3441600, 0.0, 1, 73.21876821, 73.34500747, 72.73184537, 73.10154605, 3441600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (865, '2014-07-25', 81.1, 81.3, 80.89, 81.03, 4680100, 0.0, 1, 73.12859732, 73.30893911, 72.93923843, 73.06547769, 4680100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (866, '2014-07-24', 81.19, 81.54, 80.89, 81.2, 4359600, 0.0, 1, 73.20975112, 73.52534926, 72.93923843, 73.21876821, 4359600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (867, '2014-07-23', 80.46, 81.09, 80.21, 81.02, 3669200, 0.0, 1, 72.55150358, 73.11958023, 72.32607634, 73.0564606, 3669200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (868, '2014-07-22', 80.36, 80.75, 80.2, 80.54, 6336100, 0.0, 1, 72.46133268, 72.81299918, 72.31705925, 72.62364029999999, 6336100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (869, '2014-07-21', 80.01, 80.03, 79.525, 79.71, 4112800, 0.0, 1, 72.14573454, 72.16376872, 71.70840569, 71.87522185, 4112800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (870, '2014-07-18', 79.8, 80.28, 79.45, 80.08, 5323200, 0.0, 1, 71.95637566, 72.38919596, 71.64077752, 72.20885417, 5323200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (871, '2014-07-17', 79.8, 80.28, 79.45, 80.08, 7697300, 0.0, 1, 71.95637566, 72.38919596, 71.64077752, 72.20885417, 7697300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (872, '2014-07-16', 80.04, 80.24, 79.38, 79.66, 9033700, 0.0, 1, 72.17278581, 72.3531276, 71.57765789, 71.8301364, 9033700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (873, '2014-07-15', 79.5, 80.06, 79.42, 79.86, 6051900, 0.0, 1, 71.68586297, 72.19081999, 71.61372625, 72.0104782, 6051900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (874, '2014-07-14', 79.92, 80.06, 79.19, 79.46, 7657200, 0.0, 1, 72.06458074, 72.19081999, 71.40633319, 71.64979461, 7657200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (875, '2014-07-11', 79.59, 79.9, 79.21, 79.61, 4746400, 0.0, 1, 71.76701678, 72.04654656, 71.42436737, 71.78505096, 4746400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (876, '2014-07-10', 79.05, 79.58, 77.95, 79.4, 11530900, 0.0, 1, 71.28009393, 71.75799969, 70.28821407, 71.59569207, 11530900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (877, '2014-07-09', 81.11, 81.23, 80.175, 80.73, 6980600, 0.0, 1, 73.13761441, 73.24581948, 72.29451652, 72.794965, 6980600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (878, '2014-07-08', 81.42, 81.53, 80.55, 80.76, 7322900, 0.0, 1, 73.41714419, 73.51633217, 72.63265739, 72.82201627, 7322900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (879, '2014-07-07', 81.73, 82.09, 81.14, 81.42, 6071000, 0.0, 1, 73.69667397, 74.0212892, 73.16466568, 73.41714419, 6071000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (880, '2014-07-03', 82.07, 82.35, 81.8, 82.05, 2764000, 0.0, 1, 74.00325502, 74.25573353, 73.7597936, 73.98522084, 2764000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (881, '2014-07-02', 81.84, 82.18, 81.62, 81.98, 4185700, 0.0, 1, 73.79586195, 74.10244300000001, 73.59748598, 73.92210121, 4185700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (882, '2014-07-01', 81.32, 81.97, 81.22, 81.82, 5234600, 0.0, 1, 73.32697329, 73.91308412, 73.23680239, 73.77782777, 5234600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (883, '2014-06-30', 81.02, 81.23, 80.48, 80.96, 5045300, 0.0, 1, 73.0564606, 73.24581948, 72.56953776, 73.00235806, 5045300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (884, '2014-06-27', 80.65, 81.47, 80.63, 81.13, 5011000, 0.0, 1, 72.72282828, 73.46222964, 72.7047941, 73.15564859, 5011000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (885, '2014-06-26', 80.45, 80.97, 80.12, 80.75, 5165200, 0.0, 1, 72.54248649, 73.01137515, 72.24492253, 72.81299918, 5165200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (886, '2014-06-25', 80.36, 80.61, 80.12, 80.53, 4486300, 0.0, 1, 72.46133268, 72.68675992, 72.24492253, 72.61462321, 4486300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (887, '2014-06-24', 80.38, 80.83, 79.83, 80.43, 5579300, 0.0, 1, 72.47936686, 72.88513590000001, 71.98342693, 72.52445231, 5579300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (888, '2014-06-23', 80.16, 80.8, 79.97, 80.64, 4920400, 0.0, 1, 72.28099089, 72.85808463, 72.10966618, 72.71381119, 4920400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (889, '2014-06-20', 80.69, 80.8, 79.86, 80.17, 13661000, 0.0, 1, 72.75889664, 72.85808463, 72.0104782, 72.29000798, 13661000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (890, '2014-06-19', 80.71, 80.85, 79.95, 80.44, 5095400, 0.0, 1, 72.77693082, 72.90317008, 72.09163199999999, 72.5334694, 5095400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (891, '2014-06-18', 80.03, 80.76, 79.79, 80.71, 8071500, 0.0, 1, 72.16376872, 72.82201627, 71.94735857, 72.77693082, 8071500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (892, '2014-06-17', 78.84, 80.46, 78.73, 80.02, 9587300, 0.0, 1, 71.09073505, 72.55150358, 70.99154706, 72.15475163, 9587300)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (893, '2014-06-16', 77.96, 79.09, 77.96, 78.9, 7164400, 0.0, 1, 70.29723116, 71.31616229, 70.29723116, 71.14483759, 7164400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (894, '2014-06-13', 78.49, 78.59, 77.75, 78.07, 7971800, 0.0, 1, 70.77513691, 70.86530781, 70.10787227, 70.39641914, 7971800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (895, '2014-06-12', 79.73, 79.78, 78.2, 78.43, 7643300, 0.0, 1, 71.89325603, 71.93834148, 70.51364131, 70.72103437, 7643300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (896, '2014-06-11', 80.46, 80.73, 79.76, 79.81, 4918100, 0.0, 1, 72.55150358, 72.794965, 71.92030729999999, 71.96539275, 4918100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (897, '2014-06-10', 80.26, 80.85, 80.22, 80.74, 4249500, 0.0, 1, 72.37116178, 72.90317008, 72.33509343, 72.80398209, 4249500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (898, '2014-06-09', 80.63, 81.32, 80.42, 80.61, 3718600, 0.0, 1, 72.7047941, 73.32697329, 72.51543522, 72.68675992, 3718600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (899, '2014-06-06', 80.58, 81.27, 80.51, 80.64, 4460300, 0.0, 1, 72.65970865, 73.28188784, 72.59658903, 72.71381119, 4460300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (900, '2014-06-05', 80.67, 80.86, 80.28, 80.38, 5666400, 0.0, 1, 72.74086246, 72.91218717, 72.38919596, 72.47936686, 5666400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (901, '2014-06-04', 80.32, 80.89, 80.06, 80.54, 4961600, 0.0, 1, 72.42526432, 72.93923843, 72.19081999, 72.62364029999999, 4961600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (902, '2014-06-03', 80.19, 80.88, 80.15, 80.67, 5477700, 0.47, 1, 72.30804216, 72.93022134, 72.2719738, 72.74086246, 5477700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (903, '2014-06-02', 80.25, 81.06, 80.17, 80.84, 6817700, 0.0, 1, 71.94299005, 72.66914359, 71.87127118, 72.47191670000001, 6817700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (904, '2014-05-30', 79.77, 80.27, 79.58, 80.23, 4528000, 0.0, 1, 71.51267684, 71.96091977, 71.34234452, 71.92506033, 4528000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (905, '2014-05-29', 79.88, 79.99, 79.44, 79.9, 4408900, 0.0, 1, 71.61129028, 71.70990373, 71.2168365, 71.62921999999999, 4408900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (906, '2014-05-28', 79.75, 80.0, 79.27, 79.68, 4002200, 0.0, 1, 71.49474712, 71.71886858, 71.06443391, 71.43199311, 4002200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (907, '2014-05-27', 79.38, 80.0, 79.3, 79.69, 4760600, 0.0, 1, 71.16304735, 71.71886858, 71.09132848, 71.44095797, 4760600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (908, '2014-05-23', 78.77, 79.4, 78.51, 79.18, 5003100, 0.0, 1, 70.61619098, 71.18097707, 70.38310466, 70.98375018, 5003100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (909, '2014-05-22', 77.76, 79.05, 77.76, 78.78, 5265900, 0.0, 1, 69.71074026, 70.86720702, 69.71074026, 70.62515584, 5265900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (910, '2014-05-21', 78.25, 78.51, 77.75, 78.08, 6693900, 0.0, 1, 70.15001833, 70.38310466, 69.70177541, 69.99761574, 6693900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (911, '2014-05-20', 77.92, 78.82, 77.4, 77.96, 15432200, 0.0, 1, 69.854178, 70.66101527, 69.38800535, 69.89003744, 15432200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (912, '2014-05-19', 76.58, 77.07, 76.37, 76.5, 7733800, 0.0, 1, 68.65288695, 69.09216502, 68.46462492, 68.58116808, 7733800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (913, '2014-05-16', 76.79, 77.37, 76.6576, 77.36, 7039400, 0.0, 1, 68.84114898, 69.36111078, 68.72245425, 69.35214592, 7039400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (914, '2014-05-15', 76.05, 76.29, 75.32, 76.24, 6304700, 0.0, 1, 68.17774945, 68.39290605, 67.52331477, 68.34808176, 6304700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (915, '2014-05-14', 77.33, 77.37, 76.17, 76.31, 6870000, 0.0, 1, 69.32525134, 69.36111078, 68.28532775, 68.41083577, 6870000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (916, '2014-05-13', 78.36, 78.675, 77.04, 77.27, 5455500, 0.0, 1, 70.24863178, 70.53102482, 69.06527045, 69.27146219, 5455500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (917, '2014-05-12', 77.82, 78.44, 77.7506, 78.27, 4324200, 0.0, 1, 69.76452942, 70.32035065, 69.70231329999999, 70.16794805, 4324200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (918, '2014-05-09', 77.06, 77.75, 76.81, 77.71, 4345800, 0.0, 1, 69.08320016, 69.70177541, 68.8590787, 69.66591597, 4345800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (919, '2014-05-08', 76.94, 77.73, 76.66, 77.05, 5485100, 0.0, 1, 68.97562186, 69.68384569, 68.72460582, 69.0742353, 5485100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (920, '2014-05-07', 77.85, 77.96, 76.52, 77.08, 5378600, 0.0, 1, 69.79142399, 69.89003744, 68.5990978, 69.10112988, 5378600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (921, '2014-05-06', 78.64, 78.755, 77.35, 77.42, 6475800, 0.0, 1, 70.49964782, 70.60274369, 69.34318106, 69.40593507, 6475800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (922, '2014-05-05', 79.04, 79.18, 78.56, 78.69, 3521000, 0.0, 1, 70.85824216, 70.98375018, 70.42792895, 70.54447211, 3521000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (923, '2014-05-02', 79.32, 80.16, 79.155, 79.4, 3738400, 0.0, 1, 71.1092582, 71.86230632, 70.96133803, 71.18097707, 3738400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (924, '2014-05-01', 79.51, 79.65, 78.95, 79.33, 3936700, 0.0, 1, 71.27959051, 71.40509853, 70.77755843, 71.11822306, 3936700)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (925, '2014-04-30', 79.74, 79.74, 78.73, 79.51, 8524700, 0.0, 1, 71.48578226, 71.48578226, 70.58033155, 71.27959051, 8524700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (926, '2014-04-29', 80.32, 80.32, 79.52, 79.52, 5146500, 0.0, 1, 72.00574406, 72.00574406, 71.28855537, 71.28855537, 5146500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (927, '2014-04-28', 79.53, 81.15, 79.33, 80.17, 14562400, 0.0, 1, 71.29752023, 72.74982732, 71.11822306, 71.87127118, 14562400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (928, '2014-04-25', 79.41, 79.7, 79.03, 79.38, 6381400, 0.0, 1, 71.18994193, 71.44992283, 70.8492773, 71.16304735, 6381400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (929, '2014-04-24', 78.97, 79.81, 78.72, 79.77, 7271600, 0.0, 1, 70.79548815, 71.54853627, 70.57136669, 71.51267684, 7271600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (930, '2014-04-23', 79.87, 80.05, 78.4401, 78.52, 7497000, 0.0, 1, 71.60232542, 71.76369288, 70.32044029999999, 70.39206952, 7497000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (931, '2014-04-22', 78.74, 80.23, 78.63, 79.67, 11188400, 0.0, 1, 70.58929640000001, 71.92506033, 70.49068296, 71.42302825, 11188400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (932, '2014-04-21', 78.35, 78.35, 77.67, 77.96, 6253300, 0.0, 1, 70.23966692, 70.23966692, 69.63005654, 69.89003744, 6253300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (933, '2014-04-17', 76.26, 77.68, 75.91, 77.09, 6875600, 0.0, 1, 68.36601148, 69.6390214, 68.05224143, 69.11009474, 6875600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (934, '2014-04-16', 76.42, 76.58, 75.8, 76.58, 6104700, 0.0, 1, 68.50944921, 68.65288695, 67.95362798, 68.65288695, 6104700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (935, '2014-04-15', 76.29, 76.4, 74.61, 75.89, 7022900, 0.0, 1, 68.39290605, 68.4915195, 66.88680981, 68.03431171, 7022900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (936, '2014-04-14', 76.3, 76.86, 75.51, 75.97, 8677200, 0.0, 1, 68.40187091, 68.90390299, 67.69364708, 68.10603058, 8677200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (937, '2014-04-11', 76.62, 77.06, 75.65, 75.7, 8399100, 0.0, 1, 68.68874639, 69.08320016, 67.8191551, 67.8639794, 8399100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (938, '2014-04-10', 77.62, 78.22, 76.7, 76.78, 6201500, 0.0, 1, 69.58523224, 70.12312376, 68.76046525, 68.83218412, 6201500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (939, '2014-04-09', 77.24, 77.93, 77.14, 77.76, 8027600, 0.0, 1, 69.24456762, 69.86314286, 69.15491903, 69.71074026, 8027600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (940, '2014-04-08', 76.91, 77.44, 76.42, 77.11, 7371000, 0.0, 1, 68.94872728, 69.42386479, 68.50944921, 69.12802446, 7371000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (941, '2014-04-07', 78.69, 78.69, 77.03, 77.13, 11121300, 0.0, 1, 70.54447211, 70.54447211, 69.05630559, 69.14595417, 11121300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (942, '2014-04-04', 79.64, 79.7, 78.49, 78.72, 6422000, 0.0, 1, 71.39613368, 71.44992283, 70.36517494, 70.57136669, 6422000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (943, '2014-04-03', 79.95, 80.02, 78.98, 79.4, 5505400, 0.0, 1, 71.67404429, 71.7367983, 70.80445301, 71.18097707, 5505400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (944, '2014-04-02', 79.54, 80.76, 79.485, 79.95, 6611700, 0.0, 1, 71.30648509, 72.40019784, 71.25717837, 71.67404429, 6611700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (945, '2014-04-01', 79.24, 80.29, 79.24, 79.38, 6697600, 0.0, 1, 71.03753933, 71.97884948, 71.03753933, 71.16304735, 6697600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (946, '2014-03-31', 79.21, 79.33, 78.84, 79.13, 5736200, 0.0, 1, 71.01064476, 71.11822306, 70.67894499, 70.93892589, 5736200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (947, '2014-03-28', 78.92, 79.5, 78.49, 78.72, 5132700, 0.0, 1, 70.75066386, 71.27062566, 70.36517494, 70.57136669, 5132700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (948, '2014-03-27', 78.63, 79.02, 78.37, 78.68, 5803300, 0.0, 1, 70.49068296, 70.84031244, 70.25759664, 70.53550725, 5803300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (949, '2014-03-26', 79.49, 79.78, 78.7, 78.87, 6364600, 0.0, 1, 71.2616608, 71.5216417, 70.55343697, 70.70583957, 6364600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (950, '2014-03-25', 80.05, 80.09, 79.1599, 79.47, 5375500, 0.0, 1, 71.76369288, 71.79955231, 70.96573082, 71.24373108, 5375500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (951, '2014-03-24', 80.41, 80.46, 79.2, 79.66, 7574200, 0.0, 1, 72.08642779, 72.13125208, 71.00167990000001, 71.41406339, 7574200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (952, '2014-03-21', 80.78, 81.9, 80.25, 80.42, 10086100, 0.0, 1, 72.41812755, 73.42219171, 71.94299005, 72.09539264, 10086100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (953, '2014-03-20', 79.71, 80.24, 79.47, 80.09, 5097800, 0.0, 1, 71.45888769, 71.93402519, 71.24373108, 71.79955231, 5097800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (954, '2014-03-19', 79.97, 80.485, 79.4, 79.75, 6568400, 0.0, 1, 71.69197401, 72.15366422, 71.18097707, 71.49474712, 6568400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (955, '2014-03-18', 79.65, 80.56, 79.62, 79.82, 5032600, 0.0, 1, 71.40509853, 72.22090066, 71.37820396, 71.55750113, 5032600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (956, '2014-03-17', 79.57, 80.185, 79.25, 79.58, 5547600, 0.0, 1, 71.33337967, 71.88471847, 71.04650419, 71.34234452, 5547600)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (957, '2014-03-14', 78.82, 79.88, 78.79, 79.38, 6739000, 0.0, 1, 70.66101527, 71.61129028, 70.63412070000001, 71.16304735, 6739000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (958, '2014-03-13', 81.06, 81.06, 78.72, 78.8, 7665800, 0.0, 1, 72.66914359, 72.66914359, 70.57136669, 70.64308556, 7665800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (959, '2014-03-12', 80.73, 80.85, 80.24, 80.56, 7048700, 0.0, 1, 72.37330326, 72.48088156, 71.93402519, 72.22090066, 7048700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (960, '2014-03-11', 81.69, 81.8499, 81.05, 81.29, 4667900, 0.47, 1, 73.23392968, 73.37727777, 72.66017873, 72.87533534, 4667900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (961, '2014-03-10', 82.44, 82.54, 81.73, 82.18, 4139000, 0.0, 1, 73.48144136, 73.57057459999999, 72.84859537, 73.24969494, 4139000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (962, '2014-03-07', 82.61, 82.67, 82.04, 82.55, 5287700, 0.0, 1, 73.63296786, 73.68644781, 73.12490841, 73.57948792, 5287700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (963, '2014-03-06', 82.78, 82.89, 82.23, 82.41, 6168400, 0.0, 1, 73.78449437, 73.88254093, 73.29426156, 73.45470139, 6168400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (964, '2014-03-05', 82.91, 83.2, 82.575, 82.91, 5069900, 0.0, 1, 73.90036758, 74.15885397, 73.60177123, 73.90036758, 5069900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (965, '2014-03-04', 82.89, 83.2, 82.71, 82.87, 6367600, 0.0, 1, 73.88254093, 74.15885397, 73.72210109999999, 73.86471428, 6367600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (966, '2014-03-03', 80.73, 82.0299, 80.62, 82.0, 8359500, 0.0, 1, 71.95726299, 73.11590595, 71.85921643, 73.08925511, 8359500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (967, '2014-02-28', 81.89, 83.1, 81.39, 82.03, 7239600, 0.0, 1, 72.99120855, 74.06972073, 72.54554236, 73.11599508, 7239600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (968, '2014-02-27', 81.66, 82.2, 80.61, 81.97, 6040900, 0.0, 1, 72.7862021, 73.26752159, 71.85030309999999, 73.06251514, 6040900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (969, '2014-02-26', 80.99, 82.71, 80.79, 81.7, 9737800, 0.0, 1, 72.18900941, 73.72210109999999, 72.01074293, 72.8218554, 9737800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (970, '2014-02-25', 79.68, 81.0, 79.33, 80.98, 13421700, 0.0, 1, 71.02136399, 72.19792273, 70.70939766, 72.18009608, 13421700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (971, '2014-02-24', 77.84, 78.25, 77.46, 77.87, 11739500, 0.0, 1, 69.38131241, 69.74675869, 69.04260611, 69.40805238, 11739500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (972, '2014-02-21', 77.36, 78.04, 77.36, 77.74, 7764500, 0.0, 1, 68.95347287, 69.55957889, 68.95347287, 69.29217917, 7764500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (973, '2014-02-20', 76.59, 77.56, 76.54, 77.48, 5852200, 0.0, 1, 68.26714694, 69.13173935, 68.22258032, 69.06043276, 5852200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (974, '2014-02-19', 77.25, 77.52, 76.4, 76.45, 7767800, 0.0, 1, 68.85542631, 69.09608605, 68.09779379, 68.14236041, 7767800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (975, '2014-02-18', 77.92, 78.08, 77.07, 77.57, 4954700, 0.0, 1, 69.452619, 69.59523218, 68.69498648, 69.14065267, 4954700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (976, '2014-02-14', 77.75, 78.13, 77.32, 77.93, 4752300, 0.0, 1, 69.30109250000001, 69.6397988, 68.91781958, 69.46153233, 4752300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (977, '2014-02-13', 77.34, 77.8654, 76.94, 77.59, 6586900, 0.0, 1, 68.93564622, 69.40395226, 68.57911327, 69.15847932, 6586900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (978, '2014-02-12', 76.91, 77.33, 76.67, 77.28, 7345900, 0.0, 1, 68.5523733, 68.9267329, 68.33845353, 68.88216628, 7345900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (979, '2014-02-11', 76.44, 76.99, 76.17, 76.7, 6292900, 0.0, 1, 68.13344708, 68.62367989, 67.89278734, 68.3651935, 6292900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (980, '2014-02-10', 76.56, 76.59, 75.88, 76.41, 6343600, 0.0, 1, 68.24040697, 68.26714694, 67.63430095, 68.10670711, 6343600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (981, '2014-02-07', 76.17, 76.6, 75.85, 76.45, 6194200, 0.0, 1, 67.89278734, 68.27606026, 67.60756098, 68.14236041, 6194200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (982, '2014-02-06', 75.19, 76.2, 75.17, 76.16, 6107100, 0.0, 1, 67.01928161, 67.91952731, 67.00145496, 67.88387402, 6107100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (983, '2014-02-05', 74.73, 75.545, 73.96, 75.26, 10080300, 0.0, 1, 66.60926871, 67.3357046, 65.92294278, 67.08167487, 10080300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (984, '2014-02-04', 75.51, 75.85, 74.17, 74.97, 9573400, 0.0, 1, 67.30450797, 67.60756098, 66.11012258, 66.82318848, 9573400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (985, '2014-02-03', 76.64, 76.73, 74.93, 75.09, 9527000, 0.0, 1, 68.31171356, 68.39193347, 66.78753519, 66.93014837, 9527000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (986, '2014-01-31', 76.2, 77.47, 75.85, 76.85, 10592200, 0.0, 1, 67.91952731, 69.05151943, 67.60756098, 68.49889336, 10592200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (987, '2014-01-30', 77.23, 77.76, 76.6499, 76.93, 6820900, 0.0, 1, 68.83759966, 69.31000582, 68.32053775, 68.57019995, 6820900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (988, '2014-01-29', 78.28, 78.75, 76.63, 76.68, 9195300, 0.0, 1, 69.77349866, 70.19242488, 68.30280023, 68.34736685, 9195300)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (989, '2014-01-28', 78.42, 78.93, 77.821, 78.54, 10586500, 0.0, 1, 69.89828519, 70.35286471, 69.3643771, 70.00524508, 10586500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (990, '2014-01-27', 78.86, 79.17, 78.52, 78.94, 6591200, 0.0, 1, 70.29047144, 70.56678448, 69.98741843, 70.36177803, 6591200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (991, '2014-01-24', 79.61, 80.0, 79.16, 79.16, 7118300, 0.0, 1, 70.95897072, 71.30659035, 70.55787115, 70.55787115, 7118300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (992, '2014-01-23', 79.62, 80.3, 79.19, 80.24, 6387000, 0.0, 1, 70.96788405, 71.57399007, 70.58461112, 71.52051012, 6387000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (993, '2014-01-22', 80.66, 80.81, 79.92, 80.2, 5821600, 0.0, 1, 71.89486972, 72.02856958, 71.23528376, 71.48485683, 5821600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (994, '2014-01-21', 81.3, 81.5, 79.81, 80.46, 6932800, 0.0, 1, 72.46532245, 72.64358892, 71.1372372, 71.71660325, 6932800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (995, '2014-01-17', 81.32, 81.35, 80.65, 81.0, 6178000, 0.0, 1, 72.48314909, 72.50988906, 71.8859564, 72.19792273, 6178000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (996, '2014-01-16', 80.9, 81.38, 80.78, 81.26, 4871200, 0.0, 1, 72.10878949, 72.53662904, 72.00182961, 72.42966915, 4871200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (997, '2014-01-15', 80.85, 81.43, 80.74, 81.07, 5196800, 0.0, 1, 72.06422287, 72.58119565, 71.96617631, 72.260316, 5196800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (998, '2014-01-14', 81.28, 81.488, 80.61, 81.01, 5217300, 0.0, 1, 72.4474958, 72.63289293, 71.85030309999999, 72.20683606, 5217300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (999, '2014-01-13', 81.61, 82.13, 80.96, 80.97, 6952400, 0.0, 1, 72.74163548, 73.20512832, 72.16226944, 72.17118276, 6952400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1000, '2014-01-10', 81.72, 82.04, 81.42, 82.01, 4981000, 0.0, 1, 72.83968204, 73.12490841, 72.57228233, 73.09816843, 4981000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1001, '2014-01-09', 81.9, 81.94, 80.975, 81.57, 4966000, 0.0, 1, 73.00012187, 73.03577517, 72.17563942, 72.70598219, 4966000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1002, '2014-01-08', 81.54, 81.94, 81.03, 81.93, 4662300, 0.0, 1, 72.67924222, 73.03577517, 72.2246627, 73.02686184, 4662300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1003, '2014-01-07', 81.31, 81.92, 81.08, 81.5, 4630900, 0.0, 1, 72.47423577, 73.01794852, 72.26922932, 72.64358892, 4630900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1004, '2014-01-06', 81.65, 81.98, 81.1, 81.1, 11188800, 0.0, 1, 72.77728878, 73.07142846, 72.28705597, 72.28705597, 11188800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1005, '2014-01-03', 81.91, 82.48, 81.83, 81.89, 3897900, 0.0, 1, 73.00903520000001, 73.51709465, 72.93772861, 72.99120855, 3897900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1006, '2014-01-02', 82.11, 82.57, 81.8, 82.02, 4253400, 0.0, 1, 73.18730167, 73.59731457, 72.91098864, 73.10708176, 4253400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1007, '2013-12-31', 81.99, 82.47, 81.715, 82.34, 4493600, 0.0, 1, 73.08034179, 73.50818133, 72.83522538, 73.39230812, 4493600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1008, '2013-12-30', 81.67, 81.98, 81.459, 81.94, 3526400, 0.0, 1, 72.79511543, 73.07142846, 72.60704429, 73.03577517, 3526400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1009, '2013-12-27', 81.65, 82.24, 81.22, 81.64, 3961900, 0.0, 1, 72.77728878, 73.30317488, 72.39401585, 72.76837545, 3961900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1010, '2013-12-26', 80.84, 81.74, 80.81, 81.55, 3848800, 0.0, 1, 72.05530955, 72.85750869, 72.02856958, 72.68815554, 3848800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1011, '2013-12-24', 80.56, 80.96, 80.56, 80.64, 1819800, 0.0, 1, 71.80573648, 72.16226944, 71.80573648, 71.87704307, 1819800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1012, '2013-12-23', 80.07, 80.92, 80.04, 80.56, 3941300, 0.0, 1, 71.36898362, 72.12661614, 71.34224365, 71.80573648, 3941300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1013, '2013-12-20', 80.18, 80.83, 80.04, 80.04, 11232900, 0.0, 1, 71.46703018, 72.04639623, 71.34224365, 71.34224365, 11232900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1014, '2013-12-19', 80.08, 80.47, 79.64, 79.95, 6620800, 0.0, 1, 71.37789694, 71.72551657, 70.98571070000001, 71.26202373, 6620800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1015, '2013-12-18', 78.8, 80.06, 78.3101, 80.05, 8170300, 0.0, 1, 70.2369915, 71.36007029, 69.80032776, 71.35115697, 8170300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1016, '2013-12-17', 79.31, 79.37, 78.61, 78.62, 6226000, 0.0, 1, 70.69157101, 70.74505095, 70.06763834, 70.07655167, 6226000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1017, '2013-12-16', 79.21, 79.76, 78.93, 79.1, 7099700, 0.0, 1, 70.60243777, 71.09267058, 70.35286471, 70.50439121, 7099700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1018, '2013-12-13', 79.09, 79.57, 78.52, 79.01, 6027100, 0.0, 1, 70.49547789, 70.92331743, 69.98741843, 70.4241713, 6027100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1019, '2013-12-12', 78.99, 79.2, 78.28, 78.53, 8535200, 0.0, 1, 70.40634465, 70.59352445, 69.77349866, 69.99633175, 8535200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1020, '2013-12-11', 78.38, 79.81, 78.38, 79.0, 7834500, 0.0, 1, 69.8626319, 71.1372372, 69.8626319, 70.41525797, 7834500)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1021, '2013-12-10', 79.32, 79.93, 78.4, 78.61, 7448400, 0.0, 1, 70.70048433, 71.24419709, 69.88045855, 70.06763834, 7448400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1022, '2013-12-09', 79.91, 80.6, 79.53, 79.6, 5799800, 0.0, 1, 71.22637044, 71.84138978, 70.88766413, 70.9500574, 5799800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1023, '2013-12-06', 79.08, 80.05, 78.81, 79.84, 5094600, 0.0, 1, 70.48656456, 71.35115697, 70.24590482, 71.16397717, 5094600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1024, '2013-12-05', 78.32, 79.54, 78.27, 78.54, 6264900, 0.0, 1, 69.80915195, 70.89657746, 69.76458534, 70.00524508, 6264900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1025, '2013-12-04', 78.15, 78.75, 77.7, 78.4, 7148800, 0.0, 1, 69.65762545, 70.19242488, 69.25652588, 69.88045855, 7148800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1026, '2013-12-03', 78.96, 79.48, 78.31, 78.71, 7276900, 0.39, 1, 70.37960468, 70.84309751, 69.80023863, 70.15677158, 7276900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1027, '2013-12-02', 80.45, 80.75, 79.52, 79.77, 5915600, 0.0, 1, 71.35413747, 71.62021878, 70.52928541, 70.75101984, 5915600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1028, '2013-11-29', 80.88, 81.39, 80.63, 80.67, 3372600, 0.0, 1, 71.73552068, 72.18785890000001, 71.51378625, 71.54926376, 3372600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1029, '2013-11-27', 80.34, 80.75, 80.12, 80.66, 5450000, 0.0, 1, 71.25657432, 71.62021878, 71.06144803, 71.54039439, 5450000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1030, '2013-11-26', 80.21, 80.9, 80.09, 80.35, 9360700, 0.0, 1, 71.14127242, 71.75325943, 71.03483990000001, 71.2654437, 9360700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1031, '2013-11-25', 79.3, 80.04, 79.3, 79.75, 5496100, 0.0, 1, 70.33415912, 70.99049301, 70.33415912, 70.73328108, 5496100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1032, '2013-11-22', 79.6, 79.82, 78.78, 79.18, 7786200, 0.0, 1, 70.60024043, 70.79536672, 69.87295152, 70.2277266, 7786200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1033, '2013-11-21', 80.06, 80.06, 79.36, 79.83, 5618600, 0.0, 1, 71.00823177, 71.00823177, 70.38737538, 70.8042361, 5618600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1034, '2013-11-20', 80.73, 80.73, 79.38, 79.75, 7236900, 0.0, 1, 71.60248002, 71.60248002, 70.40511414, 70.73328108, 7236900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1035, '2013-11-19', 82.22, 82.27, 80.26, 80.38, 12236700, 0.0, 1, 72.92401719, 72.96836407, 71.18561931, 71.29205183, 12236700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1036, '2013-11-18', 80.0, 80.4699, 79.19, 79.67, 8613000, 0.0, 1, 70.95501551, 71.37178753, 70.23659598, 70.66232607, 8613000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1037, '2013-11-15', 78.84, 80.09, 78.5626, 80.03, 10414800, 0.0, 1, 69.92616778, 71.03483990000001, 69.68013127, 70.98162364, 10414800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1038, '2013-11-14', 78.14, 79.34, 78.06, 78.94, 6843800, 0.0, 1, 69.30531140000001, 70.36963663, 69.23435638, 70.01486155, 6843800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1039, '2013-11-13', 75.69, 77.69, 75.69, 77.6, 7064700, 0.0, 1, 67.13231405, 68.90618943, 67.13231405, 68.82636504, 7064700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1040, '2013-11-12', 75.84, 76.59, 75.72, 76.18, 6629200, 0.0, 1, 67.2653547, 67.93055797, 67.15892218, 67.56691352, 6629200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1041, '2013-11-11', 75.27, 75.6671, 74.93, 75.37, 5774000, 0.0, 1, 66.75980022, 67.11200317, 66.4582414, 66.84849398, 5774000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1042, '2013-11-08', 75.28, 75.71, 74.78, 75.48, 9229700, 0.0, 1, 66.76866959, 67.1500528, 66.32520075, 66.94605713, 9229700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1043, '2013-11-07', 76.82, 77.19, 75.67, 75.69, 5424600, 0.0, 1, 68.13455364, 68.46272059, 67.11457529, 67.13231405, 5424600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1044, '2013-11-06', 76.72, 76.79, 75.91, 76.42, 5059600, 0.0, 1, 68.04585987, 68.10794551, 67.32744034, 67.77977856, 5059600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1045, '2013-11-05', 76.78, 76.8, 76.07, 76.65, 6035300, 0.0, 1, 68.09907613, 68.11681489, 67.46935037, 67.98377423, 6035300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1046, '2013-11-04', 77.18, 77.42, 76.61, 77.0, 3906500, 0.0, 1, 68.45385121, 68.66671626, 67.94829673, 68.29420243, 3906500)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1047, '2013-11-01', 77.98, 78.03, 76.84, 76.99, 7178300, 0.0, 1, 69.16340137, 69.20774825, 68.15229239, 68.28533305, 7178300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1048, '2013-10-31', 77.99, 78.4461, 77.52, 77.89, 7577600, 0.0, 1, 69.17227074, 69.57680302, 68.75541003, 69.08357697, 7577600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1049, '2013-10-30', 77.68, 78.6, 77.52, 77.88, 7251900, 0.0, 1, 68.89732006, 69.71330274, 68.75541003, 69.07470759999998, 7251900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1050, '2013-10-29', 76.45, 77.55, 76.39, 77.5, 7248000, 0.0, 1, 67.80638669, 68.78201816, 67.75317043, 68.73767127, 7248000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1051, '2013-10-28', 76.15, 76.4, 75.8, 76.06, 7728100, 0.0, 1, 67.54030539, 67.76203981, 67.22987719, 67.46048099, 7728100)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1052, '2013-10-25', 76.55, 76.61, 76.01, 76.25, 5944200, 0.0, 1, 67.89508046, 67.94829673, 67.41613411, 67.62899916, 5944200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1053, '2013-10-24', 75.42, 76.84, 75.41, 76.78, 7927400, 0.0, 1, 66.89284087, 68.15229239, 66.88397149, 68.09907613, 7927400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1054, '2013-10-23', 74.54, 75.41, 74.51, 75.08, 5526100, 0.0, 1, 66.1123357, 66.88397149, 66.08572757, 66.59128205, 5526100)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1055, '2013-10-22', 75.04, 75.125, 74.5901, 74.86, 6867000, 0.0, 1, 66.55580455, 66.63119425, 66.15677128, 66.39615576, 6867000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1056, '2013-10-21', 74.6, 74.8, 74.15, 74.62, 7578700, 0.0, 1, 66.16555196, 66.3429395, 65.76643, 66.18329071, 7578700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1057, '2013-10-18', 75.26, 75.5, 73.74, 74.69, 14334800, 0.0, 1, 66.75093084, 66.96379588, 65.40278554, 66.24537635, 14334800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1058, '2013-10-17', 74.51, 75.81, 74.505, 75.74, 7176400, 0.0, 1, 66.08572757, 67.23874657, 66.08129288, 67.17666093, 7176400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1059, '2013-10-16', 75.44, 75.59, 74.57, 74.94, 12877900, 0.0, 1, 66.91057962, 67.04362028, 66.13894383, 66.46711078, 12877900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1060, '2013-10-15', 76.14, 76.24, 75.09, 75.18, 6645400, 0.0, 1, 67.53143601, 67.62012978, 66.60015143, 66.67997582, 6645400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1061, '2013-10-14', 75.74, 76.52, 75.59, 76.35, 4119000, 0.0, 1, 67.17666093, 67.86847233, 67.04362028, 67.71769292, 4119000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1062, '2013-10-11', 75.45, 76.63, 75.42, 76.32, 6936700, 0.0, 1, 66.919449, 67.96603548, 66.89284087, 67.69108479, 6936700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1063, '2013-10-10', 75.04, 75.51, 74.74, 75.51, 6092800, 0.0, 1, 66.55580455, 66.97266526, 66.28972324, 66.97266526, 6092800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1064, '2013-10-09', 74.35, 74.64, 73.9, 74.14, 6817600, 0.0, 1, 65.94381754, 66.20102947, 65.54469557, 65.75756062, 6817600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1065, '2013-10-08', 75.02, 75.27, 74.17, 74.27, 8997900, 0.0, 1, 66.53806579, 66.75980022, 65.78416875, 65.87286252, 8997900)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1066, '2013-10-07', 75.4, 75.85, 75.0939, 75.13, 5087000, 0.0, 1, 66.87510212, 67.27422408, 66.60361049, 66.63562894, 5087000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1067, '2013-10-04', 75.8, 76.245, 75.48, 75.78, 4855800, 0.0, 1, 67.22987719, 67.62456447, 66.94605713, 67.21213844, 4855800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1068, '2013-10-03', 76.4, 76.83, 75.51, 75.88, 6979700, 0.0, 1, 67.76203981, 68.14342302, 66.97266526, 67.30083221, 6979700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1069, '2013-10-02', 75.86, 76.38, 75.44, 76.32, 5118400, 0.0, 1, 67.28309345, 67.74430106, 66.91057962, 67.69108479, 5118400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1070, '2013-10-01', 75.88, 76.42, 75.64, 76.26, 4411700, 0.0, 1, 67.30083221, 67.77977856, 67.08796716, 67.63786853, 4411700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1071, '2013-09-30', 75.18, 76.08, 74.96, 75.85, 6276200, 0.0, 1, 66.67997582, 67.47821975, 66.48484953, 67.27422408, 6276200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1072, '2013-09-27', 75.65, 76.094, 75.38, 75.96, 4058700, 0.0, 1, 67.09683654, 67.49063688, 66.85736336, 67.37178722, 4058700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1073, '2013-09-26', 75.62, 76.42, 75.62, 76.07, 3798200, 0.0, 1, 67.07022841, 67.77977856, 67.07022841, 67.46935037, 3798200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1074, '2013-09-25', 75.88, 76.31, 75.26, 75.52, 6785600, 0.0, 1, 67.30083221, 67.68221542, 66.75093084, 66.98153464, 6785600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1075, '2013-09-24', 75.8, 76.79, 75.58, 76.04, 5412700, 0.0, 1, 67.22987719, 68.10794551, 67.03475089999999, 67.44274224, 5412700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1076, '2013-09-23', 76.46, 76.76, 75.765, 75.91, 6248800, 0.0, 1, 67.81525607, 68.08133738, 67.19883437, 67.32744034, 6248800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1077, '2013-09-20', 78.81, 78.81, 77.0, 77.0, 14158300, 0.0, 1, 69.89955965, 69.89955965, 68.29420243, 68.29420243, 14158300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1078, '2013-09-19', 77.84, 78.72, 77.64, 78.51, 7693700, 0.0, 1, 69.03923009, 69.81973526, 68.86184255, 69.63347834, 7693700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1079, '2013-09-18', 75.77, 77.98, 75.35, 77.37, 10594300, 0.0, 1, 67.20326906, 69.16340137, 66.83075523, 68.62236937, 10594300)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1080, '2013-09-17', 75.64, 76.15, 75.57, 75.8, 6825600, 0.0, 1, 67.08796716, 67.54030539, 67.02588152, 67.22987719, 6825600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1081, '2013-09-16', 76.05, 76.29, 75.2, 75.54, 8054400, 0.0, 1, 67.45161162, 67.66447666, 66.69771458, 66.99927339, 8054400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1082, '2013-09-13', 75.33, 75.41, 74.84, 75.11, 4888400, 0.0, 1, 66.81301648, 66.88397149, 66.37841701, 66.61789018, 4888400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1083, '2013-09-12', 75.18, 75.74, 74.97, 75.4, 6872200, 0.0, 1, 66.67997582, 67.17666093, 66.49371891, 66.87510212, 6872200)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1084, '2013-09-11', 74.66, 75.11, 74.16, 75.04, 6441500, 0.0, 1, 66.21876822, 66.61789018, 65.77529938, 66.55580455, 6441500)

inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1085, '2013-09-10', 73.96, 74.65, 73.7413, 74.6, 6438700, 0.0, 1, 65.59791184, 66.20989885, 65.40393856, 66.16555196, 6438700)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1086, '2013-09-09', 72.98, 73.79, 72.9, 73.58, 5781800, 0.0, 1, 64.72871289999999, 65.44713243, 64.65775788, 65.26087551, 5781800)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1087, '2013-09-06', 73.55, 73.56, 72.21, 72.7, 9968400, 0.0, 1, 65.23426738, 65.24313676, 64.04577087, 64.48037034, 9968400)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1088, '2013-09-05', 74.07, 74.21, 72.84, 72.99, 11039000, 0.0, 1, 65.69547498, 65.81964626, 64.60454162, 64.73758227, 11039000)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1089, '2013-09-04', 73.98, 74.51, 73.74, 74.14, 8271600, 0.0, 1, 65.61565059, 66.08572757, 65.40278554, 65.75756062, 8271600)
inserting: insert into eod_hd (id, Date, Open, Low, High, Close, Volume, Dividend, Split, AdjOpen, AdjLow, AdjHigh, AdjClose, AdjVolume) values (1090, '2013-09-03', 74.83, 75.25, 73.68, 73.9, 7802800, 0.39, 1, 66.36954763, 66.74206146, 65.34956928, 65.54469557, 7802800)

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,2017-12-28,190.91,190.98,189.64,189.78,3175631,0.0,1,185.341172,185.409131,184.108218,184.244134,3175631
1,2,2017-12-27,190.60,191.49,190.01,190.19,5912613,0.0,1,185.040215,185.904254,184.467425,184.642175,5912613
2,3,2017-12-26,188.53,190.42,188.34,190.36,2969182,0.0,1,183.030597,184.865466,182.846139,184.807216,2969182
3,4,2017-12-22,188.20,188.46,187.27,188.13,3256519,0.0,1,182.710223,182.962639,181.807351,182.642265,3256519
4,5,2017-12-21,187.70,188.84,187.44,188.08,5859058,0.0,1,182.224808,183.331554,181.972392,182.593723,5859058

In [12]:
df = get_df("""SELECT * from eod_hd""")
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

In [13]:
df.head()

,id,Open,High,Low,Close,Volume,Dividend,Split,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,,
2017-12-28,1,190.91,189.64,190.98,189.78,3175631.0,0.0,1.0,185.341172,184.108218,185.409131,184.244134,3175631.0
2017-12-27,2,190.60,190.01,191.49,190.19,5912613.0,0.0,1.0,185.040215,184.467425,185.904254,184.642175,5912613.0
2017-12-26,3,188.53,188.34,190.42,190.36,2969182.0,0.0,1.0,183.030597,182.846139,184.865466,184.807216,2969182.0
2017-12-22,4,188.20,187.27,188.46,188.13,3256519.0,0.0,1.0,182.710223,181.807351,182.962639,182.642265,3256519.0
2017-12-21,5,187.70,187.44,188.84,188.08,5859058.0,0.0,1.0,182.224808,181.972392,183.331554,182.593723,5859058.0

In [10]:
df.to_json()

'{"Open":{"1514419200000":190.91,"1514332800000":190.6,"1514246400000":188.53,"1513900800000":188.2,"1513814400000":187.7,"1513728000000":187.14,"1513641600000":185.235,"1513555200000":183.96,"1513296000000":183.005,"1513209600000":183.88,"1513123200000":182.01,"1513036800000":182.75,"1512950400000":182.9,"1512691200000":182.5,"1512604800000":180.05,"1512518400000":180.25,"1512432000000":184.79,"1512345600000":183.19,"1512086400000":180.32,"1512000000000":178.07,"1511913600000":176.57,"1511827200000":174.89,"1511740800000":172.87,"1511481600000":172.11,"1511308800000":172.89,"1511222400000":170.53,"1511136000000":168.14,"1510876800000":167.0,"1510790400000":166.68,"1510704000000":167.44,"1510617600000":163.62,"1510531200000":164.64,"1510272000000":163.34,"1510185600000":164.1,"1510099200000":163.34,"1510012800000":164.09,"1509926400000":164.8,"1509667200000":163.01,"1509580800000":165.01,"1509494400000":166.42,"1509408000000":165.4,"1509321600000":166.99,"1509062400000":166.8,"1508976000000":166.39,"1508889600000":166.11,"1508803200000":164.67,"1508716800000":164.04,"1508457600000":163.97,"1508371200000":163.5,"1508284800000":163.42,"1508198400000":164.22,"1508112000000":164.47,"1507852800000":164.92,"1507766400000":165.41,"1507680000000":165.19,"1507593600000":165.7,"1507507200000":166.14,"1507248000000":166.18,"1507161600000":165.07,"1507075200000":165.49,"1506988800000":164.06,"1506902400000":164.2,"1506643200000":162.5,"1506556800000":160.72,"1506470400000":161.38,"1506384000000":161.55,"1506297600000":160.05,"1506038400000":159.14,"1505952000000":158.87,"1505865600000":157.57,"1505779200000":157.8,"1505692800000":159.0,"1505433600000":159.98,"1505347200000":160.35,"1505260800000":160.39,"1505174400000":159.06,"1505088000000":158.42,"1504828800000":159.09,"1504742400000":158.17,"1504656000000":154.86,"1504569600000":151.71,"1504224000000":150.26,"1504137600000":150.61,"1504051200000":150.0,"1503964800000":150.07,"1503878400000":151.94,"1503619200000":148.51,"1503532800000":149.73,"1503446400000":148.58,"1503360000000":149.29,"1503273600000":147.1,"1503014400000":149.61,"1502928000000":151.81,"1502841600000":151.45,"1502755200000":154.275,"1502668800000":156.04,"1502409600000":154.11,"1502323200000":155.19,"1502236800000":153.35,"1502150400000":153.32,"1502064000000":152.83,"1501804800000":151.01,"1501718400000":150.7,"1501632000000":149.94,"1501545600000":150.24,"1501459200000":148.0,"1501200000000":147.9,"1501113600000":146.18,"1501027200000":146.86,"1500940800000":145.74,"1500854400000":146.61,"1500595200000":147.03,"1500508800000":152.56,"1500422400000":152.55,"1500336000000":153.75,"1500249600000":152.9,"1499990400000":153.22,"1499904000000":152.82,"1499817600000":151.46,"1499731200000":151.45,"1499644800000":152.22,"1499385600000":152.04,"1499299200000":151.77,"1499212800000":154.01,"1499040000000":154.39,"1498780800000":152.51,"1498694400000":152.77,"1498608000000":152.75,"1498521600000":151.06,"1498435200000":151.67,"1498176000000":155.16,"1498089600000":156.44,"1498003200000":157.91,"1497916800000":158.73,"1497830400000":156.91,"1497571200000":156.25,"1497484800000":156.13,"1497398400000":154.5,"1497312000000":152.31,"1497225600000":152.8,"1496966400000":154.0,"1496880000000":155.16,"1496793600000":154.69,"1496707200000":154.44,"1496620800000":155.53,"1496361600000":154.79,"1496275200000":153.52,"1496188800000":154.36,"1496102400000":154.0,"1495756800000":156.1,"1495670400000":156.2,"1495584000000":154.7,"1495497600000":155.91,"1495411200000":156.49,"1495152000000":156.04,"1495065600000":155.48,"1494979200000":157.08,"1494892800000":160.11,"1494806400000":157.28,"1494547200000":156.39,"1494460800000":157.35,"1494374400000":157.52,"1494288000000":157.04,"1494201600000":155.85,"1493942400000":155.34,"1493856000000":155.46,"1493769600000":155.16,"1493683200000":154.49,"1493596800000":156.22,"1493337600000":156.01,"1493251200000":154.69,"1493164800000":153.11,"1493078400000":152.79,"1492992000000":151.08,"1492732800000":148.49,"1492646400000":147.66,"1492560000000":147.93,"1492473600000":147.06,"1492387200000":145.9,"1492041600000":146.42,"1491955200000":147.42,"1491868800000":147.91,"1491782400000":146.96,"1491523200000":147.1,"1491436800000":147.04,"1491350400000":146.63,"1491264000000":146.5,"1491177600000":146.94,"1490918400000":146.87,"1490832000000":146.72,"1490745600000":146.37,"1490659200000":147.29,"1490572800000":147.07,"1490313600000":147.85,"1490227200000":147.28,"1490140800000":146.73,"1490054400000":148.33,"1489968000000":149.38,"1489708800000":149.4,"1489622400000":148.4,"1489536000000":147.35,"1489449600000":147.27,"1489363200000":147.33,"1489104000000":147.24,"1489017600000":147.08,"1488931200000":146.22,"1488844800000":146.33,"1488758400000":147.13,"1488499200000":148.12,"1488412800000":147.08,"1488326400000":146.72,"1488240000000":144.98,"1488153600000":145.87,"1487894400000":144.65,"1487808000000":146.11,"1487721600000":145.05,"1487635200000":145.6,"1487289600000":141.36,"1487203200000":142.39,"1487116800000":141.27,"1487030400000":139.95,"1486944000000":140.48,"1486684800000":138.6,"1486598400000":137.78,"1486512000000":136.89,"1486425600000":137.16,"1486339200000":137.43,"1486080000000":137.26,"1485993600000":137.47,"1485907200000":137.66,"1485820800000":137.63,"1485734400000":137.99,"1485475200000":138.8,"1485388800000":138.01,"1485302400000":138.45,"1485216000000":137.88,"1485129600000":135.31,"1484870400000":135.26,"1484784000000":136.0,"1484697600000":135.9,"1484611200000":135.09,"1484265600000":134.92,"1484179200000":135.51,"1484092800000":136.1,"1484006400000":134.0,"1483920000000":133.22,"1483660800000":133.97,"1483574400000":134.98,"1483488000000":134.34,"1483401600000":135.1,"1483056000000":135.64,"1482969600000":135.02,"1482883200000":135.57,"1482796800000":134.76,"1482451200000":135.65,"1482364800000":136.25,"1482278400000":136.93,"1482192000000":135.65,"1482105600000":135.06,"1481846400000":136.11,"1481760000000":136.51,"1481673600000":136.05,"1481587200000":134.55,"1481500800000":133.13,"1481241600000":132.51,"1481155200000":132.21,"1481068800000":128.75,"1480982400000":130.13,"1480896000000":130.32,"1480636800000":129.04,"1480550400000":129.34,"1480464000000":129.34,"1480377600000":130.35,"1480291200000":131.25,"1480032000000":131.86,"1479859200000":131.36,"1479772800000":128.38,"1479686400000":128.28,"1479427200000":128.93,"1479340800000":125.87,"1479254400000":123.6,"1479168000000":127.07,"1479081600000":130.5,"1478822400000":129.06,"1478736000000":126.72,"1478649600000":120.95,"1478563200000":123.95,"1478476800000":122.5,"1478217600000":120.54,"1478131200000":120.34,"1478044800000":119.93,"1477958400000":121.69,"1477872000000":123.35,"1477612800000":122.7,"1477526400000":122.71,"1477440000000":122.83,"1477353600000":126.27,"1477267200000":127.23,"1477008000000":125.31,"1476921600000":125.95,"1476835200000":125.76,"1476748800000":126.15,"1476662400000":126.18,"1476403200000":126.9,"1476316800000":126.25,"1476230400000":125.85,"1476144000000":126.85,"1476057600000":128.45,"1475798400000":129.83,"1475712000000":126.87,"1475625600000":128.32,"1475539200000":128.53,"1475452800000":128.2,"1475193600000":127.87,"1475107200000":128.5,"1475020800000":127.21,"1474934400000":125.8,"1474848000000":127.1,"1474588800000":128.63,"1474502400000":128.82,"1474416000000":127.52,"1474329600000":126.86,"1474243200000":126.68,"1473984000000":127.02,"1473897600000":125.97,"1473811200000":125.61,"1473724800000":127.74,"1473638400000":126.5,"1473379200000":130.64,"1473292800000":131.55,"1473206400000":133.3,"1473120000000":134.96,"1472774400000":134.77,"1472688000000":134.48,"1472601600000":133.89,"1472515200000":134.8,"1472428800000":134.86,"1472169600000":135.43,"1472083200000":134.73,"1471996800000":135.77,"1471910400000":135.93,"1471824000000":135.6,"1471564800000":134.42,"1471478400000":136.03,"1471392000000":135.5,"1471305600000":137.65,"1471219200000":137.11,"1470960000000":136.0,"1470873600000":136.31,"1470787200000":136.3,"1470700800000":136.27,"1470614400000":136.91,"1470355200000":137.0,"1470268800000":135.79,"1470182400000":137.13,"1470096000000":138.91,"1470009600000":138.06,"1469750400000":137.46,"1469664000000":136.19,"1469577600000":137.01,"1469491200000":136.5,"1469404800000":136.55,"1469145600000":136.41,"1469059200000":136.76,"1468972800000":137.4,"1468886400000":136.07,"1468800000000":135.46,"1468540800000":135.12,"1468454400000":134.4,"1468368000000":134.84,"1468281600000":135.24,"1468195200000":134.83,"1467936000000":132.33,"1467849600000":131.25,"1467763200000":129.2,"1467676800000":129.6,"1467331200000":128.29,"1467244800000":127.27,"1467158400000":127.9,"1467072000000":125.89,"1466985600000":125.34,"1466726400000":126.1,"1466640000000":128.98,"1466553600000":127.69,"1466467200000":127.96,"1466380800000":128.13,"1466121600000":127.52,"1466035200000":126.05,"1465948800000":125.74,"1465862400000":127.31,"1465776000000":128.94,"1465516800000":128.45,"1465430400000":129.27,"1465344000000":130.01,"1465257600000":129.38,"1465171200000":130.82,"1464912000000":132.53,"1464825600000":131.85,"1464739200000":131.58,"1464652800000":133.57,"1464307200000":134.07,"1464220800000":133.13,"1464134400000":133.46,"1464048000000":132.18,"1463961600000":131.84,"1463702400000":131.89,"1463616000000":131.45,"1463529600000":131.03,"1463443200000":133.15,"1463356800000":133.84,"1463097600000":133.81,"1463011200000":135.0,"1462924800000":136.8,"1462838400000":136.32,"1462752000000":135.59,"1462492800000":134.48,"1462406400000":134.87,"1462320000000":133.59,"1462233600000":135.45,"1462147200000":134.37,"1461888000000":132.71,"1461801600000":134.81,"1461715200000":135.37,"1461628800000":135.09,"1461542400000":135.18,"1461283200000":134.85,"1461196800000":135.23,"1461110400000":135.75,"1461024000000":136.8,"1460937600000":134.81,"1460678400000":134.41,"1460592000000":133.5,"1460505600000":134.86,"1460419200000":133.3,"1460332800000":133.58,"1460073600000":134.62,"1459987200000":134.73,"1459900800000":134.25,"1459814400000":134.2,"1459728000000":136.07,"1459468800000":133.1,"1459382400000":133.56,"1459296000000":133.11,"1459209600000":131.0,"1459123200000":130.6,"1458777600000":129.54,"1458691200000":130.59,"1458604800000":130.61,"1458518400000":131.53,"1458259200000":131.14,"1458172800000":130.1,"1458086400000":129.63,"1458000000000":128.78,"1457913600000":128.43,"1457654400000":126.97,"1457568000000":126.2,"1457481600000":127.03,"1457395200000":125.22,"1457308800000":125.01,"1457049600000":127.37,"1456963200000":125.2,"1456876800000":125.48,"1456790400000":124.78,"1456704000000":126.26,"1456444800000":127.59,"1456358400000":125.76,"1456272000000":124.05,"1456185600000":127.0,"1456099200000":123.0,"1455840000000":119.82,"1455753600000":120.93,"1455667200000":120.45,"1455580800000":118.12,"1455235200000":114.88,"1455148800000":113.08,"1455062400000":114.5,"1454976000000":110.94,"1454889600000":114.93,"1454630400000":120.89,"1454544000000":123.65,"1454457600000":126.02,"1454371200000":125.41,"1454284800000":124.92,"1454025600000":123.17,"1453939200000":121.97,"1453852800000":122.46,"1453766400000":121.73,"1453680000000":123.38,"1453420800000":121.64,"1453334400000":117.38,"1453248000000":117.89,"1453161600000":120.54,"1452816000000":117.12,"1452729600000":121.29,"1452643200000":127.47,"1452556800000":126.78,"1452470400000":124.87,"1452211200000":126.44,"1452124800000":126.93,"1452038400000":129.0,"1451952000000":131.15,"1451865600000":130.11,"1451520000000":133.08,"1451433600000":133.58,"1451347200000":133.37,"1451260800000":132.25,"1450915200000":132.8,"1450828800000":132.49,"1450742400000":131.37,"1450656000000":131.0,"1450396800000":130.73,"1450310400000":133.06,"1450224000000":132.17,"1450137600000":132.62,"1450051200000":131.09,"1449792000000":131.09,"1449705600000":131.96,"1449619200000":133.21,"1449532800000":132.71,"1449446400000":134.0,"1449187200000":131.55,"1449100800000":133.52,"1449014400000":134.56,"1448928000000":133.52,"1448841600000":135.2,"1448582400000":134.81,"1448409600000":133.69,"1448323200000":131.93,"1448236800000":130.21,"1447977600000":127.36,"1447891200000":126.53,"1447804800000":126.44,"1447718400000":124.86,"1447632000000":120.05,"1447372800000":123.1,"1447286400000":124.18,"1447200000000":125.43,"1447113600000":124.49,"1447027200000":125.8,"1446768000000":125.27,"1446681600000":125.46,"1446595200000":125.48,"1446508800000":124.23,"1446422400000":124.24,"1446163200000":123.27,"1446076800000":123.42,"1445990400000":124.38,"1445904000000":124.51,"1445817600000":124.55,"1445558400000":125.01,"1445472000000":123.9,"1445385600000":123.29,"1445299200000":122.89,"1445212800000":122.61,"1444953600000":121.63,"1444867200000":120.62,"1444780800000":121.33,"1444694400000":121.77,"1444608000000":121.49,"1444348800000":121.27,"1444262400000":119.31,"1444176000000":119.2,"1444089600000":119.1,"1444003200000":118.75,"1443744000000":115.56,"1443657600000":116.23,"1443571200000":114.37,"1443484800000":114.21,"1443398400000":116.53,"1443139200000":117.23,"1443052800000":115.34,"1442966400000":115.85,"1442880000000":115.4,"1442793600000":115.96,"1442534400000":116.51,"1442448000000":118.33,"1442361600000":116.08,"1442275200000":114.78,"1442188800000":115.5,"1441929600000":113.97,"1441843200000":114.0,"1441756800000":117.11,"1441670400000":115.69,"1441324800000":114.68,"1441238400000":117.03,"1441152000000":114.89,"1441065600000":114.12,"1440979200000":116.92,"1440720000000":117.43,"1440633600000":117.57,"1440547200000":114.06,"1440460800000":117.0,"1440374400000":110.05,"1440115200000":119.54,"1440028800000":121.98,"1439942400000":122.67,"1439856000000":121.83,"1439769600000":119.1,"1439510400000":119.3,"1439424000000":118.0,"1439337600000":117.13,"1439251200000":117.02,"1439164800000":117.53,"1438905600000":116.7,"1438819200000":118.39,"1438732800000":118.38,"1438646400000":116.63,"1438560000000":117.62,"1438300800000":116.98,"1438214400000":115.94,"1438128000000":115.16,"1438041600000":113.76,"1437955200000":113.37,"1437696000000":114.74,"1437609600000":115.21,"1437523200000":113.96,"1437436800000":113.41,"1437350400000":112.25,"1437091200000":114.49,"1437004800000":115.87,"1436918400000":115.42,"1436832000000":114.5,"1436745600000":114.21,"1436486400000":112.67,"1436400000000":112.32,"1436313600000":111.72,"1436227200000":111.72,"1436140800000":110.27,"1435795200000":112.58,"1435708800000":112.45,"1435622400000":111.15,"1435536000000":111.56,"1435276800000":112.77,"1435190400000":113.24,"1435104000000":112.94,"1435017600000":113.24,"1434931200000":112.93,"1434672000000":111.64,"1434585600000":111.06,"1434499200000":110.73,"1434412800000":109.9,"1434326400000":110.23,"1434067200000":110.89,"1433980800000":111.0,"1433894400000":109.9,"1433808000000":109.79,"1433721600000":110.14,"1433462400000":111.34,"1433376000000":112.52,"1433289600000":111.72,"1433203200000":110.75,"1433116800000":111.97,"1432857600000":111.84,"1432771200000":111.91,"1432684800000":111.04,"1432598400000":112.0,"1432252800000":111.87,"1432166400000":111.98,"1432080000000":112.19,"1431993600000":116.12,"1431907200000":113.87,"1431648000000":111.92,"1431561600000":112.05,"1431475200000":112.92,"1431388800000":111.12,"1431302400000":112.24,"1431043200000":112.4,"1430956800000":108.4,"1430870400000":108.2,"1430784000000":109.2,"1430697600000":109.94,"1430438400000":106.98,"1430352000000":108.56,"1430265600000":110.17,"1430179200000":110.9,"1430092800000":114.05,"1429833600000":113.88,"1429747200000":112.74,"1429660800000":113.2,"1429574400000":113.5,"1429488000000":113.0,"1429228800000":112.91,"1429142400000":113.34,"1429056000000":114.58,"1428969600000":114.2,"1428883200000":114.96,"1428624000000":114.47,"1428537600000":115.46,"1428451200000":113.97,"1428364800000":114.83,"1428278400000":113.45,"1427932800000":112.61,"1427846400000":113.88,"1427760000000":113.7,"1427673600000":114.96,"1427414400000":112.08,"1427328000000":113.36,"1427241600000":115.96,"1427155200000":116.2,"1427068800000":117.04,"1426809600000":115.55,"1426723200000":116.21,"1426636800000":115.41,"1426550400000":115.45,"1426464000000":115.33,"1426204800000":115.99,"1426118400000":113.85,"1426032000000":112.68,"1425945600000":113.85,"1425859200000":114.38,"1425600000000":115.96,"1425513600000":115.23,"1425427200000":115.39,"1425340800000":116.11,"1425254400000":114.86,"1424995200000":115.19,"1424908800000":116.0,"1424822400000":117.35,"1424736000000":117.5,"1424649600000":112.99,"1424390400000":110.81,"1424304000000":112.01,"1424217600000":111.6,"1424131200000":111.69,"1423785600000":112.01,"1423699200000":110.81,"1423612800000":110.6,"1423526400000":108.79,"1423440000000":108.88,"1423180800000":109.28,"1423094400000":108.98,"1423008000000":107.09,"1422921600000":104.89,"1422835200000":104.78,"1422576000000":106.36,"1422489600000":105.14,"1422403200000":105.31,"1422316800000":104.78,"1422230400000":105.36,"1421971200000":106.21,"1421884800000":104.38,"1421798400000":103.05,"1421712000000":104.84,"1421366400000":100.86,"1421280000000":103.32,"1421193600000":102.42,"1421107200000":105.41,"1421020800000":105.17,"1420761600000":106.88,"1420675200000":105.37,"1420588800000":102.29,"1420502400000":102.07,"1420416000000":102.78,"1420156800000":105.16,"1419984000000":104.75,"1419897600000":104.44,"1419811200000":103.58,"1419552000000":103.98,"1419379200000":104.05,"1419292800000":103.66,"1419206400000":102.25,"1418947200000":100.92,"1418860800000":100.34,"1418774400000":97.59,"1418688000000":99.38,"1418601600000":100.01,"1418342400000":99.69,"1418256000000":99.28,"1418169600000":99.36,"1418083200000":99.69,"1417996800000":99.71,"1417737600000":98.77,"1417651200000":98.15,"1417564800000":98.1,"1417478400000":98.62,"1417392000000":99.49,"1417132800000":98.06,"1416960000000":97.06,"1416873600000":98.64,"1416787200000":98.68,"1416528000000":98.98,"1416441600000":96.08,"1416355200000":96.55,"1416268800000":97.15,"1416182400000":98.17,"1415923200000":98.9,"1415836800000":98.9,"1415750400000":98.3,"1415664000000":98.46,"1415577600000":97.64,"1415318400000":97.17,"1415232000000":96.35,"1415145600000":96.59,"1415059200000":96.06,"1414972800000":96.81,"1414713600000":98.78,"1414627200000":96.12,"1414540800000":96.62,"1414454400000":95.91,"1414368000000":94.96,"1414108800000":94.6,"1414022400000":94.5,"1413936000000":94.3,"1413849600000":92.53,"1413763200000":89.87,"1413504000000":89.3,"1413417600000":86.35,"1413331200000":88.09,"1413244800000":90.37,"1413158400000":92.88,"1412899200000":93.23,"1412812800000":93.91,"1412726400000":92.57,"1412640000000":93.04,"1412553600000":93.72,"1412294400000":92.52,"1412208000000":91.31,"1412121600000":92.14,"1412035200000":93.03,"1411948800000":92.37,"1411689600000":92.29,"1411603200000":92.8,"1411516800000":91.68,"1411430400000":91.79,"1411344000000":91.98,"1411084800000":92.85,"1410998400000":91.83,"1410912000000":90.63,"1410825600000":89.27,"1410739200000":89.18,"1410480000000":89.38,"1410393600000":89.07,"1410307200000":88.66,"1410220800000":90.21,"1410134400000":91.38,"1409875200000":89.66,"1409788800000":89.0,"1409702400000":91.11,"1409616000000":93.04,"1409270400000":92.74,"1409184000000":91.4,"1409097600000":91.68,"1409011200000":90.98,"1408924800000":91.25,"1408665600000":90.74,"1408579200000":90.68,"1408492800000":88.17,"1408406400000":86.9,"1408320000000":84.21,"1408060800000":84.035,"1407974400000":83.09,"1407888000000":82.98,"1407801600000":82.75,"1407715200000":82.61,"1407456000000":81.07,"1407369600000":80.75,"1407283200000":79.94,"1407196800000":79.78,"1407110400000":79.7,"1406851200000":80.56,"1406764800000":81.09,"1406678400000":81.5,"1406592000000":81.21,"1406505600000":81.2,"1406246400000":81.1,"1406160000000":81.19,"1406073600000":80.46,"1405987200000":80.36,"1405900800000":80.01,"1405641600000":79.8,"1405555200000":79.8,"1405468800000":80.04,"1405382400000":79.5,"1405296000000":79.92,"1405036800000":79.59,"1404950400000":79.05,"1404864000000":81.11,"1404777600000":81.42,"1404691200000":81.73,"1404345600000":82.07,